Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

refactor(testing): consolidate testing modules
  ext/README.md
  ext/junit/build.gradle.kts
  ext/junit/src/main/kotlin/com/github/albertocavalcante/gvy/junit/JUnit5TestDetector.kt
  ext/junit/src/main/kotlin/com/github/albertocavalcante/gvy/junit4/JUnit4TestDetector.kt
  ext/junit/src/test/kotlin/com/github/albertocavalcante/gvy/junit/JUnit5TestDetectorTest.kt
  ext/junit/src/test/kotlin/com/github/albertocavalcante/gvy/junit4/JUnit4TestDetectorTest.kt
  ext/testing/build.gradle.kts
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/api/TestFramework.kt
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/api/TestFrameworkDetector.kt
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/api/TestItem.kt
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/registry/TestFrameworkRegistry.kt
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/spock/SpockTestDetector.kt
  ext/testing/src/test/kotlin/com/github/albertocavalcante/gvy/testing/registry/TestFrameworkRegistryTest.kt
  gls/build.gradle.kts
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/GroovyLanguageServer.kt
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/codelens/TestCodeLensProvider.kt
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/testing/TestDiscoveryProvider.kt
  gls/src/test/kotlin/com/github/albertocavalcante/gvy/gls/providers/testing/TestDiscoveryProviderTest.kt
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/fixtures/DiagnosticFixture.kt
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/fixtures/GroovySourceFixture.kt
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/mocks/MockPatterns.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestFramework.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestFrameworkDetector.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestItem.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistry.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/spock/SpockTestDetector.kt
  groovy-testing/src/test/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistryTest.kt
  settings.gradle.kts
  test-utils/README.md
  test-utils/build.gradle.kts
  test-utils/src/main/kotlin/com/github/albertocavalcante/gvy/testutils/fixtures/DiagnosticFixture.kt
  test-utils/src/main/kotlin/com/github/albertocavalcante/gvy/testutils/fixtures/GroovySourceFixture.kt
  test-utils/src/main/kotlin/com/github/albertocavalcante/gvy/testutils/mocks/MockPatterns.kt
Due: kotlin-lint, markdown-lint

refactor(testing): consolidate testing modules (#1026)
  ext/README.md
  ext/junit/build.gradle.kts
  ext/junit/src/main/kotlin/com/github/albertocavalcante/gvy/junit/JUnit5TestDetector.kt
  ext/junit/src/main/kotlin/com/github/albertocavalcante/gvy/junit4/JUnit4TestDetector.kt
  ext/junit/src/test/kotlin/com/github/albertocavalcante/gvy/junit/JUnit5TestDetectorTest.kt
  ext/junit/src/test/kotlin/com/github/albertocavalcante/gvy/junit4/JUnit4TestDetectorTest.kt
  ext/testing/build.gradle.kts
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/api/TestFramework.kt
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/api/TestFrameworkDetector.kt
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/api/TestItem.kt
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/registry/TestFrameworkRegistry.kt
  ext/testing/src/main/kotlin/com/github/albertocavalcante/gvy/testing/spock/SpockTestDetector.kt
  ext/testing/src/test/kotlin/com/github/albertocavalcante/gvy/testing/registry/TestFrameworkRegistryTest.kt
  gls/build.gradle.kts
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/GroovyLanguageServer.kt
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/codelens/TestCodeLensProvider.kt
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/testing/TestDiscoveryProvider.kt
  gls/src/test/kotlin/com/github/albertocavalcante/gvy/gls/providers/testing/TestDiscoveryProviderTest.kt
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/fixtures/DiagnosticFixture.kt
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/fixtures/GroovySourceFixture.kt
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/mocks/MockPatterns.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestFramework.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestFrameworkDetector.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/api/TestItem.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistry.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/spock/SpockTestDetector.kt
  groovy-testing/src/test/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistryTest.kt
  settings.gradle.kts
  test-utils/README.md
  test-utils/build.gradle.kts
  test-utils/src/main/kotlin/com/github/albertocavalcante/gvy/testutils/fixtures/DiagnosticFixture.kt
  test-utils/src/main/kotlin/com/github/albertocavalcante/gvy/testutils/fixtures/GroovySourceFixture.kt
  test-utils/src/main/kotlin/com/github/albertocavalcante/gvy/testutils/mocks/MockPatterns.kt
Due: kotlin-lint, markdown-lint

fix(bazel): fix semantics/native and JUnit version
  BAZEL_STATUS.md
  MODULE.bazel
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/NativeTypeContext.kt
Due: kotlin-lint

fix(bazel): resolve compilation and BUILD file errors
  MODULE.bazel
  editors/code/BUILD.bazel
  editors/code/client/BUILD.bazel
  jenkins/BUILD.bazel
  jupyter/kernels/groovy/BUILD.bazel
  jupyter/kernels/jenkins/BUILD.bazel
  parser/native/BUILD.bazel
  tests/BUILD.bazel
  tools/BUILD.bazel
  tools/lint/BUILD.bazel
  viz/ast-model/BUILD.bazel
  viz/desktop/BUILD.bazel
Due: none

fix(bazel): resolve test deps and kotlin internal access
  MODULE.bazel
  bsp/bsp-core/BUILD.bazel
  build-tool/BUILD.bazel
  dsl/dsld/BUILD.bazel
  dsl/gdsl/BUILD.bazel
  editors/code/package.json
  ext/junit/BUILD.bazel
  ext/spock/BUILD.bazel
  ext/testing/BUILD.bazel
  indexer/core/BUILD.bazel
  indexer/lsif/BUILD.bazel
  indexer/scip/BUILD.bazel
  jenkins/BUILD.bazel
  jupyter/kernel-core/BUILD.bazel
  jupyter/kernels/groovy/BUILD.bazel
  jupyter/kernels/jenkins/BUILD.bazel
  markdown/BUILD.bazel
  parser/api/BUILD.bazel
  parser/core/BUILD.bazel
  parser/native/BUILD.bazel
  parser/rewrite/BUILD.bazel
  repl/BUILD.bazel
  semantics/core/BUILD.bazel
  semantics/dsl/BUILD.bazel
  semantics/native/BUILD.bazel
  semantics/openrewrite/BUILD.bazel
  tests/BUILD.bazel
  tools/build_defs/kotlin.bzl
  tools/jenkins-extractor/BUILD.bazel
  viz/ast-model/BUILD.bazel
  viz/desktop/BUILD.bazel
Due: none

fix(bazel): correct JUnit 6 versions, add gradle-tooling-api, align pnpm
  MIGRATION.md
  MODULE.bazel
  build-tool/BUILD.bazel
  diagnostics/codenarc/BUILD.bazel
  diagnostics/sarif/BUILD.bazel
  tools/build_defs/kotlin.bzl
Due: none

chore: remove migration docs from repo
  BAZEL.md
  BAZEL_STATUS.md
  BAZEL_WORKTREE_DISK_SPACE_SOLUTIONS.md
  MIGRATION.md
  docs/GRADLE_TO_BAZEL_MIGRATION.md
  docs/MIGRATION_ISSUES.md
  tools/migrate/README.md
Due: markdown-lint

fix(bazel): update deps and rule versions for Bazel 9 compatibility
  BUILD.bazel
  MODULE.bazel
  bsp/bsp-core/BUILD.bazel
  diagnostics/codenarc/BUILD.bazel
  dsl/dsld/BUILD.bazel
  editors/code/client/BUILD.bazel
  gls/BUILD.bazel
  jenkins/BUILD.bazel
  parser/core/BUILD.bazel
  semantics/core/BUILD.bazel
  semantics/openrewrite/BUILD.bazel
  tests/BUILD.bazel
Due: none

docs(bazel): document rules_kotlin architecture and version constraints
  MODULE.bazel
  editors/code/client/BUILD.bazel
  tools/build_defs/kotlin.bzl
Due: none

feat(bazel): modernize to Starlark rules and symbolic macros
  MODULE.bazel
  jupyter/kernel-core/BUILD.bazel
  jupyter/kernels/groovy/BUILD.bazel
  jupyter/kernels/jenkins/BUILD.bazel
  tools/build_defs/java.bzl
  tools/build_defs/kotlin.bzl
Due: none

wip(bazel): fix build errors and disable incompatible modules
  BUILD.bazel
  MODULE.bazel
  dsl/gdsl/BUILD.bazel
  editors/code/BUILD.bazel
  editors/code/client/BUILD.bazel
  editors/code/pnpm-workspace.yaml
  ext/junit/BUILD.bazel
  ext/spock/BUILD.bazel
  ext/testing/BUILD.bazel
  fmt/BUILD.bazel
  gls/BUILD.bazel
  indexer/core/BUILD.bazel
  indexer/scip/BUILD.bazel
  jenkins/BUILD.bazel
  jupyter/kernel-core/BUILD.bazel
  jupyter/kernel-core/src/main/kotlin/com/github/albertocavalcante/gvy/jupyter/core/protocol/ConnectionFile.kt
  jupyter/kernels/groovy/BUILD.bazel
  jupyter/kernels/jenkins/BUILD.bazel
  markdown/BUILD.bazel
  parser/api/BUILD.bazel
  parser/rewrite/BUILD.bazel
  refactor/openrewrite/rewrite-codenarc/BUILD.bazel
  repl/BUILD.bazel
  semantics/native/BUILD.bazel
  semantics/openrewrite/BUILD.bazel
  tests/BUILD.bazel
  tools/build_defs/BUILD.bazel
  tools/build_defs/kotlin.bzl
  viz/ast-model/BUILD.bazel
  viz/desktop/BUILD.bazel
Due: kotlin-lint, yaml-lint

docs(bazel): document Kotlin 2.3.0 limitation and git_override failure
  MODULE.bazel
  docs/bazel_migration_summary.md
Due: markdown-lint

feat(bazel): fix JUnit 6 test discovery
  MODULE.bazel
  MODULE.bazel.lock
  bsp/bsp-core/BUILD.bazel
  diagnostics/codenarc/BUILD.bazel
  diagnostics/sarif/BUILD.bazel
  docs/bazel_migration_summary.md
  dsl/dsld/BUILD.bazel
  dsl/gdsl/BUILD.bazel
  ext/junit/BUILD.bazel
  ext/spock/BUILD.bazel
  fmt/BUILD.bazel
  indexer/core/BUILD.bazel
  indexer/lsif/BUILD.bazel
  indexer/scip/BUILD.bazel
  jenkins/BUILD.bazel
  jupyter/kernel-core/BUILD.bazel
  jupyter/kernels/groovy/BUILD.bazel
  jupyter/kernels/jenkins/BUILD.bazel
  markdown/BUILD.bazel
  parser/api/BUILD.bazel
  parser/core/BUILD.bazel
  parser/native/BUILD.bazel
  parser/rewrite/BUILD.bazel
  refactor/openrewrite/rewrite-codenarc/BUILD.bazel
  repl/BUILD.bazel
  semantics/core/BUILD.bazel
  semantics/dsl/BUILD.bazel
  semantics/native/BUILD.bazel
  semantics/openrewrite/BUILD.bazel
  tests/BUILD.bazel
  tools/build_defs/kotlin.bzl
  tools/jenkins-extractor/BUILD.bazel
  viz/ast-model/BUILD.bazel
  viz/desktop/BUILD.bazel
Due: markdown-lint

fix(bazel): resolve test resource loading and dependency conflicts
  MODULE.bazel
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/TestResources.kt
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/gradle/GradleBuildToolTest.kt
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/maven/MavenBuildToolTest.kt
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/maven/RepositoryProviderTest.kt
  dsl/gdsl/BUILD.bazel
  jupyter/kernels/groovy/BUILD.bazel
  jupyter/kernels/jenkins/BUILD.bazel
  parser/native/BUILD.bazel
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/KitchenSinkCoverageTest.kt
Due: kotlin-lint

fix(bazel): address PR review comments
  .bazelrc
  Makefile
  gls/BUILD.bazel
  tools/BUILD.bazel
  tools/build_defs/java.bzl
Due: none

feat(bazel): add reports/schemas modules and optimize dependencies
  bsp/bsp-core/BUILD.bazel
  dsl/dsld/BUILD.bazel
  dsl/gdsl/BUILD.bazel
  indexer/core/BUILD.bazel
  parser/native/BUILD.bazel
  repl/BUILD.bazel
  reports/api/BUILD.bazel
  reports/coverage/BUILD.bazel
  reports/results/BUILD.bazel
  schemas/BUILD.bazel
Due: none

fix(bazel): resolve test failures for bazel test //...
  repl/BUILD.bazel
  reports/coverage/BUILD.bazel
  reports/coverage/src/test/kotlin/com/github/albertocavalcante/reports/coverage/parsers/JacocoParserTest.kt
  reports/results/BUILD.bazel
  reports/results/src/test/kotlin/com/github/albertocavalcante/reports/results/parsers/SurefireParserTest.kt
  tools/build_defs/kotlin.bzl
Due: kotlin-lint

fix(bazel): add kotlin-logging dependency and fix build errors
  MODULE.bazel
  bsp/bsp-core/BUILD.bazel
  diagnostics/codenarc/BUILD.bazel
  diagnostics/sarif/src/test/kotlin/com/github/albertocavalcante/gvy/diagnostics/sarif/SarifRuleRegistryTest.kt
  dsl/dsld/BUILD.bazel
  dsl/gdsl/BUILD.bazel
  ext/junit/BUILD.bazel
  ext/spock/BUILD.bazel
  indexer/core/BUILD.bazel
  jenkins/BUILD.bazel
  parser/core/BUILD.bazel
  parser/native/BUILD.bazel
  repl/BUILD.bazel
Due: kotlin-lint

feat(bazel): add Kotlin 2.3.0 support via rules_kotlin fork and Wire proto rule
  MODULE.bazel
  MODULE.bazel.lock
  indexer/scip/BUILD.bazel
  indexer/scip/src/main/proto/BUILD.bazel
  tools/BUILD.bazel
  tools/build_defs/wire.bzl
  tools/scripts/publish-rules-kotlin-fork.sh
Due: shell-lint

feat(bazel): enable VS Code extension build with rules_ts and rules_esbuild
  .bazelignore
  editors/code/BUILD.bazel
  editors/code/client/BUILD.bazel
  editors/code/client/tsconfig.json
  editors/code/package.json
  editors/code/pnpm-lock.yaml
Due: yaml-lint

fix(bazel): enable full groovy-lsp build with Kotlin 2.3 and JVM CLI deps
  MODULE.bazel
  gls/BUILD.bazel
  tools/BUILD.bazel
Due: none

refactor(bazel): fix strict Kotlin deps and update rules_java to 9.3.0
  MODULE.bazel
  MODULE.bazel.lock
  bsp/bsp-core/BUILD.bazel
  diagnostics/codenarc/BUILD.bazel
  diagnostics/sarif/BUILD.bazel
  dsl/dsld/BUILD.bazel
  dsl/gdsl/BUILD.bazel
  ext/junit/BUILD.bazel
  ext/spock/BUILD.bazel
  fmt/BUILD.bazel
  gls/BUILD.bazel
  indexer/core/BUILD.bazel
  indexer/lsif/BUILD.bazel
  indexer/scip/BUILD.bazel
  jenkins/BUILD.bazel
  jupyter/kernel-core/BUILD.bazel
  jupyter/kernels/groovy/BUILD.bazel
  jupyter/kernels/jenkins/BUILD.bazel
  markdown/BUILD.bazel
  parser/api/BUILD.bazel
  parser/core/BUILD.bazel
  parser/native/BUILD.bazel
  parser/rewrite/BUILD.bazel
  refactor/openrewrite/rewrite-codenarc/BUILD.bazel
  repl/BUILD.bazel
  reports/api/BUILD.bazel
  reports/coverage/BUILD.bazel
  reports/results/BUILD.bazel
  semantics/core/BUILD.bazel
  semantics/dsl/BUILD.bazel
  semantics/native/BUILD.bazel
  semantics/openrewrite/BUILD.bazel
  tools/jenkins-extractor/BUILD.bazel
  viz/ast-model/BUILD.bazel
Due: none

feat(bazel): add bsp/maven-bsp module to Bazel build
  bsp/maven-bsp/BUILD.bazel
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/TestResources.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/integration/MavenBspIntegrationTest.kt
Due: kotlin-lint

refactor(bazel): optimize kt_test macro deps to eliminate strict deps warnings
  MODULE.bazel.lock
  bsp/bsp-core/BUILD.bazel
  dsl/gdsl/BUILD.bazel
  ext/junit/BUILD.bazel
  fmt/BUILD.bazel
  jenkins/BUILD.bazel
  jupyter/kernel-core/BUILD.bazel
  parser/core/BUILD.bazel
  repl/BUILD.bazel
  reports/api/BUILD.bazel
  tools/build_defs/kotlin.bzl
  tools/jenkins-extractor/BUILD.bazel
Due: none

fix(bazel): enable build-tool, fix post-rebase target references
  build-tool/BUILD.bazel
  common/BUILD.bazel
  dsl/dsld/BUILD.bazel
  dsl/gdsl/BUILD.bazel
  ext/spock/BUILD.bazel
  fmt/BUILD.bazel
  gls/BUILD.bazel
  jenkins/BUILD.bazel
  parser/native/BUILD.bazel
  repl/BUILD.bazel
  semantics/core/BUILD.bazel
  semantics/native/BUILD.bazel
Due: none

feat(bazel): enable jenkins, ast-model, and e2e tests
  jenkins/BUILD.bazel
  schemas/BUILD.bazel
  tests/BUILD.bazel
  viz/ast-model/BUILD.bazel
Due: none

feat(bazel): add test-utils module
  test-utils/BUILD.bazel
Due: none

feat(bazel): enable schemas with Wire proto generation
  schemas/BUILD.bazel
Due: none

fix(bazel): revert Compose experiment, keep viz/desktop manual
  tools/build_defs/BUILD.bazel
  viz/desktop/BUILD.bazel
Due: none

fix(scripts): address remaining PR #1017 review feedback
  .agent/scripts/pr.py
Due: python-lint

fix(scripts): use PROMPT_MAX_CHARS_DEFAULT constant consistently
  .agent/scripts/pr.py
Due: python-lint

fix(scripts): validate prompt size and clarify oom guidance (#1027)
  .agent/scripts/pr.py
Due: python-lint

feat(bazel): add rules_jvm_external patches for future Gradle resolver use
  MODULE.bazel
  maven_install.json
  third_party/patches/BUILD.bazel
  third_party/patches/rules_jvm_external_gradle_build_java9.patch
  third_party/patches/rules_jvm_external_gradle_resolver_java9.patch
  third_party/patches/rules_jvm_external_lockfile_java9.patch
  tools/build_defs/BUILD.bazel
  viz/desktop/BUILD.bazel
Due: none

feat(bazel): add GMM patches for Compose Multiplatform support
  MODULE.bazel
  MODULE.bazel.lock
  handoff.md
  third_party/patches/BUILD.bazel
  third_party/patches/rules_jvm_external_artifact_file_key.patch
  third_party/patches/rules_jvm_external_artifact_file_key_1.patch
  third_party/patches/rules_jvm_external_artifact_file_key_2.patch
  third_party/patches/rules_jvm_external_coursier_gmm.patch
  third_party/patches/rules_jvm_external_coursier_options_dedup.patch
  third_party/patches/rules_jvm_external_path_relativize.patch
  viz/desktop/BUILD.bazel
Due: none

feat(bazel): add KMP common module filter patch
  MODULE.bazel
  handoff.md
  third_party/patches/BUILD.bazel
  third_party/patches/rules_jvm_external_filter_kmp_common.patch
Due: none

feat(bazel): fix Coursier GMM BOM expansion cycles
  handoff.md
  third_party/patches/rules_jvm_external_filter_kmp_common.patch
Due: none

chore(patches): rename cycle workaround patch to indicate temporary hack
  MODULE.bazel
  handoff.md
  third_party/patches/BUILD.bazel
  third_party/patches/HACK_rules_jvm_external_kmp_bom_cycle_workarounds.patch
Due: none

fix(bazel): use JVM-specific artifact names for KMP dependencies
  build-tool/BUILD.bazel
  common/BUILD.bazel
  dsl/dsld/BUILD.bazel
  jenkins/BUILD.bazel
  viz/desktop/BUILD.bazel
Due: none

ci: add Bazel CI workflow
  .github/workflows/ci-bazel.yml
Due: yaml-lint, workflow-lint
