Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

feat(hover): Phase 4 - Enhanced Hover Strategies (#737)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverContentGenerator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClosureHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ConstructorCallHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/LiteralHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/PropertyExpressionHoverStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClosureHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ConstructorCallHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/LiteralHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/PropertyExpressionHoverStrategyTest.kt
Due: kotlin-lint

feat(extension): add CodeLens provider for test Run|Debug buttons (#735)
  editors/code/client/src/features/testing/TestCodeLensProvider.ts
  editors/code/client/src/features/testing/index.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/package.json
Due: extension-lint

feat(lsp): fix JNA warnings and improve build tool detection
  editors/code/client/src/extension.ts
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/MavenExecutionService.ts
  editors/code/client/src/features/testing/index.ts
  editors/code/client/src/server/client.ts
  editors/code/client/src/test/integration/codelens.test.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  editors/code/client/test/unit/features/testing/MavenExecutionService.test.ts
Due: extension-lint

fix(lsp): resolve unused variable lint errors
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/index.ts
Due: extension-lint

fix(lsp): address review feedback
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/MavenExecutionService.ts
Due: extension-lint

docs(lsp): clarify shell usage logic in comments
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
Due: extension-lint

refactor(lsp): simplify process exit handling in test execution
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
Due: extension-lint

fix(lsp): remove unused variables in index.ts and fix imports
  editors/code/client/src/features/testing/index.ts
Due: extension-lint

chore(ci): enable prettier format check in pre-commit hook
  lefthook.yml
Due: none

chore: restrict prettier scope to specific file types
  editors/code/package.json
Due: none

feat(testing): add Maven coverage support with JaCoCo (#733)
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildToolTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystem.kt
Due: kotlin-lint

test(maven): add coverage verification for full suite runs
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildToolTest.kt
Due: kotlin-lint

test(gradle): add verification for coverage command generation
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildToolTest.kt
Due: kotlin-lint

test(maven): verify command argument order
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildToolTest.kt
Due: kotlin-lint

fix(test): verify 'test' arg presence and add full suite check
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildToolTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildToolTest.kt
Due: kotlin-lint

docs: add TODO regarding JaCoCo plugin configuration requirement
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
Due: kotlin-lint

fix(ast): use inclusive end column in position containment
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystem.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemTest.kt
Due: kotlin-lint

fix(definition): allow method name navigation by delaying literal check
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionProviderTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemTest.kt
Due: kotlin-lint

refactor(ast): use concise range check in CoordinateSystem
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystem.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemTest.kt
Due: kotlin-lint

feat(testing): add Maven coverage support with JaCoCo (#741)
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildToolTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildToolTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionProviderTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemTest.kt
Due: kotlin-lint

fix(lsp): avoid workspace source fanout in on-demand compile
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestrator.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestratorTest.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacadeTest.kt
Due: kotlin-lint

fix(lsp): avoid workspace source fanout in on-demand compile (#744)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestrator.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestratorTest.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacadeTest.kt
Due: kotlin-lint

feat(errors): surface JDK/Groovy compatibility errors to users
  editors/code/client/src/test/unit/errorNotificationHandler.test.ts
  editors/code/client/src/test/unit/statusBar.test.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/src/ui/statusBar.ts
  editors/code/client/src/ui/statusUtils.ts
  editors/code/package.json
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/AsmErrorAnalyzer.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyCompatibilityService.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyVersionDetector.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/JdkVersionMapper.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/ResolutionStatus.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenFailureAnalyzer.kt
  groovy-build-tool/src/main/resources/groovy-compatibility.json
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/AsmErrorAnalyzerTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyCompatibilityServiceTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyVersionDetectorTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/JdkVersionMapperTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenFailureAnalyzerTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/gradle/DependencyManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/gradle/DependencyManagerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerErrorHandlingTest.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
Due: kotlin-lint, extension-lint

fix(extension): use dynamic imports for vscode module in errorNotificationHandler
  editors/code/client/src/ui/errorNotificationHandler.ts
Due: extension-lint

fix: address review - enhance error details extraction and type safety
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzer.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenFailureAnalyzer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/gradle/DependencyManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
Due: kotlin-lint

fix: address review - use assertFalse instead of assertTrue(!...)
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/gradle/DependencyManagerTest.kt
Due: kotlin-lint

fix: address review - rename majorVersion and add URL detection
  editors/code/client/src/test/unit/errorNotificationHandler.test.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/src/ui/statusUtils.ts
Due: extension-lint

fix: address review - correct Groovy 2.4 jdkMax to 8
  groovy-build-tool/src/main/resources/groovy-compatibility.json
Due: none

refactor: externalize JDK/Gradle compatibility mappings to JSON resources
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyCompatibilityService.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyVersionDetector.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzer.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleJdkCompatibilityService.kt
  groovy-build-tool/src/main/resources/class-file-versions.json
  groovy-build-tool/src/main/resources/gradle-jdk-compatibility.json
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyCompatibilityServiceTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyVersionDetectorTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleJdkCompatibilityServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/gradle/DependencyManagerTest.kt
Due: kotlin-lint

ci: add E2E test report to GitHub Actions UI
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

ci: add e2e test reporting to github actions (#748)
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

fix(tests): use underscore notation in Groovy version test names
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyCompatibilityServiceTest.kt
Due: kotlin-lint

feat(extension): prioritize URL opening in install/download notifications
  editors/code/client/src/ui/errorNotificationHandler.ts
Due: extension-lint

feat(errors): surface JDK/Groovy compatibility errors to users (#746)
  editors/code/client/src/test/unit/errorNotificationHandler.test.ts
  editors/code/client/src/test/unit/statusBar.test.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/src/ui/statusBar.ts
  editors/code/client/src/ui/statusUtils.ts
  editors/code/package.json
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/AsmErrorAnalyzer.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyCompatibilityService.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyVersionDetector.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/JdkVersionMapper.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/ResolutionStatus.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzer.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleJdkCompatibilityService.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenFailureAnalyzer.kt
  groovy-build-tool/src/main/resources/class-file-versions.json
  groovy-build-tool/src/main/resources/gradle-jdk-compatibility.json
  groovy-build-tool/src/main/resources/groovy-compatibility.json
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/AsmErrorAnalyzerTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyCompatibilityServiceTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/GroovyVersionDetectorTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/JdkVersionMapperTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleJdkCompatibilityServiceTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenFailureAnalyzerTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/gradle/DependencyManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/gradle/DependencyManagerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerErrorHandlingTest.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserFacade.kt
Due: kotlin-lint, extension-lint

fix(lsp): handle untitled URI scheme gracefully
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/UriPathConverter.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/UriPathConverterTest.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsFileDetector.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsFileDetectionTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/SymbolIndexingService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/CrossFileDefinitionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClosureHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ConstructorCallHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/LiteralHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerErrorHandlingTest.kt
Due: kotlin-lint

fix(errors): propagate Gradle resolution failures to client with actionable UI
  editors/code/client/src/commands/index.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/src/ui/statusBar.ts
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolver.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzer.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverErrorPropagationTest.kt
  groovy-build-tool/src/test/resources/gradle-errors/connection-refused-error.txt
  groovy-build-tool/src/test/resources/gradle-errors/init-script-error.txt
  groovy-build-tool/src/test/resources/gradle-errors/jdk-mismatch-error.txt
  groovy-build-tool/src/test/resources/gradle-errors/lock-timeout-error.txt
  groovy-build-tool/src/test/resources/gradle-errors/toolchain-provisioning-error.txt
Due: kotlin-lint, extension-lint

fix: properly await async handlers and add error catching
  editors/code/client/src/ui/errorNotificationHandler.ts
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverErrorPropagationTest.kt
Due: kotlin-lint, extension-lint

Update groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
Due: kotlin-lint

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
