Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

feat(viz): add AST model with Core converter
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  viz/ast-model/build.gradle.kts
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/AstNodeDto.kt
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/RangeDto.kt
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/SymbolInfoDto.kt
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/TypeInfoDto.kt
  viz/ast-model/src/commonTest/kotlin/com/github/albertocavalcante/gvy/viz/model/AstNodeDtoSerializationTest.kt
  viz/ast-model/src/jvmMain/kotlin/com/github/albertocavalcante/gvy/viz/converters/CoreAstConverter.kt
  viz/ast-model/src/jvmTest/kotlin/com/github/albertocavalcante/gvy/viz/converters/CoreAstConverterTest.kt
Due: kotlin-lint

fix(lsp): improve hover and inlay hints
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/CoreParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/CoreParserAdapterTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProviderTest.kt
Due: kotlin-lint

fix(lsp): scope Jenkins options completions (#580)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MergedJenkinsMetadata.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/MetadataMerger.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsBundledCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProviderTest.kt
Due: kotlin-lint

fix(lsp): improve hover and inlay hints (#582)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/CoreParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/CoreParserAdapterTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProviderTest.kt
Due: kotlin-lint

fix(lsp): deduplicate Jenkins completions in options block
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsCompletionDeduplicationTest.kt
Due: kotlin-lint

feat: Add SCIP/LSIF index export support
  gradle/libs.versions.toml
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/FileExtensions.kt
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/GlsCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/indexing/ExportIndexParams.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommandTest.kt
  indexer/core/build.gradle.kts
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/IndexFormat.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/IndexWriter.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGenerator.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/UnifiedIndexer.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/UnifiedIndexerTest.kt
  indexer/lsif/build.gradle.kts
  indexer/lsif/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/lsif/LsifWriter.kt
  indexer/scip/build.gradle.kts
  indexer/scip/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/scip/ScipWriter.kt
  indexer/scip/src/main/proto/scip.proto
  settings.gradle.kts
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
  tests/e2e/resources/fixtures/index-test/src/main/groovy/com/example/Calculator.groovy
  tests/e2e/resources/golden/index-lsif-calculator.lsif
  tests/e2e/resources/golden/index-scip-calculator.scip
  tests/e2e/resources/scenarios/cli/index-lsif.yaml
  tests/e2e/resources/scenarios/cli/index-scip.yaml
Due: kotlin-lint, yaml-lint

fix: address PR review comments
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommand.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommandTest.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/UnifiedIndexer.kt
  indexer/scip/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/scip/ScipWriter.kt
Due: kotlin-lint

fix: add SLF4J dependency to indexer:core for logging
  indexer/core/build.gradle.kts
Due: none

fix: add NDJSON mode for proper LSIF golden file comparison
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
  tests/e2e/resources/scenarios/cli/index-lsif.yaml
Due: kotlin-lint, yaml-lint

fix: wrap Files.walk() in .use {} to prevent file handle leaks
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommand.kt
Due: kotlin-lint

fix: normalize project root path to remove redundant /. components
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommand.kt
Due: kotlin-lint

chore: address PR review comments and fix E2E tests
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommand.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommandTest.kt
  indexer/lsif/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/lsif/LsifWriter.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
  tests/e2e/resources/golden/index-lsif-calculator.lsif
  tests/e2e/resources/scenarios/cli/index-lsif.yaml
  tests/e2e/resources/scenarios/cli/index-scip.yaml
Due: kotlin-lint, yaml-lint

refactor: Extract IndexExportService and improve build tool detection
  gradle/libs.versions.toml
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/FileExtensions.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/IndexExportService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/IndexExportServiceTest.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/IndexWriter.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGenerator.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/UnifiedIndexer.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGeneratorTest.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/UnifiedIndexerTest.kt
  indexer/lsif/build.gradle.kts
  indexer/lsif/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/lsif/LsifWriter.kt
  indexer/scip/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/scip/ScipWriter.kt
  indexer/scip/src/main/proto/scip.proto
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-lint

refactor(cli): Use IndexExportService in IndexCommand
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommand.kt
Due: kotlin-lint

fix: Address review feedback (resource leaks, unused code, schemes)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/IndexExportService.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/UnifiedIndexerTest.kt
  indexer/lsif/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/lsif/LsifWriter.kt
Due: kotlin-lint

feat: Add SCIP/LSIF writer unit tests and refactor to kotlinx.serialization
  indexer/core/build.gradle.kts
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/NdjsonParser.kt
  indexer/lsif/build.gradle.kts
  indexer/lsif/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/lsif/LsifWriter.kt
  indexer/lsif/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/lsif/LsifWriterTest.kt
  indexer/scip/build.gradle.kts
  indexer/scip/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/scip/ScipWriterTest.kt
Due: kotlin-lint

docs: Clarify intentional omission of contents field in LSIF document vertices
  indexer/lsif/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/lsif/LsifWriter.kt
Due: kotlin-lint

refactor: Address PR review feedback and cleanup
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/IndexExportService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cli/IndexCommandTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/IndexExportServiceTest.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/NdjsonParser.kt
  indexer/scip/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/scip/ScipWriterTest.kt
  tests/e2e/resources/golden/index-lsif-calculator.lsif
  tests/e2e/resources/scenarios/cli/index-scip.yaml
Due: kotlin-lint, yaml-lint

refactor: Fixed path normalization order in E2E step executors
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-lint

refactor: Use kotlin.srcDir for generated SCIP protos
  indexer/scip/build.gradle.kts
Due: none

refactor(diagnostics): add fine-grained provider and rule config
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/codenarc/WorkspaceConfiguration.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/DiagnosticConfig.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/DiagnosticRuleConfig.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfiguration.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/StreamingDiagnosticProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDiagnosticProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/CustomRulesProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/config/DiagnosticConfigTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/config/DiagnosticRuleConfigTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfigurationDefaultsTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/AbstractDiagnosticRuleTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/CustomRulesProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsServiceTest.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParser.kt
Due: kotlin-lint

fix(e2e): stabilize indexer scenarios and fix lint warnings
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsBundledCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/SynchronizingTestLanguageClient.kt
  indexer/lsif/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/lsif/LsifWriter.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioContext.kt
  tests/e2e/resources/golden/index-lsif-calculator.lsif
  tests/e2e/resources/scenarios/cli/index-lsif.yaml
  tests/e2e/resources/scenarios/cli/index-scip.yaml
Due: kotlin-lint, yaml-lint

refactor(lint): address quick detekt fixes
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/JenkinsDocProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/JenkinsPipelineStageRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/DiagnosticsService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/engine/NativeLanguageEngineTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/AbstractDiagnosticRuleTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/CustomRulesProviderTest.kt
Due: kotlin-lint

fix(diagnostics): handle println range and escaped strings
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/EmptyBlockRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/JenkinsPipelineStageRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/NullSafetyRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/PrintlnDebugRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRule.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/config/DiagnosticRuleConfigTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/engine/NativeLanguageEngineTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/NullSafetyRuleTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/PrintlnDebugRuleTest.kt
Due: kotlin-lint

fix(diagnostics): handle stage boundaries and cancellation
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/AbstractDiagnosticRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/CustomRulesProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/JenkinsPipelineStageRule.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/AbstractDiagnosticRuleTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/CustomRulesProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/JenkinsPipelineStageRuleTest.kt
  tests/e2e/resources/scenarios/diagnostics-custom-rules.yaml
Due: kotlin-lint, yaml-lint

refactor: decouple Jenkins completion from core Groovy LSP
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionContextIntegrationTest.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/PathUtils.kt
  indexer/lsif/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/lsif/LsifWriter.kt
  indexer/scip/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/scip/ScipWriter.kt
  indexer/scip/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/scip/ScipWriterTest.kt
Due: kotlin-lint

feat(viz): add Native AST converter with tests
  viz/ast-model/src/jvmMain/kotlin/com/github/albertocavalcante/gvy/viz/converters/NativeAstConverter.kt
  viz/ast-model/src/jvmTest/kotlin/com/github/albertocavalcante/gvy/viz/converters/CoreAstConverterTest.kt
  viz/ast-model/src/jvmTest/kotlin/com/github/albertocavalcante/gvy/viz/converters/NativeAstConverterTest.kt
Due: kotlin-lint

test(diagnostics): fix custom rules provider stubs
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/CustomRulesProviderTest.kt
Due: kotlin-lint

chore(detekt): add parser core TODOs and quick wins
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/JenkinsPipelineStageRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/Cloneable.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/typesolvers/CombinedTypeSolver.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserTest.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeClonerTest.kt
Due: kotlin-lint

fix(diagnostics): require when/then in Spock rule
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRule.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRuleTest.kt
Due: kotlin-lint

fix: address PR feedback - PathUtils, completions, quiescence, tests
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/NonBlockingServerTest.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/PathUtils.kt
  tests/e2e/resources/golden/index-lsif-calculator.lsif
Due: kotlin-lint

fix(diagnostics): tighten Jenkins stage detection
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/JenkinsPipelineStageRule.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/JenkinsPipelineStageRuleTest.kt
Due: kotlin-lint

test(e2e): fix jenkins diagnostics size check
  tests/e2e/resources/scenarios/diagnostics-jenkins-custom-rules.yaml
Due: yaml-lint

fix: address PR feedback and fix e2e tests on macOS
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/PathUtils.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-lint

test(e2e): relax diagnostics severity checks
  tests/e2e/resources/scenarios/diagnostics-custom-rules.yaml
  tests/e2e/resources/scenarios/diagnostics-jenkins-custom-rules.yaml
Due: yaml-lint
