Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

fix(build): revert to explicit toolchain definitions
  toolchains/BUCK
Due: none

refactor(build): simplify to single maven_jar macro
  third_party/kotlin/BUCK
  third_party/kotlin/defs.bzl
Due: none

feat(build): add Kotlin 2.3.0 toolchain for Buck2 (#1039)
  .buckconfig
  .github/workflows/ci-buck2.yml
  BUCK
  examples/hello/BUCK
  examples/hello/README.md
  examples/hello/greet.sh
  examples/kotlin/BUCK
  examples/kotlin/Hello.kt
  third_party/BUCK
  third_party/kotlin/BUCK
  third_party/kotlin/defs.bzl
  toolchains/BUCK
  toolchains/kotlin.bzl
Due: kotlin-lint, yaml-lint, shell-lint, workflow-lint, markdown-lint

feat(build): add JVM dependency management via jvmdeer
  third_party/jvm/BUCK
  third_party/jvm/deps.bzl
  third_party/jvm/deps.lock
  third_party/jvm/pin.bxl
Due: none

refactor(build): use json.encode() for deps.json generation
  third_party/jvm/pin.bxl
Due: none

feat(build): add JVM dependency management via jvmdeer (#1040)
  third_party/jvm/BUCK
  third_party/jvm/deps.bzl
  third_party/jvm/deps.lock
  third_party/jvm/pin.bxl
Due: none

fix(e2e): resolve flaky nightly build tests
  tests/e2e/resources/scenarios/cli/index-scip.yaml
  tests/e2e/resources/scenarios/gradle-hover-deps.yaml
Due: yaml-lint

fix(e2e): resolve flaky nightly build tests (#1041)
  tests/e2e/resources/scenarios/cli/index-scip.yaml
  tests/e2e/resources/scenarios/gradle-hover-deps.yaml
Due: yaml-lint

fix(e2e): apply same logback fix to index-lsif test
  tests/e2e/resources/scenarios/cli/index-lsif.yaml
Due: yaml-lint

fix(security): mitigate command injection in Claude workflow
  .github/workflows/_claude-base.yml
Due: yaml-lint, workflow-lint

fix(concurrency): refine synchronization in GroovySemanticDB
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/db/GroovySemanticDB.kt
Due: kotlin-lint

fix(inlay): prevent NPE in parameter hint scoring
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/inlayhints/InlayHintsProvider.kt
Due: kotlin-lint

chore(build): add explicit pluginManagement block to settings
  settings.gradle.kts
Due: none

chore(build): add explicit pluginManagement block to settings (#1046)
  settings.gradle.kts
Due: none

docs(semantics): add SemanticDB design documentation
  docs/overview.md
  docs/semantics/design.md
Due: markdown-lint

docs(semantics): add SemanticDB design documentation (#1047)
  docs/overview.md
  docs/semantics/design.md
Due: markdown-lint

docs: add Starlight documentation website
  .github/workflows/docs.yml
  docs/website/.gitignore
  docs/website/astro.config.ts
  docs/website/package.json
  docs/website/public/favicon.svg
  docs/website/src/content/docs/architecture/semanticdb.mdx
  docs/website/src/content/docs/index.mdx
  docs/website/src/content/docs/lsp/feature-support.mdx
  docs/website/src/content/docs/lsp/usage.mdx
  docs/website/src/content/docs/overview/index.mdx
  docs/website/src/content/docs/overview/roadmap.mdx
  docs/website/src/styles/custom.css
  docs/website/tsconfig.json
Due: yaml-lint, workflow-lint

fix(docs): move type-checking deps to devDependencies
  docs/website/package.json
Due: none

docs: add Starlight documentation website (#1048)
  .github/workflows/docs.yml
  docs/website/.gitignore
  docs/website/astro.config.ts
  docs/website/package.json
  docs/website/public/favicon.svg
  docs/website/src/content/docs/architecture/semanticdb.mdx
  docs/website/src/content/docs/index.mdx
  docs/website/src/content/docs/lsp/feature-support.mdx
  docs/website/src/content/docs/lsp/usage.mdx
  docs/website/src/content/docs/overview/index.mdx
  docs/website/src/content/docs/overview/roadmap.mdx
  docs/website/src/styles/custom.css
  docs/website/tsconfig.json
Due: yaml-lint, workflow-lint

fix(docs): use bun instead of npm for docs build
  .github/workflows/docs.yml
  docs/website/bun.lock
Due: yaml-lint, workflow-lint

fix(docs): use bun instead of npm for docs build (#1049)
  .github/workflows/docs.yml
  docs/website/bun.lock
Due: yaml-lint, workflow-lint

fix(docs): upgrade Starlight to 0.34+ for array social config
  docs/website/bun.lock
  docs/website/package.json
Due: none

fix(docs): upgrade Starlight for array social config (#1050)
  docs/website/bun.lock
  docs/website/package.json
Due: none

fix(docs): add content config and upgrade Starlight to 0.37
  docs/website/bun.lock
  docs/website/package.json
  docs/website/src/content.config.ts
Due: none

fix(indexer): escape SCIP method descriptors
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGenerator.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGeneratorTest.kt
Due: kotlin-lint

ci: run main checks for indexer changes
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

style(indexer): match Kotlin formatter output
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGenerator.kt
Due: kotlin-lint

fix(indexer): encode SCIP method disambiguators
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGenerator.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGeneratorTest.kt
Due: kotlin-lint

style(indexer): follow repository import order
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGenerator.kt
Due: kotlin-lint

test(e2e): tolerate startup logs before LSIF export result
  tests/e2e/resources/scenarios/cli/index-lsif.yaml
Due: yaml-lint

test(e2e): align LSIF monikers with encoded methods
  tests/e2e/resources/golden/index-lsif-calculator.lsif
Due: none

ci(coverage): make SonarCloud advisory and never block CI
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

ci(release): ship GitHub Release assets only; gate publishing behind repo vars
  .github/workflows/release.yml
Due: yaml-lint, workflow-lint

ci(sanity): make the large-file gate actually fail and self-test it
  .github/workflows/sanity-check.yml
  tools/ci/check-large-files.sh
  tools/ci/check-large-files_test.sh
Due: yaml-lint, shell-lint, workflow-lint

ci(extension): pin integration-test VS Code to the engines floor
  .github/workflows/extension.yml
  editors/code/.vscode-test.mjs
Due: yaml-lint, workflow-lint

ci(docs): build docs on PRs and fail when no pages are generated
  .github/workflows/docs.yml
Due: yaml-lint, workflow-lint

chore(renovate): keep resolver 1.x, spock groovy-4, vscode types within engines; pause infra/runner
  renovate.json
Due: none

ci(sanity): only comment on the PR when a size report exists
  .github/workflows/sanity-check.yml
Due: yaml-lint, workflow-lint

fix(docs): require astro ^5.5.0 to match the Starlight 0.37 peer range
  docs/website/bun.lock
  docs/website/package.json
Due: none

fix(indexer): encode SCIP method signatures (#1053)
  .github/workflows/ci.yml
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGenerator.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGeneratorTest.kt
  tests/e2e/resources/golden/index-lsif-calculator.lsif
  tests/e2e/resources/scenarios/cli/index-lsif.yaml
Due: kotlin-lint, yaml-lint, workflow-lint

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
