Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

feat(testing): add hacky Maven test execution support
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/features/testing/ITestExecutionService.ts
  editors/code/client/src/features/testing/MavenExecutionService.ts
  editors/code/client/src/features/testing/TestEventConsumer.ts
  editors/code/client/src/features/testing/index.ts
Due: extension-lint

fix: update tests to match external file warning behavior
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
Due: extension-lint

refactor(hover): eliminate duplicate parsing and implement strategy pattern
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/doc/GroovyDoc.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/doc/GroovyDocParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverContentGenerator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClassDeclarationHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/DeclarationExpressionHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/FieldDeclarationHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/GenericHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ImportHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/MethodCallHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/MethodDeclarationHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/VariableExpressionHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/types/SemanticTypeResolver.kt
Due: kotlin-lint

fix(testing): address PR review feedback for MavenExecutionService
  editors/code/client/src/features/testing/MavenExecutionService.ts
Due: extension-lint

fix(testing): improve test execution UX and add Maven support (#717)
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/features/testing/ITestExecutionService.ts
  editors/code/client/src/features/testing/MavenExecutionService.ts
  editors/code/client/src/features/testing/TestEventConsumer.ts
  editors/code/client/src/features/testing/index.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
Due: extension-lint

fix(hover): address PR review feedback
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/doc/GroovyDocParserTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/SignatureFormatter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/SignatureFormatterTest.kt
Due: kotlin-lint

feat(diagnostics): add SARIF output format for check command
  groovy-diagnostics/sarif/build.gradle.kts
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifModels.kt
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifRuleRegistry.kt
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifWriter.kt
  groovy-diagnostics/sarif/src/test/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifRuleRegistryTest.kt
  groovy-diagnostics/sarif/src/test/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifWriterTest.kt
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/CheckCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/OutputFormat.kt
  settings.gradle.kts
Due: kotlin-lint

feat(lsp): add groovy/getBuildToolInfo request for build tool detection
  editors/code/client/src/features/testing/TestService.ts
  editors/code/client/src/features/testing/index.ts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
Due: kotlin-lint, extension-lint

feat(codenarc): implement AST-aware diagnostic positioning (Phase 1 POC)
  groovy-diagnostics/api/build.gradle.kts
  groovy-diagnostics/api/src/main/kotlin/com/github/albertocavalcante/diagnostics/api/CompilationAccessor.kt
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstAwareRangeCalculator.kt
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstNodeFinder.kt
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/CodeNarcDiagnosticProvider.kt
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/HybridRangeCalculator.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstAwareRangeCalculatorTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstNodeFinderTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstVsHeuristicAccuracyTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/HybridRangeCalculatorTest.kt
Due: kotlin-lint

fix: address PR review feedback
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifRuleRegistry.kt
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifWriter.kt
  groovy-diagnostics/sarif/src/test/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifWriterTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/CheckCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/OutputFormat.kt
Due: kotlin-lint

feat(diagnostics): add SARIF output format for check command (#718)
  groovy-diagnostics/sarif/build.gradle.kts
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifModels.kt
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifRuleRegistry.kt
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifWriter.kt
  groovy-diagnostics/sarif/src/test/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifRuleRegistryTest.kt
  groovy-diagnostics/sarif/src/test/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifWriterTest.kt
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/CheckCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/OutputFormat.kt
  settings.gradle.kts
Due: kotlin-lint

fix(sarif): use local variables for delegated property smart casts
  groovy-diagnostics/sarif/src/test/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifRuleRegistryTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/CheckCommand.kt
Due: kotlin-lint

fix: address review feedback for getBuildToolInfo
  editors/code/client/src/features/testing/TestService.ts
  editors/code/client/src/features/testing/index.ts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
Due: kotlin-lint, extension-lint

fix(sarif): use local variables for delegated property smart casts (#722)
  groovy-diagnostics/sarif/src/test/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifRuleRegistryTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/CheckCommand.kt
Due: kotlin-lint

feat(arch): introduce ProjectStrategy pattern for project-type decoupling
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/DefaultProjectStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/JenkinsCapabilities.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/JenkinsProjectStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/ProjectStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/ProjectStrategyRegistry.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/project/JenkinsProjectStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/project/ProjectStrategyRegistryTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerWorkerSelectionTest.kt
Due: kotlin-lint

fix: address PR review feedback
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstAwareRangeCalculator.kt
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstNodeFinder.kt
Due: kotlin-lint

style: use imports over FQNs in VariableAtLineFinder
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstNodeFinder.kt
Due: kotlin-lint

refactor: extract rethrowIfCancellationOrError to shared utility
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/JenkinsProjectStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/utils/CoroutineUtils.kt
Due: kotlin-lint

feat(codenarc): implement AST-aware diagnostic positioning (Phase 1 POC) (#720)
  groovy-diagnostics/api/build.gradle.kts
  groovy-diagnostics/api/src/main/kotlin/com/github/albertocavalcante/diagnostics/api/CompilationAccessor.kt
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstAwareRangeCalculator.kt
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstNodeFinder.kt
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/CodeNarcDiagnosticProvider.kt
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/HybridRangeCalculator.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstAwareRangeCalculatorTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstNodeFinderTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/AstVsHeuristicAccuracyTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/HybridRangeCalculatorTest.kt
Due: kotlin-lint

feat(arch): introduce ProjectStrategy pattern for project-type decoupling (#724)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/DefaultProjectStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/JenkinsCapabilities.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/JenkinsProjectStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/ProjectStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/project/ProjectStrategyRegistry.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/utils/CoroutineUtils.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/project/JenkinsProjectStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/project/ProjectStrategyRegistryTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerWorkerSelectionTest.kt
Due: kotlin-lint

feat(lsp): add groovy/getBuildToolInfo request for build tool detection (#719)
  editors/code/client/src/features/testing/TestService.ts
  editors/code/client/src/features/testing/index.ts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
Due: kotlin-lint, extension-lint

fix(test): return CommandResult with output and exitCode from captureOutput
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/MainTest.kt
Due: kotlin-lint

fix(hover): handle all inline tag types in InlineTagRenderer
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRenderer.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapterTest.kt
Due: kotlin-lint

refactor(definition): migrate JenkinsVarsResolutionStrategy to JenkinsCapabilities
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/JenkinsVarsResolutionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/JenkinsVarsResolutionStrategyTest.kt
Due: kotlin-lint

fix(test): handle ProgramResult in MainTest captureOutput (#725)
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/MainTest.kt
Due: kotlin-lint

refactor(hover): strategy pattern and eliminate duplicate parsing (#716)
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/doc/GroovyDoc.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/doc/GroovyDocParser.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/doc/GroovyDocParserTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/SignatureFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverContentGenerator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClassDeclarationHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/DeclarationExpressionHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/FieldDeclarationHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/GenericHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ImportHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/MethodCallHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/MethodDeclarationHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/VariableExpressionHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/types/SemanticTypeResolver.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapterTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRendererTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/SignatureFormatterTest.kt
Due: kotlin-lint

refactor(completion): migrate JenkinsCompletionProvider to JenkinsCapabilities
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsCompletionProvider.kt
Due: kotlin-lint

feat(hover): Phase 3 - visual hierarchy and documentation sections (#727)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatterTest.kt
Due: kotlin-lint

refactor(completion): migrate CompletionProvider to JenkinsCapabilities
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsDeclarativeCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsPropertyCompletionTest.kt
Due: kotlin-lint

refactor(hover): migrate HoverProvider to JenkinsCapabilities
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
Due: kotlin-lint

refactor(services): migrate GroovyTextDocumentService to JenkinsCapabilities
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentServiceSemanticTokensTest.kt
Due: kotlin-lint

refactor(services): migrate GroovyWorkspaceService to JenkinsCapabilities
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
Due: kotlin-lint

refactor(compilation): remove getJenkinsGlobalVariables from GroovyCompilationService
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
Due: kotlin-lint

feat(extension): add CodeLens provider for test Run|Debug buttons
  editors/code/client/src/features/testing/TestCodeLensProvider.ts
  editors/code/client/src/features/testing/index.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
Due: extension-lint

refactor(compilation): remove deprecated Jenkins methods from WorkspaceManager
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/JenkinsSemanticTokenProviderVarsTest.kt
Due: kotlin-lint

fix(hover): address review feedback on separator logic
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatterTest.kt
Due: kotlin-lint

feat(hover): Phase 3 - visual hierarchy and documentation sections (#734)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatterTest.kt
Due: kotlin-lint

refactor(jenkins): migrate consumers to JenkinsCapabilities interface (#736)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsCompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/JenkinsVarsResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsDeclarativeCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsPropertyCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/JenkinsVarsResolutionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/JenkinsSemanticTokenProviderVarsTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentServiceSemanticTokensTest.kt
Due: kotlin-lint

feat(hover): add Phase 4 enhanced hover strategies (#728)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverContentGenerator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClosureHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ConstructorCallHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/LiteralHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/PropertyExpressionHoverStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClosureHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ConstructorCallHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/LiteralHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/PropertyExpressionHoverStrategyTest.kt
Due: kotlin-lint

fix(codelens): address review feedback with TDD fixes
  editors/code/client/src/features/testing/TestCodeLensProvider.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/package.json
Due: extension-lint
