Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

fix(lsp): add CancellationException handlers to references and implementation
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
Due: kotlin-lint

fix(lsp): address PR #794 review comments
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
Due: kotlin-lint

fix(lsp): resolve cross-file definition race condition (#794)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceSecurityTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceTest.kt
  tests/e2e/resources/scenarios/definition-crossfile.yaml
Due: kotlin-lint, yaml-lint

fix(lsp): fix cross-file definition E2E test - ensure documents are compiled
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
Due: kotlin-lint

fix: remove overly broad '*' check in comment detection
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/AbstractDiagnosticRule.kt
Due: kotlin-lint

fix(e2e): improve error message for missing scenarioDir property
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioDsl.kt
Due: kotlin-lint

fix: remove empty deprecated JenkinsStubs object
  groovy-test-utils/README.md
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/jenkins/JenkinsStubs.kt
Due: kotlin-lint, markdown-lint

fix: remove redundant filter in NullSafetyRule
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/NullSafetyRule.kt
Due: kotlin-lint

docs(e2e): explain synthetic _dsl-scenarios.yaml path naming
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioDsl.kt
Due: kotlin-lint

perf: calculate comment index once per line
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/AbstractDiagnosticRule.kt
Due: kotlin-lint

fix(e2e): normalize path in position() to handle leading slashes
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioDsl.kt
Due: kotlin-lint

docs: add TODO comments for base class test coverage
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MultiTypeHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/TypedHoverStrategy.kt
Due: kotlin-lint

docs(e2e): clarify code action range default behavior
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-lint

fix: remove unnecessary tasks.test configuration
  groovy-test-utils/build.gradle.kts
Due: none

fix: correct example code to use isSuccessful property
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/fixtures/GroovySourceFixture.kt
Due: kotlin-lint

fix: clarify thread-safety documentation
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/fixtures/GroovySourceFixture.kt
Due: kotlin-lint

docs(e2e): add TODO for extracting common executor pattern
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-lint

docs: clarify GroovySourceFixture relationship to ParserTestFixture
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/fixtures/GroovySourceFixture.kt
Due: kotlin-lint

docs(e2e): add consistent parameter documentation to DSL functions
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioDsl.kt
Due: kotlin-lint

docs(e2e): add TODO for additional executor test coverage
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/CompletionDslTest.kt
Due: kotlin-lint

refactor(cache): extract CacheStats to groovy-common
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/cache/ThreadSafeLRUCache.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/LRUCache.kt
Due: kotlin-lint

test(cache): add comprehensive tests for groovy-common cache implementations
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/cache/LRUCacheTest.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/cache/ThreadSafeLRUCacheTest.kt
Due: kotlin-lint

refactor(diagnostics): add rule implementation helpers (#796)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/AbstractDiagnosticRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/EmptyBlockRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/NullSafetyRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/PrintlnDebugRule.kt
Due: kotlin-lint

refactor(cache): extract cache abstractions to groovy-common (#802)
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/cache/Cache.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/cache/LRUCache.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/cache/ThreadSafeCache.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/cache/ThreadSafeLRUCache.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/cache/LRUCacheTest.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/cache/ThreadSafeLRUCacheTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/LRUCache.kt
Due: kotlin-lint

refactor(hover): Consolidate hover strategies with generic base classes (#798)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MultiTypeHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/TypedHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClassDeclarationHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClosureHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ConstructorCallHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/DeclarationExpressionHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/FieldDeclarationHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/GenericHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ImportHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/LiteralHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/MethodCallHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/MethodDeclarationHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/PropertyExpressionHoverStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/VariableExpressionHoverStrategy.kt
Due: kotlin-lint

feat(testing): Create groovy-test-utils module for shared test infrastructure (#797)
  groovy-test-utils/README.md
  groovy-test-utils/build.gradle.kts
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/fixtures/DiagnosticFixture.kt
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/fixtures/GroovySourceFixture.kt
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/mocks/MockPatterns.kt
  settings.gradle.kts
Due: kotlin-lint, markdown-lint

test(e2e): add Kotlin DSL for E2E scenario definition (#803)
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/CompletionDslTest.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/Scenario.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioDsl.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioExecutor.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-lint

refactor(testing): make TestFrameworkRegistry thread-safe (#799)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistry.kt
  groovy-testing/src/test/kotlin/com/github/albertocavalcante/groovytesting/registry/TestFrameworkRegistryTest.kt
Due: kotlin-lint

fix(lsp): ensure all documents compiled before early return in cross-file resolution
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
Due: kotlin-lint

fix(lsp): properly handle CancellationException in ensureAllOpenDocumentsCompiled
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
Due: kotlin-lint

fix(e2e): create files on disk for definition-crossfile test
  tests/e2e/resources/scenarios/definition-crossfile.yaml
Due: yaml-lint

test(lsp): add extensive unit tests for cross-file definition resolution
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceTest.kt
Due: kotlin-lint

test(lsp): fix compilation errors and position offsets in CrossFileDefinitionRaceTest
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceTest.kt
  groovy-test-utils/README.md
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/mocks/MockPatterns.kt
Due: kotlin-lint, markdown-lint

test: fix CrossFileDefinitionRaceTest for static method calls
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceTest.kt
Due: kotlin-lint

docs: add FIXME referencing issue #813 for static method resolution
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceTest.kt
Due: kotlin-lint

fix(lsp): ensure all documents compiled before skipping definition wait (#810)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceTest.kt
  groovy-test-utils/README.md
  groovy-test-utils/src/main/kotlin/com/github/albertocavalcante/testing/mocks/MockPatterns.kt
  tests/e2e/resources/scenarios/definition-crossfile.yaml
Due: kotlin-lint, yaml-lint, markdown-lint

feat(lsp): add visual dimming for unused imports
  editors/code/package.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDiagnosticProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/JenkinsSemanticTokenProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollectorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDetectorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDiagnosticProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokenLegendTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/UnusedImportSemanticTokenTest.kt
Due: kotlin-lint

test: add end-to-end integration test for unused import dimming
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDimmingIntegrationTest.kt
Due: kotlin-lint

feat(bsp): add Maven BSP server implementation
  bsp/maven-bsp/build.gradle.kts
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProvider.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspConnectionJson.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspLauncher.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/server/MavenBspCapabilities.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServer.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/targets/MavenBuildTargetProvider.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/targets/MavenSourceProvider.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenModuleInfo.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenWorkspaceScanner.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProviderTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/integration/MavenBspIntegrationTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspConnectionJsonTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspLauncherTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/targets/MavenBuildTargetProviderTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/targets/MavenSourceProviderTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenWorkspaceScannerTest.kt
  bsp/maven-bsp/src/test/resources/fixtures/jenkins-style/pom.xml
  bsp/maven-bsp/src/test/resources/fixtures/multi-module/module-a/pom.xml
  bsp/maven-bsp/src/test/resources/fixtures/multi-module/module-b/pom.xml
  bsp/maven-bsp/src/test/resources/fixtures/multi-module/pom.xml
  bsp/maven-bsp/src/test/resources/fixtures/single-module/pom.xml
  settings.gradle.kts
Due: kotlin-lint

fix(bsp): correct maven publishing coordinates to albertocavalcante/gvy
  bsp/maven-bsp/build.gradle.kts
Due: none

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
