Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

feat(scripts): auto-detect related issues and improve ship workflow
  .agent/scripts/pr.py
  .agent/workflows/ship.md
Due: python-lint, markdown-lint

fix: address review feedback and finalize enhancements
  .agent/scripts/pr.py
  .agent/workflows/merge.md
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/SemanticTypeTest.kt
Due: kotlin-lint, python-lint, markdown-lint

feat(scripts): add full preview, history, and versioning to pr merge
  .agent/scripts/pr.py
Due: python-lint

fix: address review - resolve critical pr.py bugs
  .agent/scripts/pr.py
  semantics/build.gradle.kts
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
Due: kotlin-lint, python-lint

fix: address review - secure shell usage and document hashing
  .agent/scripts/pr.py
Due: python-lint

feat(semantics): implement foundational types and LUB logic (#634)
  .agent/queries/reply-to-thread.graphql
  .agent/scripts/inventory_threads.py
  .agent/scripts/pr
  .agent/scripts/pr.py
  .agent/workflows/merge.md
  .agent/workflows/review.md
  .agent/workflows/ship.md
  .envrc
  semantics/build.gradle.kts
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/PrimitiveKind.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/SemanticType.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeConstants.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/PrimitiveKindTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/SemanticTypeTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubTest.kt
  settings.gradle.kts
Due: kotlin-lint, python-lint, markdown-lint

docs(agent): enforce idiomacy scan in /lint workflow
  .agent/workflows/lint.md
  .agent/workflows/lintfix.md
  Makefile
Due: markdown-lint

docs(agent): enforce idiomacy scan in /lint workflow (#635)
  .agent/workflows/lint.md
  .agent/workflows/lintfix.md
  Makefile
Due: markdown-lint

feat(semantics): refactor calculators with idiomacy improvements
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/DefaultCalculators.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccess.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeCalculatorRegistry.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeContext.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/BinaryExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MapExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/PropertyAccessCalculator.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeCalculatorRegistryTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/BinaryExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MapExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/PropertyAccessCalculatorTest.kt
Due: kotlin-lint

fix(review): address PR #636 feedback on idiomacy and correctness
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccess.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculator.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculatorTest.kt
Due: kotlin-lint

test(semantics): add regression coverage for calculators
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculator.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubInternalMappingsTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccessTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculatorTest.kt
Due: kotlin-lint

test(semantics): tighten list LUB assertion
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculatorTest.kt
Due: kotlin-lint

chore(semantics): track deferred review feedback
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeCalculatorRegistry.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/PropertyAccessCalculator.kt
Due: kotlin-lint

fix(semantics): simplify constant value detection
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculator.kt
Due: kotlin-lint

feat(semantics): add missing phase-2 calculators
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/DefaultCalculators.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ClosureExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/DeclarationExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/GStringExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/VariableExpressionCalculator.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ClosureExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/DeclarationExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/GStringExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/VariableExpressionCalculatorTest.kt
Due: kotlin-lint

fix(semantics): address review feedback
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/PrimitiveKind.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeConstants.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccess.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/BinaryExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/PropertyAccessCalculator.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/PrimitiveKindTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/SemanticTypeTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubInternalMappingsTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccessTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/BinaryExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculatorTest.kt
Due: kotlin-lint

ci: run CI for semantics changes
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

test(semantics): cover void and reflection edges
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccessTest.kt
Due: kotlin-lint

feat(semantics): refactor calculators with idiomacy improvements (#636)
  .github/workflows/ci.yml
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/PrimitiveKind.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeConstants.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/DefaultCalculators.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccess.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeCalculatorRegistry.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeContext.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/BinaryExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ClosureExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/DeclarationExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/GStringExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MapExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/PropertyAccessCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculator.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/VariableExpressionCalculator.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/PrimitiveKindTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/SemanticTypeTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubInternalMappingsTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccessTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TypeCalculatorRegistryTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/BinaryExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ClosureExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstantExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/DeclarationExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/GStringExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MapExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/PropertyAccessCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculatorTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/VariableExpressionCalculatorTest.kt
Due: kotlin-lint, yaml-lint, workflow-lint

refactor(parser): modularize AST cloning infrastructure
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AnnotationExpr.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/Cloneable.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/CloningUtils.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/CommentCloner.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/ControlFlowCloner.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/ExpressionCloner.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeCloner.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/StatementCloner.kt
Due: kotlin-lint

refactor(semantics): enhance type inference and LUB logic
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/typeinference/BinaryTypeLogic.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/typeinference/LeastUpperBoundLogic.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/typeinference/NumericLubLogic.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/typeinference/TypeExtractor.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/types/ResolvedArrayType.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/types/ResolvedNullType.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/types/ResolvedPrimitiveType.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/types/ResolvedReferenceType.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/types/ResolvedType.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/types/ResolvedTypeVariable.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/types/ResolvedVoidType.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/types/ResolvedWildcard.kt
Due: kotlin-lint

fix(parser): improve AST conversion and printer stability
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParser.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/GroovyAstConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/SourcePositionCommentParser.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/printer/GroovyPrettyPrinter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/printer/XmlPrinter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/printer/YamlPrinter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/spi/DefaultCpsAnalyzer.kt
Due: kotlin-lint

fix(lsp): improve SignatureHelp and stabilize worker sessions
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationCache.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationCacheService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestrator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationResultMapper.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/ParseResultAccessor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/ParserDiagnosticExtensions.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/SymbolIndexingService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/NativeParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/api/LanguageEngineApi.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/core/CoreLanguageEngine.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/native/NativeLanguageEngine.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/native/features/NativeHoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/rewrite/OpenRewriteLanguageEngine.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/worker/WorkerSessionManager.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
  parser/native/src/jmh/kotlin/com/github/albertocavalcante/groovyparser/benchmarks/VisitorBenchmark.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/nativeapi/ParseRequest.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/nativeapi/ParseResult.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/nativeapi/ParserDiagnostic.kt
  settings.gradle.kts
Due: kotlin-lint
