Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

fix(lsp): handle untitled URI scheme gracefully (#751)
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/UriPathConverter.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/UriPathConverterTest.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsFileDetector.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsFileDetectionTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/SymbolIndexingService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/CrossFileDefinitionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ClosureHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/ConstructorCallHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/LiteralHoverStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManagerErrorHandlingTest.kt
Due: kotlin-lint

fix(tests): extract command constants to avoid vscode import in tests
  editors/code/client/src/commands/constants.ts
  editors/code/client/src/commands/index.ts
  editors/code/client/src/ui/statusBar.ts
Due: extension-lint

fix: await executeCommand to prevent unhandled rejections
  editors/code/client/src/ui/errorNotificationHandler.ts
Due: extension-lint

test: add unit tests for special action buttons
  editors/code/client/src/test/unit/errorNotificationHandler.test.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
Due: extension-lint

fix(ux): use progress notification for retry command
  editors/code/client/src/commands/index.ts
Due: extension-lint

fix: address code review feedback for error handling
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzer.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzerTest.kt
Due: kotlin-lint, extension-lint

fix(errors): propagate Gradle resolution failures to client with actionable UI (#750)
  editors/code/client/src/commands/constants.ts
  editors/code/client/src/commands/index.ts
  editors/code/client/src/test/unit/errorNotificationHandler.test.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/src/ui/statusBar.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolver.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzer.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverErrorPropagationTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzerTest.kt
  groovy-build-tool/src/test/resources/gradle-errors/connection-refused-error.txt
  groovy-build-tool/src/test/resources/gradle-errors/init-script-error.txt
  groovy-build-tool/src/test/resources/gradle-errors/jdk-mismatch-error.txt
  groovy-build-tool/src/test/resources/gradle-errors/lock-timeout-error.txt
  groovy-build-tool/src/test/resources/gradle-errors/toolchain-provisioning-error.txt
Due: kotlin-lint, extension-lint

feat(codeaction): add SpaceBeforeOpeningBrace quick fix
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codeaction/FixHandlerRegistry.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codeaction/handlers/FormattingFixHandlersTest.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceBeforeOpeningBrace.kt
  refactor/openrewrite/rewrite-codenarc/src/main/resources/META-INF/rewrite/codenarc.yml
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceBeforeOpeningBraceTest.kt
Due: kotlin-lint, yaml-lint

fix: address review - use idiomatic Kotlin and improve closure handling
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceBeforeOpeningBrace.kt
Due: kotlin-lint

fix: use imports over FQNs, expand test coverage, improve comments
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceBeforeOpeningBrace.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceBeforeOpeningBraceTest.kt
Due: kotlin-lint

fix: add do-while support and use isWhitespace() for brace check
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codeaction/FixHandlerRegistry.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codeaction/handlers/FormattingFixHandlersTest.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceBeforeOpeningBrace.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceBeforeOpeningBraceTest.kt
Due: kotlin-lint

feat(parser): add TokenEditDistance for incremental parsing
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/parser/incremental/TokenEditDistance.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/parser/incremental/TokenEditDistanceTest.kt
Due: kotlin-lint

feat(lsp): extend semantic tokens to all Groovy files
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint

feat(semantics): add delegation resolution for implicit receivers
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/delegation/DelegationResolver.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/delegation/DelegationStrategy.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/delegation/DelegationResolverTest.kt
Due: kotlin-lint

ci: add bidirectional sync for rewrite-codenarc repository
  .github/workflows/sync-rewrite-codenarc.yml
  infra/copybara/rewrite-codenarc.bara.sky
  infra/copybara/rewrite-codenarc/gradle.properties
  infra/copybara/rewrite-codenarc/gradle/libs.versions.toml
  infra/copybara/rewrite-codenarc/settings.gradle.kts
  refactor/openrewrite/rewrite-codenarc/CONTRIBUTING.md
  refactor/openrewrite/rewrite-codenarc/README.md
Due: yaml-lint, workflow-lint, markdown-lint

feat(completion): add AST-based completion context detection
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContext.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetectorTest.kt
Due: kotlin-lint

fix: address review feedback
  infra/copybara/rewrite-codenarc.bara.sky
  refactor/openrewrite/rewrite-codenarc/CONTRIBUTING.md
Due: markdown-lint

fix: workflow permissions and options string
  .github/workflows/sync-rewrite-codenarc.yml
Due: yaml-lint, workflow-lint

docs: document deploy key usage for Copybara sync
  .github/workflows/mirror-vscode-groovy.yml
  .github/workflows/sync-rewrite-codenarc.yml
  infra/copybara/rewrite-codenarc.bara.sky
  infra/copybara/vscode-groovy.bara.sky
Due: yaml-lint, workflow-lint

fix: correct class name length and improve variable classification
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
Due: kotlin-lint

fix(parser): remove duplicate Position class from test
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/parser/incremental/TokenEditDistanceTest.kt
Due: kotlin-lint

fix(parser): correct findClosestMappedLine bounds and column clamping
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/parser/incremental/TokenEditDistance.kt
Due: kotlin-lint

fix: eliminate tight coupling with JenkinsSemanticTokenProvider
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
Due: kotlin-lint

fix(semantics): correct 'this' resolution and refactor delegation chain logic
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/delegation/DelegationResolver.kt
Due: kotlin-lint

fix: address review feedback in AstCompletionContextDetector
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetector.kt
Due: kotlin-lint

docs(parser): add TODO comments and rationale for Position class
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/parser/incremental/TokenEditDistance.kt
Due: kotlin-lint

feat(codeaction): add SpaceBeforeOpeningBrace quick fix (#752)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codeaction/FixHandlerRegistry.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codeaction/handlers/FormattingFixHandlersTest.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceBeforeOpeningBrace.kt
  refactor/openrewrite/rewrite-codenarc/src/main/resources/META-INF/rewrite/codenarc.yml
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceBeforeOpeningBraceTest.kt
Due: kotlin-lint, yaml-lint

fix: exclude build.gradle.kts from origin_files instead
  infra/copybara/rewrite-codenarc.bara.sky
Due: none

ci: add validation script and TODO for commit message handling
  infra/copybara/rewrite-codenarc.bara.sky
  infra/copybara/rewrite-codenarc/validate-standalone.sh
Due: shell-lint

fix(semantictokens): catch specific exceptions instead of generic Exception
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
Due: kotlin-lint

test(semantictokens): improve type reference test clarity
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint

test(semantictokens): make method tokens test more specific
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint

test(semantictokens): add token types verification test
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint

ci: add bidirectional sync for rewrite-codenarc repository (#753)
  .github/workflows/mirror-vscode-groovy.yml
  .github/workflows/sync-rewrite-codenarc.yml
  infra/copybara/rewrite-codenarc.bara.sky
  infra/copybara/rewrite-codenarc/gradle.properties
  infra/copybara/rewrite-codenarc/gradle/libs.versions.toml
  infra/copybara/rewrite-codenarc/settings.gradle.kts
  infra/copybara/rewrite-codenarc/validate-standalone.sh
  infra/copybara/vscode-groovy.bara.sky
  refactor/openrewrite/rewrite-codenarc/CONTRIBUTING.md
  refactor/openrewrite/rewrite-codenarc/README.md
Due: yaml-lint, shell-lint, workflow-lint, markdown-lint

feat(completion): add AST-based completion context detection (#756)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContext.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetectorTest.kt
Due: kotlin-lint

docs: clarify OWNER_FIRST is Groovy default, not DELEGATE_FIRST
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/delegation/DelegationResolver.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/delegation/DelegationResolverTest.kt
Due: kotlin-lint

feat(semantics): add delegation resolution for implicit receivers (#755)
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/delegation/DelegationResolver.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/delegation/DelegationStrategy.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/delegation/DelegationResolverTest.kt
Due: kotlin-lint

feat(parser): add TokenEditDistance for incremental parsing (#754)
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/parser/incremental/TokenEditDistance.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/parser/incremental/TokenEditDistanceTest.kt
Due: kotlin-lint

fix(semantictokens): use imports over FQNs and fix READONLY modifier bug
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint

fix(semantictokens): add validation for token indices and improve robustness
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint
