Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

refactor(lsp): decouple Groovy vs Jenkins mode across providers (#878)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/GroovyMode.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/ModeResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfiguration.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/CompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/CompletionStrategyContext.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/GroovyCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/JenkinsCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/JenkinsStepHoverStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/config/ModeResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/CompletionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/JenkinsStepHoverStrategyTest.kt
Due: kotlin-lint

feat(vscode): add project build JDK configuration
  editors/code/README.md
  editors/code/client/src/configuration/settings.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/client/src/java/validator.ts
  editors/code/client/src/ui/languageStatus.ts
  editors/code/package.json
Due: extension-lint, markdown-lint

fix(vscode): address PR review feedback
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/java/commands.ts
Due: extension-lint

fix(tests): update configureJava tests for purpose picker flow
  editors/code/client/test/unit/java/commands.test.ts
Due: extension-lint

feat(vscode): add project build JDK configuration (#881)
  editors/code/README.md
  editors/code/client/src/configuration/settings.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/client/src/java/validator.ts
  editors/code/client/src/ui/languageStatus.ts
  editors/code/client/test/unit/java/commands.test.ts
  editors/code/package.json
Due: extension-lint, markdown-lint

fix(lsp): address PR #878 review comments and critical bugs
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfiguration.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/GroovyCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/JenkinsCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsVarsCompletionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsVarsDefinitionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/CompletionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/JenkinsStepHoverStrategyTest.kt
Due: kotlin-lint

fix(test): remove if-null anti-pattern from hover fallback test
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProviderTest.kt
Due: kotlin-lint

fix(lsp): address PR #878 review comments and critical bugs (#883)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/config/ServerConfiguration.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/GroovyCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/JenkinsCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsVarsCompletionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsVarsDefinitionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/CompletionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/strategies/JenkinsStepHoverStrategyTest.kt
Due: kotlin-lint

feat: Add LSP-centric test results and coverage parsing with comprehensive tests
  editors/code/client/src/features/testing/CoverageService.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/TestService.ts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/CoverageDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestResultsDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/parsers/SurefireXmlParser.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParserTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/parsers/SurefireXmlParserTest.kt
  groovy-lsp/src/test/resources/jacoco/jacoco.xml
  groovy-lsp/src/test/resources/surefire-reports/TEST-com.example.MySpec.xml
Due: kotlin-lint, extension-lint

fix: update CoverageService test to pass required testService parameter
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
Due: extension-lint

fix: pass testService to CoverageService constructor
  editors/code/client/src/features/testing/index.ts
Due: extension-lint

fix: remove unused imports and prefix unused parameter
  editors/code/client/src/features/testing/CoverageService.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
Due: extension-lint

feat(testing): LSP-centric test results and coverage parsing (#884)
  editors/code/client/src/features/testing/CoverageService.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/TestService.ts
  editors/code/client/src/features/testing/index.ts
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/CoverageDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestResultsDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/parsers/SurefireXmlParser.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParserTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/parsers/SurefireXmlParserTest.kt
  groovy-lsp/src/test/resources/jacoco/jacoco.xml
  groovy-lsp/src/test/resources/surefire-reports/TEST-com.example.MySpec.xml
Due: kotlin-lint, extension-lint

feat(testing): add coverage CodeLens and improve test UX
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/TestCodeLensProvider.ts
  editors/code/package.json
Due: extension-lint

test: update CodeLens tests for new titles with codicons
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
Due: extension-lint

fix(e2e): resolve three failing e2e tests
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/NativeParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/CoverageDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestResultsDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/parsers/SurefireXmlParser.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolTableBuilder.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/SymbolIndex.kt
Due: kotlin-lint

fix(e2e): resolve three failing e2e tests (#888)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/NativeParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/CoverageDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestResultsDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/parsers/SurefireXmlParser.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolTableBuilder.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/SymbolIndex.kt
Due: kotlin-lint

refactor: eliminate duplication in test execution service
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/TestCodeLensProvider.ts
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
Due: extension-lint

refactor(lsp): use when expression in isSyntheticPropertyAccessor
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/NativeParserAdapter.kt
Due: kotlin-lint

refactor(lsp): extract regex pattern to companion object constant
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
Due: kotlin-lint

refactor(parser): extract identity set creation to shared utility
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AstUtils.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolTableBuilder.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/SymbolIndex.kt
Due: kotlin-lint

test: fix suite detection test to match dot-based heuristic
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
Due: extension-lint

feat(testing): add coverage CodeLens and improve test UX (#887)
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/TestCodeLensProvider.ts
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/package.json
Due: extension-lint

fix: move SYNTHETIC_PARAM_PATTERN to file level for visibility
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
Due: kotlin-lint

refactor: address PR #888 review feedback (#890)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/NativeParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AstUtils.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolTableBuilder.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/SymbolIndex.kt
Due: kotlin-lint

refactor(lsp): extract CompilationEnsurer from GroovyTextDocumentService
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
Due: kotlin-lint

refactor: address lint/detekt findings phase 1
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParserTest.kt
Due: kotlin-lint

refactor(completion): extract TextImportParser from CompletionProvider
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/TextImportParser.kt
Due: kotlin-lint

refactor: add justified @Suppress annotations for borderline lint cases
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/SignatureFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/NativeParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDiagnosticProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/parsers/SurefireXmlParser.kt
Due: kotlin-lint

refactor: move TextImportInfo to separate file
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/TextImportInfo.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/TextImportParser.kt
Due: kotlin-lint

refactor: remove non-null assertions in handlePendingImport
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/TextImportParser.kt
Due: kotlin-lint

fix: improve comment handling in import parser
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/TextImportParser.kt
Due: kotlin-lint

fix: address review feedback on CompilationEnsurer
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
Due: kotlin-lint

feat(deps): add dependency tree view for VS Code
  editors/code/client/src/extension.ts
  editors/code/client/src/features/dependencies/DependencyService.ts
  editors/code/client/src/features/dependencies/DependencyTreeProvider.ts
  editors/code/client/src/features/dependencies/index.ts
  editors/code/package.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyRequestHandler.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyRequestHandlerTest.kt
Due: kotlin-lint, extension-lint

fix(test): restore non-null assertions for branchInfo access
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParserTest.kt
Due: kotlin-lint

refactor(lint): fix Kotlin warnings, sendStatus params, DocFormatter sections (#892)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/SignatureFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/NativeParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDiagnosticProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/parsers/SurefireXmlParser.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParserTest.kt
Due: kotlin-lint

refactor(completion): extract TextImportParser from CompletionProvider (#893)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/TextImportInfo.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/TextImportParser.kt
Due: kotlin-lint

refactor(textdoc): extract CompilationEnsurer from GroovyTextDocumentService (#894)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
Due: kotlin-lint

fix: address PR #899 review comments
  editors/code/client/src/extension.ts
  editors/code/client/src/features/dependencies/DependencyTreeProvider.ts
  editors/code/package.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyRequestHandler.kt
Due: kotlin-lint, extension-lint

fix: remove unused error variable in catch block
  editors/code/client/src/extension.ts
Due: extension-lint

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
