Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

feat(semantics): migrate Ternary, Elvis calculators to Either (#683)
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculator.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculatorTest.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculatorTest.kt
Due: kotlin-lint

feat(debug): Enhance E2E harness and semantic resolution for cross-file debugging
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestrator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/SemanticDBResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/SemanticDBResolutionStrategyTest.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/db/SemanticDocumentBuilder.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioExecutor.kt
  tests/e2e/resources/scenarios/definition-crossfile.yaml
Due: kotlin-lint, yaml-lint

fix(semantics): robust symbol resolution for light mode cross-file navigation
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/db/SemanticDocumentBuilder.kt
Due: kotlin-lint

chore: add TODO for precise method resolution (#703)
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/db/SemanticDocumentBuilder.kt
Due: kotlin-lint

fix: address review feedback (range logic, variable leaking)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/SemanticDBResolutionStrategy.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/db/SemanticDocumentBuilder.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/db/SemanticDocumentBuilderTest.kt
Due: kotlin-lint

fix: remove duplicate comment in SemanticDocumentBuilder
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/db/SemanticDocumentBuilder.kt
Due: kotlin-lint

chore: add TODO for Gson migration (#704)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
Due: kotlin-lint

chore: refine repro test case in SemanticDBResolutionStrategyTest.kt.repro
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/SemanticDBResolutionStrategyTest.kt.repro
Due: none

feat: implement cross-file definition resolution logic
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/IncrementalCompiler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/native/features/NativeDefinitionService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/CrossFileDefinitionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionProviderTest.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/PositionAwareVisitor.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/PositionNodeVisitor.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionExtensionsTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/FindNodeAtCrossFileTest.kt
Due: kotlin-lint

style: fix spotless violations in parser:native tests
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/CrossFileDefinitionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/SemanticDBResolutionStrategyTest.kt.repro
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionExtensionsTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/FindNodeAtCrossFileTest.kt
Due: kotlin-lint

feat(definition): enable cross-file resolution and enhance semantic model (#702)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestrator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/IncrementalCompiler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/native/features/NativeDefinitionService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/SemanticDBResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/CrossFileDefinitionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/SemanticDBResolutionStrategyTest.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/PositionAwareVisitor.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/PositionNodeVisitor.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionExtensionsTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/FindNodeAtCrossFileTest.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/db/SemanticDocumentBuilder.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/db/SemanticDocumentBuilderTest.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/ScenarioExecutor.kt
  tests/e2e/resources/scenarios/definition-crossfile.yaml
Due: kotlin-lint, yaml-lint

fix: use calculateTypeResult with traverse pattern in ListExpressionCalculator
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculator.kt
Due: kotlin-lint

fix(ci): include semantics submodules in path filter
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

fix: propagate errors from child expressions in Ternary/Elvis calculators
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculator.kt
Due: kotlin-lint

style: use Either import instead of FQN in semantics module
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculator.kt
Due: kotlin-lint

fix: propagate errors from child expressions in MapExpressionCalculator
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MapExpressionCalculator.kt
Due: kotlin-lint

test: add error propagation tests for calculators
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TestTypeContext.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculatorTest.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculatorTest.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MapExpressionCalculatorTest.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculatorTest.kt
Due: kotlin-lint

fix(groovy-build-tool): disable flaky GradleConnectionPoolTest (#697)
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleConnectionPoolTest.kt
Due: kotlin-lint

feat(semantics): migrate Closure, List, Map, Elvis, Ternary calculators to Either (#699)
  .github/workflows/ci.yml
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleConnectionPoolTest.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ClosureExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MapExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculator.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/TestTypeContext.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ClosureExpressionCalculatorTest.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ElvisOperatorExpressionCalculatorTest.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ListExpressionCalculatorTest.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MapExpressionCalculatorTest.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/TernaryExpressionCalculatorTest.kt
Due: kotlin-lint, yaml-lint, workflow-lint

feat(semantics): complete Either-based calculator migration (#683)
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/BinaryExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstructorCallExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/DeclarationExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/PropertyAccessCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/VariableExpressionCalculator.kt
Due: kotlin-lint

fix: simplify redundant when expressions in calculators
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/DeclarationExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/PropertyAccessCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/VariableExpressionCalculator.kt
Due: kotlin-lint

feat(semantics): complete Either-based calculator migration (#705)
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/BinaryExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/ConstructorCallExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/DeclarationExpressionCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/MethodCallCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/PropertyAccessCalculator.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/impl/VariableExpressionCalculator.kt
Due: kotlin-lint

feat(bsp): add comprehensive BSP core infrastructure with full test coverage
  .github/workflows/ci.yml
  bsp/bsp-core/build.gradle.kts
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/client/BspCapabilities.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/client/BuildServerConnection.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/client/ConnectionConfig.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/CompilationEvent.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/CompileGatekeeper.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/DiagnosticReporter.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/ResultsCache.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspClientHandler.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnectionDetails.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnector.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspSession.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BuildServerConnection.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BuildTargetCache.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/model/BuildTargetCache.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/model/DependencyGraph.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/model/TargetInfo.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/CachedResolver.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/ClassPathEntry.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/ClassPathResolver.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/CompositeResolver.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/BspTransport.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/ErrorStreamLogger.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/ProcessLauncher.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/SocketTransport.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/StdioTransport.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/client/BspCapabilitiesTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/client/BuildServerConnectionTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/client/ConnectionConfigTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/compilation/CompileGatekeeperTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnectionDetailsTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/model/BuildTargetCacheTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/resolver/ClassPathResolverTest.kt
  settings.gradle.kts
Due: kotlin-lint, yaml-lint, workflow-lint

fix(bsp): resolve duplicate classes and thread-safety issues
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspClientHandler.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnector.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspSession.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BuildServerConnection.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BuildTargetCache.kt
Due: kotlin-lint

fix(bsp): resolve concurrency and null safety issues
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/CompileGatekeeper.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/DiagnosticReporter.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnector.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/CachedResolver.kt
Due: kotlin-lint

feat(bsp): add reusable BSP core infrastructure (#709)
  .github/workflows/ci.yml
  bsp/bsp-core/build.gradle.kts
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/client/BspCapabilities.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/client/BuildServerConnection.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/client/ConnectionConfig.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/CompilationEvent.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/CompileGatekeeper.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/DiagnosticReporter.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/ResultsCache.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspClientHandler.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnectionDetails.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnector.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspSession.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/model/BuildTargetCache.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/model/DependencyGraph.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/model/TargetInfo.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/CachedResolver.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/ClassPathEntry.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/ClassPathResolver.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/CompositeResolver.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/BspTransport.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/ErrorStreamLogger.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/ProcessLauncher.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/SocketTransport.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/StdioTransport.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/client/BspCapabilitiesTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/client/BuildServerConnectionTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/client/ConnectionConfigTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/compilation/CompileGatekeeperTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnectionDetailsTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/model/BuildTargetCacheTest.kt
  bsp/bsp-core/src/test/kotlin/com/github/groovylsp/bsp/resolver/ClassPathResolverTest.kt
  settings.gradle.kts
Due: kotlin-lint, yaml-lint, workflow-lint

fix(lsp): use fully-qualified name for global class resolution
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategyTest.kt
Due: kotlin-lint

refactor(test): apply review feedback to GlobalClassResolutionStrategyTest
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategyTest.kt
Due: kotlin-lint

fix(lsp): use fully-qualified name for global class resolution (#710)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategyTest.kt
Due: kotlin-lint

fix(definition): resolve cross-file classes via ensureCompiled on-demand
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategyTest.kt
  tests/e2e/resources/scenarios/definition-crossfile-lazy-compile.yaml
  tests/e2e/resources/scenarios/definition-crossfile-spock.yaml
Due: kotlin-lint, yaml-lint

fix: replace unsupported writeFile step with openDocument in E2E test
  tests/e2e/resources/scenarios/definition-crossfile-lazy-compile.yaml
Due: yaml-lint

feat(hover): Phase 1 - GroovyDoc integration and inline tag rendering (#706)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/Documentation.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRenderer.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocExtractorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatterTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapterTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRendererTest.kt
Due: kotlin-lint

build(groovy-build-tool): add bsp-core dependency
  groovy-build-tool/build.gradle.kts
Due: none

fix: implement on-demand compilation from disk and refine definition resolution
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestrator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/SemanticDBResolutionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategyTest.kt
  tests/e2e/resources/scenarios/definition-crossfile-lazy-compile.yaml
Due: kotlin-lint, yaml-lint

feat(hover): phase 1 - groovydoc integration and inline tags (#713)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/Documentation.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRenderer.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocExtractorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatterTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapterTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRendererTest.kt
Due: kotlin-lint

fix(testing): warn when running tests from external files
  editors/code/client/src/features/testing/GroovyTestController.ts
Due: extension-lint

fix(definition): resolve cross-file classes via ensureCompiled on-demand (#711)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestrator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/SemanticDBResolutionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/GlobalClassResolutionStrategyTest.kt
  tests/e2e/resources/scenarios/definition-crossfile-lazy-compile.yaml
  tests/e2e/resources/scenarios/definition-crossfile-spock.yaml
Due: kotlin-lint, yaml-lint

build(groovy-build-tool): add bsp-core dependency (#712)
  groovy-build-tool/build.gradle.kts
Due: none

feat(hover): Phase 2 - SignatureFormatter and review fixes (#706)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/SignatureFormatter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/GroovyDocAdapterTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRendererTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/SignatureFormatterTest.kt
Due: kotlin-lint
