Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

chore(scripts): refactor inventory_threads.py into robust CLI
  .agent/scripts/inventory_threads.py
Due: python-lint

chore(scripts): inject workflow context into inventory_threads.py
  .agent/scripts/inventory_threads.py
Due: python-lint

chore(scripts): rename inventory_threads.py to review_manager.py
  .agent/scripts/review_manager.py
  .agent/workflows/review.md
Due: python-lint, markdown-lint

chore(scripts): ultra-compact review_manager.py output
  .agent/scripts/review_manager.py
Due: python-lint

chore(scripts): rename to pr.py, command inventory -> threads
  .agent/scripts/pr.py
  .agent/workflows/review.md
Due: python-lint, markdown-lint

fix(groovy-formatter): avoid duplicate shebang fallback
  groovy-formatter/src/main/kotlin/com/github/albertocavalcante/groovyformatter/OpenRewriteFormatter.kt
Due: kotlin-lint

test(indexer): improve core coverage
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/IndexFormatTest.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/PathUtilsTest.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/SymbolGeneratorTest.kt
Due: kotlin-lint

chore(workflows): update review.md to strictly use pr.py
  .agent/workflows/review.md
Due: markdown-lint

test(groovy-build-tool): add POM fixtures for repos
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/RepositoryProviderTest.kt
  groovy-build-tool/src/test/resources/poms/repo-provider/basic.xml
  groovy-build-tool/src/test/resources/poms/repo-provider/with-jenkins.xml
  groovy-build-tool/src/test/resources/poms/repo-provider/with-repos.xml
Due: kotlin-lint

fix(parser): make parsing resilient to invalid input
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/tokens/GroovyTokenIndex.kt
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParserProvider.kt
  parser/rewrite/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParserProviderTest.kt
Due: kotlin-lint

chore(build): tune kover for generated and desktop
  indexer/scip/build.gradle.kts
  viz/desktop/build.gradle.kts
Due: none

fix(semantics): correct numeric LUB for mixed primitive/wrapper types
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubTest.kt
Due: kotlin-lint

docs: improve KDoc coverage and fix lints
  .agent/scripts/pr.py
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/PrimitiveKind.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeConstants.kt
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/PrimitiveKindTest.kt
Due: kotlin-lint, python-lint

fix: address PR review feedback for TypeLub
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
Due: kotlin-lint

test: add coverage for Array, Null, and Union types
  semantics/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/SemanticTypeTest.kt
  semantics/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubTest.kt
Due: kotlin-lint

feat(scripts): add pr.py merge command with semantic enforcement
  .agent/scripts/pr.py
  .agent/workflows/merge.md
Due: python-lint, markdown-lint

feat(scripts): enhance merge command with issue linking and auto-detection
  .agent/scripts/pr.py
  .agent/workflows/merge.md
Due: python-lint, markdown-lint

fix(CI): resolve PR feedback on scripts and build dependencies
  .agent/queries/reply-to-thread.graphql
  .agent/scripts/pr.py
  semantics/build.gradle.kts
Due: python-lint

chore: setup local dev environment for pr script
  .agent/scripts/pr
  .envrc
Due: none

fix(scripts): make type hints consistent in pr.py
  .agent/scripts/pr.py
Due: python-lint
