Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

refactor(ci): consolidate Claude workflows with reusable base
  .github/workflows/_claude-base.yml
  .github/workflows/claude-auto-fix.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-mentions.yml
  .github/workflows/claude.yml
Due: yaml-lint, workflow-lint

fix(groovy-lsp): make SemanticTokensHandler return non-nullable SemanticTokens
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokensHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/ExpressionConverter.kt
Due: kotlin-lint

fix(ci): address review feedback on Claude workflow refactoring
  .github/workflows/_claude-base.yml
  .github/workflows/claude-auto-fix.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-mentions.yml
Due: yaml-lint, workflow-lint

refactor(ci): consolidate Claude workflows with reusable base (#1004)
  .github/workflows/_claude-base.yml
  .github/workflows/claude-auto-fix.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude-mentions.yml
  .github/workflows/claude.yml
Due: yaml-lint, workflow-lint

refactor(groovy-lsp): extract semantic tokens logic into SemanticTokensHandler (#1001)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokensHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokensHandlerTest.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/ExpressionConverter.kt
Due: kotlin-lint

refactor(groovy-lsp): extract CrossFileOperationsHandler from GroovyTextDocumentService
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/crossfile/CrossFileOperationsHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceSecurityTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentServiceTest.kt
Due: kotlin-lint

refactor(groovy-lsp): optimize CrossFileOperationsHandler with lazy providers and idiomatic exception handling
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/crossfile/CrossFileOperationsHandler.kt
Due: kotlin-lint

refactor(groovy-lsp): use runSuspendCatching for idiomatic coroutine error handling
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/crossfile/CrossFileOperationsHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/utils/CoroutineUtils.kt
Due: kotlin-lint

refactor(groovy-lsp): extract CrossFileOperationsHandler from GroovyTextDocumentService (#1005)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/crossfile/CrossFileOperationsHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/utils/CoroutineUtils.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceSecurityTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentServiceTest.kt
Due: kotlin-lint

refactor(repl): rename groovy-repl to repl with gvy.repl package
  jupyter/kernel-core/build.gradle.kts
  jupyter/kernel-core/src/main/kotlin/com/github/albertocavalcante/groovyjupyter/kernel/core/GroovyKernelExecutorAdapter.kt
  jupyter/kernel-core/src/test/kotlin/com/github/albertocavalcante/groovyjupyter/handlers/ExecuteHandlerTest.kt
  jupyter/kernels/groovy/build.gradle.kts
  jupyter/kernels/groovy/src/main/kotlin/com/github/albertocavalcante/groovyjupyter/groovy/GroovyKernelExecutor.kt
  repl/build.gradle.kts
  repl/src/main/kotlin/com/github/albertocavalcante/gvy/repl/GroovyExecutor.kt
  repl/src/test/kotlin/com/github/albertocavalcante/gvy/repl/GroovyExecutorTest.kt
  settings.gradle.kts
Due: kotlin-lint

refactor(repl): rename groovy-repl to repl with gvy.repl package (#1007)
  jupyter/kernel-core/build.gradle.kts
  jupyter/kernel-core/src/main/kotlin/com/github/albertocavalcante/groovyjupyter/kernel/core/GroovyKernelExecutorAdapter.kt
  jupyter/kernel-core/src/test/kotlin/com/github/albertocavalcante/groovyjupyter/handlers/ExecuteHandlerTest.kt
  jupyter/kernels/groovy/build.gradle.kts
  jupyter/kernels/groovy/src/main/kotlin/com/github/albertocavalcante/groovyjupyter/groovy/GroovyKernelExecutor.kt
  repl/build.gradle.kts
  repl/src/main/kotlin/com/github/albertocavalcante/gvy/repl/GroovyExecutor.kt
  repl/src/test/kotlin/com/github/albertocavalcante/gvy/repl/GroovyExecutorTest.kt
  settings.gradle.kts
Due: kotlin-lint

refactor(fmt): rename groovy-formatter to fmt with gvy.fmt package
  fmt/build.gradle.kts
  fmt/src/main/kotlin/com/github/albertocavalcante/gvy/fmt/OpenRewriteFormatter.kt
  fmt/src/test/kotlin/com/github/albertocavalcante/gvy/fmt/OpenRewriteFormatterTest.kt
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/FormatCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyFormattingService.kt
  settings.gradle.kts
  tests/build.gradle.kts
Due: kotlin-lint

refactor(fmt): rename groovy-formatter module to fmt (#1012)
  fmt/build.gradle.kts
  fmt/src/main/kotlin/com/github/albertocavalcante/gvy/fmt/OpenRewriteFormatter.kt
  fmt/src/test/kotlin/com/github/albertocavalcante/gvy/fmt/OpenRewriteFormatterTest.kt
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/FormatCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyFormattingService.kt
  settings.gradle.kts
  tests/build.gradle.kts
Due: kotlin-lint

fix(pr): add resilient diff retrieval with fallback strategies
  .agent/scripts/pr.py
Due: python-lint

fix: address review - extract helper functions to reduce duplication
  .agent/scripts/pr.py
Due: python-lint

fix: address copilot review feedback
  .agent/scripts/pr.py
Due: python-lint

fix(pr): add resilient diff retrieval with fallback strategies (#1015)
  .agent/scripts/pr.py
Due: python-lint

fix(scripts): prevent OOM crashes on large PR diffs with auto-detection
  .agent/scripts/pr.py
Due: python-lint

fix(scripts): address review feedback for OOM prevention
  .agent/scripts/pr.py
Due: python-lint

fix(scripts): guard against invalid GVY_PROMPT_MAX_CHARS env var
  .agent/scripts/pr.py
Due: python-lint

fix(scripts): prevent OOM crashes on large PR diffs with auto-detection (#1017)
  .agent/scripts/pr.py
Due: python-lint

refactor(spock): rename groovy-spock module to spock
  gls/build.gradle.kts
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/completion/strategy/SpockCompletionStrategy.kt
  groovy-testing/build.gradle.kts
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/spock/SpockTestDetector.kt
  settings.gradle.kts
  spock/build.gradle.kts
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlock.kt
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockIndex.kt
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetector.kt
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureExtractor.kt
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureMethod.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockIndexTest.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockTest.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetectorAstTest.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetectorTest.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureExtractorTest.kt
Due: kotlin-lint

refactor(spock): rename groovy-spock module to spock (#1021)
  gls/build.gradle.kts
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/completion/strategy/SpockCompletionStrategy.kt
  groovy-testing/build.gradle.kts
  groovy-testing/src/main/kotlin/com/github/albertocavalcante/groovytesting/spock/SpockTestDetector.kt
  settings.gradle.kts
  spock/build.gradle.kts
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlock.kt
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockIndex.kt
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetector.kt
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureExtractor.kt
  spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureMethod.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockIndexTest.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockTest.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetectorAstTest.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetectorTest.kt
  spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureExtractorTest.kt
Due: kotlin-lint

refactor(ext): create ext/ folder and consolidate extension modules
  ext/README.md
  ext/junit/build.gradle.kts
  ext/junit/src/main/kotlin/com/github/albertocavalcante/gvy/junit/JUnit5TestDetector.kt
  ext/junit/src/main/kotlin/com/github/albertocavalcante/gvy/junit4/JUnit4TestDetector.kt
  ext/junit/src/test/kotlin/com/github/albertocavalcante/gvy/junit/JUnit5TestDetectorTest.kt
  ext/junit/src/test/kotlin/com/github/albertocavalcante/gvy/junit4/JUnit4TestDetectorTest.kt
  ext/spock/build.gradle.kts
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlock.kt
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockIndex.kt
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetector.kt
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureExtractor.kt
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureMethod.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockIndexTest.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockTest.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetectorAstTest.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetectorTest.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureExtractorTest.kt
  gls/build.gradle.kts
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/GroovyLanguageServer.kt
  groovy-testing/build.gradle.kts
  settings.gradle.kts
Due: kotlin-lint, markdown-lint

refactor(ext): restructure extension modules into ext/ folder (#1022)
  ext/README.md
  ext/junit/build.gradle.kts
  ext/junit/src/main/kotlin/com/github/albertocavalcante/gvy/junit/JUnit5TestDetector.kt
  ext/junit/src/main/kotlin/com/github/albertocavalcante/gvy/junit4/JUnit4TestDetector.kt
  ext/junit/src/test/kotlin/com/github/albertocavalcante/gvy/junit/JUnit5TestDetectorTest.kt
  ext/junit/src/test/kotlin/com/github/albertocavalcante/gvy/junit4/JUnit4TestDetectorTest.kt
  ext/spock/build.gradle.kts
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlock.kt
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockIndex.kt
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetector.kt
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureExtractor.kt
  ext/spock/src/main/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureMethod.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockIndexTest.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockBlockTest.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetectorAstTest.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockDetectorTest.kt
  ext/spock/src/test/kotlin/com/github/albertocavalcante/gvy/spock/SpockFeatureExtractorTest.kt
  gls/build.gradle.kts
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/GroovyLanguageServer.kt
  groovy-testing/build.gradle.kts
  settings.gradle.kts
Due: kotlin-lint, markdown-lint

refactor(dsl): create dsl/ folder for DSL descriptor formats
  dsl/README.md
  dsl/dsld/build.gradle.kts
  dsl/dsld/src/main/kotlin/com/github/albertocavalcante/gvy/dsld/DsldParser.kt
  dsl/gdsl/build.gradle.kts
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslContext.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslContributor.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslExecutor.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslLoader.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslScript.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/model/Descriptors.kt
  dsl/gdsl/src/main/resources/bundled-gdsls/grails.gdsl
  dsl/gdsl/src/main/resources/bundled-gdsls/spock.gdsl
  dsl/gdsl/src/test/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslContributorTest.kt
  dsl/gdsl/src/test/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslExecutorTest.kt
  dsl/gdsl/src/test/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslLoaderTest.kt
  dsl/gdsl/src/test/kotlin/com/github/albertocavalcante/gvy/gdsl/model/DescriptorsTest.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslContext.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslContributor.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslExecutor.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslLoader.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslScript.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/model/Descriptors.kt
  groovy-gdsl/src/test/kotlin/com/github/albertocavalcante/groovygdsl/GdslContributorTest.kt
  groovy-gdsl/src/test/kotlin/com/github/albertocavalcante/groovygdsl/GdslExecutorTest.kt
  groovy-gdsl/src/test/kotlin/com/github/albertocavalcante/groovygdsl/GdslLoaderTest.kt
  groovy-gdsl/src/test/kotlin/com/github/albertocavalcante/groovygdsl/model/DescriptorsTest.kt
  jenkins/build.gradle.kts
  jenkins/src/main/kotlin/com/github/albertocavalcante/gvy/jenkins/JenkinsContext.kt
  jenkins/src/main/kotlin/com/github/albertocavalcante/gvy/jenkins/JenkinsWorkspaceManager.kt
  jenkins/src/main/kotlin/com/github/albertocavalcante/gvy/jenkins/gdsl/JenkinsGdslAdapter.kt
  jenkins/src/test/kotlin/com/github/albertocavalcante/gvy/jenkins/gdsl/JenkinsGdslAdapterTest.kt
  jenkins/src/test/kotlin/com/github/albertocavalcante/gvy/jenkins/gdsl/JenkinsGdslIntegrationTest.kt
  settings.gradle.kts
  tools/jenkins-extractor/build.gradle.kts
  tools/jenkins-extractor/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/extractor/GdslToJson.kt
Due: kotlin-lint, markdown-lint

fix: update DSLD TODO to reference issue #1024
  dsl/dsld/src/main/kotlin/com/github/albertocavalcante/gvy/dsld/DsldParser.kt
Due: kotlin-lint

refactor(dsl): restructure descriptor support and add DSLD stub (#1023)
  dsl/README.md
  dsl/dsld/build.gradle.kts
  dsl/dsld/src/main/kotlin/com/github/albertocavalcante/gvy/dsld/DsldParser.kt
  dsl/gdsl/build.gradle.kts
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslContext.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslContributor.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslExecutor.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslLoader.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslScript.kt
  dsl/gdsl/src/main/kotlin/com/github/albertocavalcante/gvy/gdsl/model/Descriptors.kt
  dsl/gdsl/src/main/resources/bundled-gdsls/grails.gdsl
  dsl/gdsl/src/main/resources/bundled-gdsls/spock.gdsl
  dsl/gdsl/src/test/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslContributorTest.kt
  dsl/gdsl/src/test/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslExecutorTest.kt
  dsl/gdsl/src/test/kotlin/com/github/albertocavalcante/gvy/gdsl/GdslLoaderTest.kt
  dsl/gdsl/src/test/kotlin/com/github/albertocavalcante/gvy/gdsl/model/DescriptorsTest.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslContext.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslContributor.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslExecutor.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslLoader.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/GdslScript.kt
  groovy-gdsl/src/main/kotlin/com/github/albertocavalcante/groovygdsl/model/Descriptors.kt
  groovy-gdsl/src/test/kotlin/com/github/albertocavalcante/groovygdsl/GdslContributorTest.kt
  groovy-gdsl/src/test/kotlin/com/github/albertocavalcante/groovygdsl/GdslExecutorTest.kt
  groovy-gdsl/src/test/kotlin/com/github/albertocavalcante/groovygdsl/GdslLoaderTest.kt
  groovy-gdsl/src/test/kotlin/com/github/albertocavalcante/groovygdsl/model/DescriptorsTest.kt
  jenkins/build.gradle.kts
  jenkins/src/main/kotlin/com/github/albertocavalcante/gvy/jenkins/JenkinsContext.kt
  jenkins/src/main/kotlin/com/github/albertocavalcante/gvy/jenkins/JenkinsWorkspaceManager.kt
  jenkins/src/main/kotlin/com/github/albertocavalcante/gvy/jenkins/gdsl/JenkinsGdslAdapter.kt
  jenkins/src/test/kotlin/com/github/albertocavalcante/gvy/jenkins/gdsl/JenkinsGdslAdapterTest.kt
  jenkins/src/test/kotlin/com/github/albertocavalcante/gvy/jenkins/gdsl/JenkinsGdslIntegrationTest.kt
  settings.gradle.kts
  tools/jenkins-extractor/build.gradle.kts
  tools/jenkins-extractor/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/extractor/GdslToJson.kt
Due: kotlin-lint, markdown-lint

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
