Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

fix(lsp): add comprehensive TODOs and improve code quality
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallMetadataResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigator.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallMetadataResolverTest.kt
Due: kotlin-lint

fix(lsp): address PR review feedback for method resolution
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathReflection.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
Due: kotlin-lint

test(lsp): add comprehensive tests for navigateToMethodSource
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverContentGenerator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallMetadataResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallMetadataResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationServiceTest.kt
Due: kotlin-lint

refactor(lsp): use exhaustive when and fix KDoc in navigateToMethodSource
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
Due: kotlin-lint

fix(lsp): address completion and navigation consistency issues
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
Due: kotlin-lint

feat(lsp): improve GDK and classpath method resolution (#829)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/native/features/NativeHoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverContentGenerator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallMetadataResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathReflection.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigator.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallMetadataResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationServiceTest.kt
Due: kotlin-lint

fix: add logback test runtime for leaf modules
  groovy-common/build.gradle.kts
  groovy-gdsl/build.gradle.kts
Due: none

fix: address PR review comments
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeRelationshipTracker.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
  tests/lsp-client/kotlin/com/github/albertocavalcante/groovylsp/testing/client/HarnessLanguageClient.kt
Due: kotlin-lint

fix: add logback test runtime to groovy-junit module
  groovy-junit/build.gradle.kts
Due: none

fix: add logback test runtime to groovy-spock and groovy-testing
  groovy-spock/build.gradle.kts
  groovy-testing/build.gradle.kts
Due: none

fix: add logback test runtime to semantics/core
  semantics/core/build.gradle.kts
Due: none

fix: add logback test runtime to semantics/dsl and semantics/native
  semantics/dsl/build.gradle.kts
  semantics/native/build.gradle.kts
Due: none

fix: add logback test runtime to indexer/core
  indexer/core/build.gradle.kts
Due: none

fix: add logback testRuntimeOnly to parser modules
  parser/core/build.gradle.kts
  parser/native/build.gradle.kts
Due: none

fix: viz/ast-model logback + WorkspaceFixture lambda bug
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/WorkspaceFixture.kt
  viz/ast-model/build.gradle.kts
Due: kotlin-lint

fix(gdk): resolve real parameter names from source JARs (#830)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/GdkMethodIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/GroovySourceResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/GdkMethodIndexTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/GroovySourceResolverTest.kt
Due: kotlin-lint

fix(gdk): address code review feedback - race conditions and validation
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/GdkMethodIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/GroovySourceResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
Due: kotlin-lint

fix(gdk): align GDK_CLASSES and add comprehensive test coverage
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/GdkMethodIndexTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/GroovySourceResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspectorTest.kt
Due: kotlin-lint

fix(parser): resolve same-named variables by scope
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginMetadataExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/gradle/DependencyManager.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolRegistry.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolver.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/registry/SymbolReader.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/registry/SymbolStorage.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/registry/SymbolWriter.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolverTest.kt
Due: kotlin-lint

docs(parser): add native vs core feature matrix
  parser/README.md
  parser/feature-matrix.md
Due: markdown-lint

fix(parser): address review feedback
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolver.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/registry/SymbolWriter.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolverTest.kt
Due: kotlin-lint

fix(gdk): correct varargs handling and improve code quality
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/GroovySourceResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/GroovySourceResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspectorTest.kt
Due: kotlin-lint

fix(gdk): resolve real parameter names from source JARs (#832)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/GdkMethodIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/GroovySourceResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/GdkMethodIndexTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/GroovySourceResolverTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspectorTest.kt
Due: kotlin-lint

fix(parser): handle declaration self-resolution
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolver.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolverTest.kt
Due: kotlin-lint

fix(parser): tighten registry contracts
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolRegistry.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/registry/SymbolWriter.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolverTest.kt
Due: kotlin-lint

fix(parser): handle declaration self match
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolver.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolverTest.kt
Due: kotlin-lint

fix(parser): resolve same-named variables by scope (#835)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginMetadataExtractor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/gradle/DependencyManager.kt
  parser/README.md
  parser/feature-matrix.md
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolRegistry.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolver.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/registry/SymbolReader.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/registry/SymbolStorage.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/registry/SymbolWriter.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolResolverTest.kt
Due: kotlin-lint, markdown-lint

fix(diagnostics): detect .class literals in constructor arguments as used imports
  AGENTS.md
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollectorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDetectorTest.kt
Due: kotlin-lint

fix: address review feedback
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollector.kt
Due: kotlin-lint

test: add negative test for lowercase variable.class pattern
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollectorTest.kt
Due: kotlin-lint

fix(diagnostics): detect .class literals in constructor arguments as used imports (#837)
  AGENTS.md
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollector.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollectorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDetectorTest.kt
Due: kotlin-lint

fix(lsp): resolve Kotlin compiler warnings in groovy-lsp module
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/typedefinition/TypeDefinitionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathReflection.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/types/SemanticTypeResolver.kt
Due: kotlin-lint

fix(lsp): resolve Kotlin compiler warnings in groovy-lsp module (#838)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/typedefinition/TypeDefinitionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathReflection.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/types/SemanticTypeResolver.kt
Due: kotlin-lint

feat(semantics): add DeclarationWalker for centralized block traversal
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProviderTest.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/DeclarationWalker.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemantics.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/SymbolExtractor.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/DeclarationWalkerTest.kt
Due: kotlin-lint

refactor(completion): replace FQNs with imports in CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-lint

fix(jenkins): extract step names from bytecode for deterministic resolution
  gradle/libs.versions.toml
  groovy-jenkins/build.gradle.kts
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginMetadataExtractor.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/extraction/BytecodeScanner.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/extraction/FunctionNameExtractor.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/extraction/FunctionNameExtractorTest.kt
Due: kotlin-lint

fix: address review feedback from PR #839
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/SymbolExtractor.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/DeclarationWalkerTest.kt
Due: kotlin-lint

fix: address additional review feedback
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/DeclarationWalker.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/DeclarationWalkerTest.kt
Due: kotlin-lint
