Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

fix(security): mitigate command injection in Claude workflow (#1043)
  .github/workflows/_claude-base.yml
Due: yaml-lint, workflow-lint

fix(ci): stop declaring the reserved GITHUB_TOKEN secret in the Claude reusable workflow
  .github/workflows/_claude-base.yml
  .github/workflows/claude-auto-fix.yml
Due: yaml-lint, workflow-lint

ci(coverage): make SonarCloud advisory and never block CI (#1054)
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

ci(release): ship GitHub Release assets only; gate publishing behind repo vars (#1055)
  .github/workflows/release.yml
Due: yaml-lint, workflow-lint

ci(sanity): check renames, type changes and unusual paths; scope GH_TOKEN to the comment step
  .github/workflows/sanity-check.yml
  tools/ci/check-large-files.sh
  tools/ci/check-large-files_test.sh
Due: yaml-lint, shell-lint, workflow-lint

fix(docs): upgrade to Starlight 0.42 and Astro 7 to clear Astro security advisories
  docs/website/astro.config.ts
  docs/website/bun.lock
  docs/website/package.json
Due: none

ci(paths): run main CI for every Gradle module and Bazel/Buck2 inputs
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

test(diagnostics): make job-cancellation test deterministic and cover immediate completion
  gls/src/test/kotlin/com/github/albertocavalcante/gvy/gls/diagnostics/DiagnosticsOrchestratorTest.kt
Due: kotlin-lint

fix(diagnostics): register diagnostic jobs before starting them
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/diagnostics/DiagnosticsOrchestrator.kt
Due: kotlin-lint

ci(sanity): make the large-file gate actually fail and self-test it (#1056)
  .github/workflows/sanity-check.yml
  tools/ci/check-large-files.sh
  tools/ci/check-large-files_test.sh
Due: yaml-lint, shell-lint, workflow-lint

fix(vscode): secure test execution and pin server artifacts
  .github/workflows/extension.yml
  editors/code/AGENTS.md
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/MavenExecutionService.ts
  editors/code/client/src/features/testing/processInvocation.ts
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/MavenExecutionService.test.ts
  editors/code/client/test/unit/features/testing/processInvocation.test.ts
  editors/code/client/test/unit/tools/prepareServer.test.ts
  editors/code/pnpm-workspace.yaml
  editors/code/tools/prepare-server.d.ts
  editors/code/tools/prepare-server.js
  lefthook.yml
Due: extension-lint, yaml-lint, workflow-lint, markdown-lint

fix(vscode): restore cross-platform extension CI tests
  editors/code/client/package.json
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/MavenExecutionService.test.ts
  editors/code/package.json
  editors/code/pnpm-lock.yaml
Due: extension-lint, yaml-lint

refactor(vscode): use one workspace lockfile
  Makefile
  editors/code/client/pnpm-lock.yaml
  editors/code/package.json
Due: yaml-lint

fix(vscode): remove failed checksum downloads
  editors/code/client/test/unit/tools/prepareServer.test.ts
  editors/code/tools/prepare-server.d.ts
  editors/code/tools/prepare-server.js
Due: extension-lint

fix(vscode): honor legacy latest server selection
  editors/code/client/test/unit/tools/prepareServer.test.ts
  editors/code/tools/prepare-server.d.ts
  editors/code/tools/prepare-server.js
Due: extension-lint
