Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

fix: rename reports-api JAR to avoid duplicate with parser:api
  reports/api/build.gradle.kts
Due: none

refactor(groovy-build-tool): reduce complexity in JdkRequirementExtractor classes
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/GradleJdkRequirementExtractor.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/MavenJdkRequirementExtractor.kt
Due: kotlin-lint

fix(agent/pr): improve scope validation and add multi-provider AI support
  .agent/scripts/pr.py
Due: python-lint

refactor(lsp): use reports/api utilities in JaCoCo and Surefire parsers (#937)
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParser.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/parsers/SurefireXmlParser.kt
  reports/api/build.gradle.kts
Due: kotlin-lint

fix(agent/pr): reorder FILE_PRIORITY and simplify get_file_priority
  .agent/scripts/pr.py
Due: python-lint

fix(agent/pr): address review - improve error handling and security
  .agent/scripts/pr.py
Due: python-lint

fix(agent/pr): improve diff retrieval error diagnostics
  .agent/scripts/pr.py
Due: python-lint

fix(agent/pr): remove non-existent --stat flag from gh pr diff
  .agent/scripts/pr.py
Due: python-lint

fix(bsp): address TooGenericExceptionCaught and complexity violations
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/client/BuildServerConnection.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/CompilationEvent.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/CompileGatekeeper.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/DiagnosticReporter.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnectionDetails.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnector.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspSession.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/model/BuildTargetCache.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/CachedResolver.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/ErrorStreamLogger.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/SocketTransport.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProvider.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspLauncher.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServer.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenWorkspaceScanner.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerNotificationTest.kt
Due: kotlin-lint

refactor(semantics/native): reduce complexity violations (#936)
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/DeclarationWalker.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemantics.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/NativeTypeContext.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/SymbolExtractor.kt
Due: kotlin-lint

fix(agent/pr): improve scope validation and add multi-provider AI support (#939)
  .agent/scripts/pr.py
Due: python-lint

feat(reports): create reports/coverage module and move JaCoCo parser
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/GetCoverageParams.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  reports/coverage/build.gradle.kts
  reports/coverage/src/main/kotlin/com/github/albertocavalcante/reports/coverage/model/CoverageModel.kt
  reports/coverage/src/main/kotlin/com/github/albertocavalcante/reports/coverage/parsers/CoverageParser.kt
  reports/coverage/src/main/kotlin/com/github/albertocavalcante/reports/coverage/parsers/JacocoParser.kt
  reports/coverage/src/test/kotlin/com/github/albertocavalcante/reports/coverage/parsers/JacocoParserTest.kt
  reports/coverage/src/test/resources/jacoco/jacoco.xml
  settings.gradle.kts
Due: kotlin-lint

fix: address review feedback on JdkRequirementExtractor
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/GradleJdkRequirementExtractor.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/MavenJdkRequirementExtractor.kt
Due: kotlin-lint

fix(lsp): ensure deterministic iteration order in DependencyGraph (#930)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraph.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraphTest.kt
Due: kotlin-lint

fix: correct @Suppress annotation placement in BSP lifecycle
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnectionDetails.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnector.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspSession.kt
Due: kotlin-lint

fix(semantics/core): add LRU eviction to TypeLub ancestor cache (#932)
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLub.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/TypeLubInternalMappingsTest.kt
Due: kotlin-lint

refactor(groovy-build-tool): reduce complexity violations (#938)
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/GradleJdkRequirementExtractor.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/MavenJdkRequirementExtractor.kt
Due: kotlin-lint

feat(reports): create reports/coverage module and move jacoco parser (#941)
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/GetCoverageParams.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  reports/coverage/build.gradle.kts
  reports/coverage/src/main/kotlin/com/github/albertocavalcante/reports/coverage/model/CoverageModel.kt
  reports/coverage/src/main/kotlin/com/github/albertocavalcante/reports/coverage/parsers/CoverageParser.kt
  reports/coverage/src/main/kotlin/com/github/albertocavalcante/reports/coverage/parsers/JacocoParser.kt
  reports/coverage/src/test/kotlin/com/github/albertocavalcante/reports/coverage/parsers/JacocoParserTest.kt
  reports/coverage/src/test/resources/jacoco/jacoco.xml
  settings.gradle.kts
Due: kotlin-lint

fix(bsp): address TooGenericExceptionCaught and complexity violations (#940)
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/client/BuildServerConnection.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/CompilationEvent.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/CompileGatekeeper.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/compilation/DiagnosticReporter.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnectionDetails.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspConnector.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/lifecycle/BspSession.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/model/BuildTargetCache.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/resolver/CachedResolver.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/ErrorStreamLogger.kt
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/transport/SocketTransport.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProvider.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspLauncher.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServer.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenWorkspaceScanner.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerNotificationTest.kt
Due: kotlin-lint

fix(semantics): use WeakHashMap for context cache to prevent memory leaks
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemantics.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/NativeTypeContextCrossFileTest.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/NativeTypeContextTest.kt
Due: kotlin-lint

fix(semantics): resolve reference cycle and thread-safety issues
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/NativeScope.kt
Due: kotlin-lint

test(semantics): add WeakHashMap cache regression tests for GroovySemantics
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemanticsTest.kt
Due: kotlin-lint

fix(semantics): use ThreadLocal for currentModule to prevent race conditions
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemantics.kt
Due: kotlin-lint

test(semantics): add deterministic WeakHashMap verification test
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemanticsTest.kt
Due: kotlin-lint

feat(reports): create reports/results module with test result parsing
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/GetTestResultsParams.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  reports/results/build.gradle.kts
  reports/results/src/main/kotlin/com/github/albertocavalcante/reports/results/model/TestResultModel.kt
  reports/results/src/main/kotlin/com/github/albertocavalcante/reports/results/parsers/SurefireParser.kt
  reports/results/src/main/kotlin/com/github/albertocavalcante/reports/results/parsers/TestResultParser.kt
  reports/results/src/test/kotlin/com/github/albertocavalcante/reports/results/parsers/SurefireParserTest.kt
  reports/results/src/test/resources/surefire-reports/TEST-com.example.MySpec.xml
  settings.gradle.kts
Due: kotlin-lint

refactor(inlayhints): add semanticResolver and logger to NodeProcessingContext
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
Due: kotlin-lint

fix(semantics): resolve CI errors and suppress deprecation warnings
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemantics.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/SymbolExtractor.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemanticsTest.kt
Due: kotlin-lint

fix(reports): address PR review feedback
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/GetTestResultsParams.kt
  reports/results/src/test/resources/surefire-reports/TEST-com.example.MySpec.xml
Due: kotlin-lint

refactor(inlayhints): pass NodeProcessingContext directly to InlayHintsCandidates
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
Due: kotlin-lint

fix(semantics): address code review feedback
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemantics.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/NativeScope.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemanticsTest.kt
Due: kotlin-lint

feat(reports): create reports/results module with test result parsing (#942)
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/GetTestResultsParams.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestRequestDelegate.kt
  reports/results/build.gradle.kts
  reports/results/src/main/kotlin/com/github/albertocavalcante/reports/results/model/TestResultModel.kt
  reports/results/src/main/kotlin/com/github/albertocavalcante/reports/results/parsers/SurefireParser.kt
  reports/results/src/main/kotlin/com/github/albertocavalcante/reports/results/parsers/TestResultParser.kt
  reports/results/src/test/kotlin/com/github/albertocavalcante/reports/results/parsers/SurefireParserTest.kt
  reports/results/src/test/resources/surefire-reports/TEST-com.example.MySpec.xml
  settings.gradle.kts
Due: kotlin-lint

refactor(inlayhints): add semanticResolver and logger to NodeProcessingContext (#943)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
Due: kotlin-lint

feat(schemas): create Wire protobuf module for type sharing
  schemas/build.gradle.kts
  schemas/src/main/proto/com/github/albertocavalcante/reports/coverage.proto
  schemas/src/main/proto/com/github/albertocavalcante/reports/results.proto
  settings.gradle.kts
Due: none

fix(semantics): add ThreadLocal cleanup to prevent memory leaks
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemantics.kt
Due: kotlin-lint

fix(semantics): replace computeIfAbsent with synchronized block to prevent deadlock
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemantics.kt
Due: kotlin-lint

refactor(schemas): auto-discover proto files and prefix enum values
  schemas/build.gradle.kts
  schemas/src/main/proto/com/github/albertocavalcante/reports/results.proto
Due: none

refactor(imports): convert inline FQNs to imports across codebase
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProvider.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerLifecycleTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerNotificationTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/DiagnosticPositioningBattleTest.kt
  groovy-junit/src/test/kotlin/com/github/albertocavalcante/groovyjunit/junit4/JUnit4TestDetectorTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestrator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraph.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/IncrementalCompiler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionContextDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/CustomRulesProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/ASTCompletionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServerFeatureMatrixTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsBundledCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsVarsCompletionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsVarsDefinitionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/SymbolExtractionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraphTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codeaction/CodeActionProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetectorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/SimpleTypeTest.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorTest.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/GroovyAstConverter.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/errors/GroovyParserResult.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionQueryTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolTableBuilderTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveVisitorTraversalTest.kt
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParseUnit.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemanticsTest.kt
  semantics/openrewrite/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/openrewrite/RewriteTypeContextTest.kt
Due: kotlin-lint

fix(semantics/native): use weakhashmap for context cache to prevent memory leaks (#933)
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemantics.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/NativeScope.kt
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/SymbolExtractor.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemanticsTest.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/NativeTypeContextCrossFileTest.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/NativeTypeContextTest.kt
Due: kotlin-lint

docs(schemas): add comprehensive protobuf documentation
  schemas/src/main/proto/com/github/albertocavalcante/reports/coverage.proto
  schemas/src/main/proto/com/github/albertocavalcante/reports/results.proto
Due: none

fix(groovy-common): implement cache eviction for lineBreakCache
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/text/TextIndex.kt
Due: kotlin-lint
