Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

fix(bsp): address PR #814 review feedback
  bsp/maven-bsp/build.gradle.kts
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProvider.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspConnectionJson.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspLauncher.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/server/MavenBspCapabilities.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServer.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenWorkspaceScanner.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProviderTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenWorkspaceScannerTest.kt
Due: kotlin-lint

fix(lsp): address critical PR review issues for unused import dimming
  editors/code/package.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDiagnosticProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
Due: kotlin-lint

feat(build-tool): add JDK preflight validation for project requirements
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/ResolutionStatus.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/GradleJdkRequirementExtractor.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/JdkRequirement.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/MavenJdkRequirementExtractor.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/ProjectJdkValidator.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/GradleJdkRequirementExtractorTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/JdkExtractionSecurityTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/MavenJdkRequirementExtractorTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/ProjectJdkValidatorTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/RealProjectIntegrationTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
Due: kotlin-lint

fix: use consistent coordinate validation for lastColumnNumber
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDiagnosticProvider.kt
Due: kotlin-lint

feat(lsp): add visual dimming for unused imports (#789)
  editors/code/package.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDiagnosticProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/JenkinsSemanticTokenProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollectorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDetectorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDiagnosticProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDimmingIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokenLegendTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/UnusedImportSemanticTokenTest.kt
Due: kotlin-lint

fix(semantictokens): highlight static import field name instead of class name
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/UnusedImportSemanticTokenTest.kt
Due: kotlin-lint

refactor(diagnostics): make logger reference explicit in inner class
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDetector.kt
Due: kotlin-lint

fix(diagnostics): add instanceof expression support to type collector
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollector.kt
Due: kotlin-lint

fix(diagnostics): visit annotation member value expressions
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollectorTest.kt
Due: kotlin-lint

chore(lint): fix line length and remove unused imports
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDimmingIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceSecurityTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceTest.kt
Due: kotlin-lint

fix: address PR #819 review feedback on import handling and instanceof check
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
Due: kotlin-lint

fix(lsp): address unused import dimming review feedback (#819)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/TypeUsageCollectorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/UnusedImportDimmingIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/UnusedImportSemanticTokenTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceSecurityTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/CrossFileDefinitionRaceTest.kt
Due: kotlin-lint

feat(bsp): add Maven BSP server implementation (#814)
  bsp/maven-bsp/build.gradle.kts
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProvider.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspConnectionJson.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspLauncher.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/server/MavenBspCapabilities.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServer.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/targets/MavenBuildTargetProvider.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/targets/MavenSourceProvider.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenModuleInfo.kt
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenWorkspaceScanner.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProviderTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/integration/MavenBspIntegrationTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspConnectionJsonTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/launcher/MavenBspLauncherTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/targets/MavenBuildTargetProviderTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/targets/MavenSourceProviderTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/workspace/MavenWorkspaceScannerTest.kt
  bsp/maven-bsp/src/test/resources/fixtures/jenkins-style/pom.xml
  bsp/maven-bsp/src/test/resources/fixtures/multi-module/module-a/pom.xml
  bsp/maven-bsp/src/test/resources/fixtures/multi-module/module-b/pom.xml
  bsp/maven-bsp/src/test/resources/fixtures/multi-module/pom.xml
  bsp/maven-bsp/src/test/resources/fixtures/single-module/pom.xml
  settings.gradle.kts
Due: kotlin-lint

feat(vscode): improve Java toolchain error UX with smart actions (#786)
  editors/code/client/src/commands/index.ts
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
  editors/code/package.json
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/ResolutionStatus.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/GradleJdkRequirementExtractor.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/JdkRequirement.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/MavenJdkRequirementExtractor.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/ProjectJdkValidator.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/GradleJdkRequirementExtractorTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/JdkExtractionSecurityTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/MavenJdkRequirementExtractorTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/ProjectJdkValidatorTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/RealProjectIntegrationTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
Due: kotlin-lint, extension-lint

fix(vscode): address PR#786 review feedback
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
Due: extension-lint

test(maven-bsp): add BSP protocol compliance tests
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerLifecycleTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerNotificationTest.kt
Due: kotlin-lint

refactor(maven-bsp): improve test maintainability with constants and imports
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerLifecycleTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerNotificationTest.kt
Due: kotlin-lint

refactor(vscode): move regex patterns to module scope for performance
  editors/code/client/src/java/commands.ts
Due: extension-lint

fix(vscode): restore conditional check for Compatible separator
  editors/code/client/src/java/commands.ts
Due: extension-lint

refactor(maven-bsp): extract test utilities to shared TestFixtures
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerLifecycleTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerNotificationTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/TestFixtures.kt
Due: kotlin-lint

fix(vscode): address PR#786 review feedback (#821)
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
Due: extension-lint

test(maven-bsp): address PR review comments
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerLifecycleTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerNotificationTest.kt
Due: kotlin-lint

test(maven-bsp): add bsp protocol compliance tests (#820)
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerLifecycleTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerNotificationTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/TestFixtures.kt
Due: kotlin-lint

feat(vscode): improve JDK configuration UX with actionable warnings
  editors/code/client/src/commands/index.ts
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/src/ui/statusUtils.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
  editors/code/package.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
Due: kotlin-lint, extension-lint

fix(vscode): correct jdk-utils repository URL in comment
  editors/code/client/src/java/finder.ts
Due: extension-lint

fix(vscode): address PR review feedback for JDK configuration
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
Due: extension-lint

fix(vscode): validate runtimes config is array
  editors/code/client/src/java/finder.ts
Due: extension-lint

docs(vscode): clarify default field is reserved
  editors/code/client/src/java/finder.ts
  editors/code/package.json
Due: extension-lint

docs(vscode): update SDKMAN Homebrew detection comment
  editors/code/client/src/java/finder.ts
Due: extension-lint

test(vscode): add tests for showJdkNewerWarning
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
Due: extension-lint

fix(vscode): address CodeRabbit nitpicks and add JDK-22
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/package.json
Due: extension-lint

feat(vscode): improve JDK configuration UX with actionable warnings (#824)
  editors/code/client/src/commands/index.ts
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/src/ui/statusUtils.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
  editors/code/package.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
Due: kotlin-lint, extension-lint

fix(vscode): improve JDK config UX clarity and add tests
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/test/unit/java/commands.test.ts
  editors/code/client/test/unit/java/finder.test.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
Due: extension-lint

fix(vscode): consolidate redundant constants and add clarity comments
  editors/code/client/src/java/commands.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
Due: extension-lint

test: address PR #828 review comments for test robustness
  editors/code/client/test/unit/java/commands.test.ts
  editors/code/client/test/unit/java/finder.test.ts
Due: extension-lint

fix(vscode): improve JDK config UX clarity and add tests (#828)
  editors/code/client/src/java/commands.ts
  editors/code/client/src/java/finder.ts
  editors/code/client/src/ui/errorNotificationHandler.ts
  editors/code/client/test/unit/java/commands.test.ts
  editors/code/client/test/unit/java/finder.test.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
Due: extension-lint

feat(lsp): improve GDK and classpath method resolution
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/native/features/NativeHoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverContentGenerator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallMetadataResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathReflection.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/JavaSourceInspector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/sources/SourceNavigator.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
Due: kotlin-lint

fix(lsp): address PR review feedback
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/SignatureHelpProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/MethodResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallMetadataResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ClasspathReflection.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyGdkProviderTest.kt
Due: kotlin-lint

style: use simple import for MethodCallMetadataResolver in NativeHoverProvider
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/native/features/NativeHoverProvider.kt
Due: kotlin-lint

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
