Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

fix(vscode): complete GroovyTestController mock interfaces
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
Due: extension-lint

ci(claude): add execution logging and failure diagnostics
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yaml-lint, workflow-lint

refactor(inlay-hints): split InlayHintsProvider by hint type using strategy pattern (#985)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/HintContext.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/ParameterInlayHintStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/TypeInlayHintStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/ParameterInlayHintStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/TypeInlayHintStrategyTest.kt
Due: kotlin-lint

refactor(parser): split GroovyAstConverter into specialized converters (#990)
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/DeclarationConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/ExpressionConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/GroovyAstConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/LiteralConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/StatementConverter.kt
Due: kotlin-lint

fix(ci): improve jq error handling in failure summary
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yaml-lint, workflow-lint

refactor(semantic-tokens): split GroovySemanticTokenProvider into specialized components (#984)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokenVisitor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/TokenModifierResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/TokenTypeResolver.kt
Due: kotlin-lint

fix(vscode): simplify TestItemType to use standard Map without forEach override
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
Due: extension-lint

docs(ci): add comments explaining hardcoded log path
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yaml-lint, workflow-lint

ci(claude): add execution logging and failure diagnostics (#998)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yaml-lint, workflow-lint

fix(vscode): add types for MavenExecutionService.test.ts
  editors/code/client/test/unit/features/testing/MavenExecutionService.test.ts
Due: extension-lint

fix(vscode): replace any cast with proper vscode type in LSPToolService.test.ts
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
Due: extension-lint

fix(vscode): use 'never' cast to avoid type errors with incomplete mock in LSPToolService.test.ts
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
Due: extension-lint

fix(ci): output proper JSON in failure summary
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yaml-lint, workflow-lint

fix(vscode): add command assertions and type args in TestCodeLensProvider.test.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
Due: extension-lint

fix(ci): output proper json in failure summary (#1000)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yaml-lint, workflow-lint

fix(vscode): type deeply nested JSON structure in TestEventConsumer.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
Due: extension-lint

fix(vscode): add proper types for TestFeature module and FileSystemError mock
  editors/code/client/test/unit/features/testing/TestFeature.test.ts
Due: extension-lint

fix(vscode): add dispose method to TestFeature interface
  editors/code/client/test/unit/features/testing/TestFeature.test.ts
Due: extension-lint

fix(vscode): type uri parameter in asRelativePath stub
  editors/code/client/test/unit/java/commands.test.ts
Due: extension-lint

fix(vscode): add assertion for sourceDescription before checking length
  editors/code/client/test/unit/java/finder.test.ts
Due: extension-lint

fix(vscode): cast MockExtensionContext to never in ServerResolver.test.ts
  editors/code/client/test/unit/services/ServerResolver.test.ts
Due: extension-lint

fix(vscode): cast mockOutputChannel to never in errorNotificationHandler.test.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
Due: extension-lint

fix(vscode): add command assertions in languageStatus.test.ts
  editors/code/client/test/unit/ui/languageStatus.test.ts
Due: extension-lint

fix(vscode): add command assertion for status menu command test
  editors/code/client/test/unit/ui/languageStatus.test.ts
Due: extension-lint

fix(vscode): make tooltip optional in StatusBarItem interface
  editors/code/client/test/unit/ui/statusBar.test.ts
Due: extension-lint

fix(vscode): add tooltip assertions in statusBar.test.ts
  editors/code/client/test/unit/ui/statusBar.test.ts
Due: extension-lint

feat(workflow): add Claude auto-fix workflow for TDD-driven bug fixes
  .github/workflows/claude-auto-fix.yml
Due: yaml-lint, workflow-lint

chore(workflow): align action SHAs with main
  .github/workflows/claude-auto-fix.yml
Due: yaml-lint, workflow-lint

fix(vscode): improve type safety in TestCodeLensProvider tests
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
Due: extension-lint

fix(vscode): replace never cast with unknown in LSPToolService test
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
Due: extension-lint

refactor(vscode): extract ProxyquireNoCallThru type alias in ReplStatusBar test
  editors/code/client/test/unit/features/repl/ReplStatusBar.test.ts
Due: extension-lint

fix(workflow): address review feedback for claude-auto-fix
  .github/workflows/claude-auto-fix.yml
Due: yaml-lint, workflow-lint

refactor(vscode): extract StatusBarManagerWithPrivates type alias
  editors/code/client/src/test/unit/statusBar.test.ts
Due: extension-lint

refactor(vscode): extract ProxyquireNoCallThru type alias in TestEventConsumer
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
Due: extension-lint

feat(vscode): add explicit parameter interfaces for AI tool handlers
  editors/code/client/src/features/ai/types.ts
Due: extension-lint

refactor(groovy-lsp): extract SemanticTokensHandler from GroovyTextDocumentService
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokensHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokensHandlerTest.kt
Due: kotlin-lint

feat(workflow): add log upload and failure summary steps
  .github/workflows/claude-auto-fix.yml
Due: yaml-lint, workflow-lint

fix(vscode): replace 'as never' with proper type assertions
  editors/code/client/test/unit/services/ServerResolver.test.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
  editors/code/client/test/unit/ui/statusBar.test.ts
Due: extension-lint

feat(ci): add claude auto-fix workflow for automated bug fixes (#560)
  .github/workflows/claude-auto-fix.yml
Due: yaml-lint, workflow-lint

fix(vscode): eliminate explicit any usage and improve type safety (#977)
  editors/code/client/src/features/ai/CommandProvider.ts
  editors/code/client/src/features/ai/types.ts
  editors/code/client/src/test/unit/statusBar.test.ts
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
  editors/code/client/test/unit/features/ai/ToolRegistry.test.ts
  editors/code/client/test/unit/features/formatting/GroovyFormatter.test.ts
  editors/code/client/test/unit/features/gradle/GradleService.test.ts
  editors/code/client/test/unit/features/repl/GroovyReplClient.test.ts
  editors/code/client/test/unit/features/repl/ReplStatusBar.test.ts
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/MavenExecutionService.test.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
  editors/code/client/test/unit/features/testing/TestFeature.test.ts
  editors/code/client/test/unit/features/testing/TestService.test.ts
  editors/code/client/test/unit/features/update/UpdateService.test.ts
  editors/code/client/test/unit/features/update/testUtils.ts
  editors/code/client/test/unit/java/commands.test.ts
  editors/code/client/test/unit/java/finder.test.ts
  editors/code/client/test/unit/mocks/vscode.ts
  editors/code/client/test/unit/services/ServerResolver.test.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
  editors/code/client/test/unit/ui/languageStatus.test.ts
  editors/code/client/test/unit/ui/statusBar.test.ts
Due: extension-lint

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
