Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

fix(deps): replace deprecated Aether ServiceLocator (#606)
  gradle/libs.versions.toml
  groovy-build-tool/build.gradle.kts
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/AetherSessionFactory.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/BuiltinRulesTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRuleTest.kt
Due: kotlin-lint

feat(viz): implement desktop app makefile
  Makefile
  viz/desktop/Makefile
Due: none

fix(parser): implement PackageNode visitation in native parser
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitor.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParseUnit.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProviderTest.kt
Due: kotlin-lint

fix(viz): improve install target with sudo and platform check
  viz/desktop/Makefile
Due: none

feat(viz): implement desktop app makefile (#608)
  Makefile
  viz/desktop/Makefile
Due: none

fix(parser): implement PackageNode visitation in native parser (#610)
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitor.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParseUnit.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProviderTest.kt
Due: kotlin-lint

fix(jenkins): remove redundant identical conditional branches in registerStaticMetadata
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginManager.kt
Due: kotlin-lint

fix(jenkins): remove redundant identical conditional branches (#611)
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginManager.kt
Due: kotlin-lint

feat: improve codebase health and automate pipeline schema
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/declarative/DeclarativePipelineSchema.kt
  groovy-jenkins/src/main/resources/schemas/declarative-pipeline-schema.json
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/JsonMetadataLoaderTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/declarative/DeclarativePipelineSchemaTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/callhierarchy/CallHierarchyProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/documentation/JenkinsDocProviderTest.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/GroovyParser.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/Cloneable.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserTest.kt
Due: kotlin-lint

fix: address PR review comments on tests and call hierarchy
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/callhierarchy/CallHierarchyProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/GroovyParserTest.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/symbols/Symbol.kt
Due: kotlin-lint

fix: resolve LUB crash for boolean/numeric mix and improve promotion
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/typeinference/LeastUpperBoundLogic.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/resolution/typeinference/LeastUpperBoundLogicTest.kt
Due: kotlin-lint

feat(lsp): implement AST Explorer and fix Run Test CodeLens
  editors/code/client/src/extension.ts
  editors/code/client/src/features/ast/AstProvider.ts
  editors/code/client/src/features/ast/webview/main.ts
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/server/client.ts
  editors/code/client/src/test/integration/ast.test.ts
  editors/code/client/src/test/integration/codelens.test.ts
  editors/code/client/tsconfig.json
  editors/code/package.json
  editors/code/resources/ast-view/main.js
  editors/code/resources/ast-view/style.css
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/ast/AstRequestHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/ast/AstRequestHandlerTest.kt
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/AstNodeDto.kt
Due: kotlin-lint, extension-lint

fix(review): dispose CancellationTokenSource and resolve keybinding conflict
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/package.json
Due: extension-lint

fix(lint): resolve TS18046 unknown type error
  editors/code/client/src/features/ast/AstProvider.ts
  editors/code/client/src/features/ast/webview/main.ts
Due: extension-lint

fix(review): address round 2 feedback for Ast and Test features
  editors/code/client/src/features/ast/AstProvider.ts
  editors/code/client/src/features/ast/webview/main.ts
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/esbuild.js
  editors/code/resources/ast-view/main.js
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/ast/AstRequestHandler.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/ast/AstRequestHandlerTest.kt
Due: kotlin-lint, extension-lint

fix(test): resolve ScenarioRunnerTest diagnostics assertion failure
  tests/e2e/resources/scenarios/diagnostics-custom-rules.yaml
Due: yaml-lint

fix: address round 3 review feedback (leaks, startup race, robustness)
  editors/code/client/src/extension.ts
  editors/code/client/src/features/ast/AstProvider.ts
  editors/code/client/src/features/ast/webview/main.ts
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/package.json
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/ast/AstRequestHandlerTest.kt
  tests/e2e/resources/scenarios/diagnostics-custom-rules.yaml
Due: kotlin-lint, extension-lint, yaml-lint

feat(lsp): AST Explorer & CodeLens Fixes (#625)
  editors/code/client/src/extension.ts
  editors/code/client/src/features/ast/AstProvider.ts
  editors/code/client/src/features/ast/webview/main.ts
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/server/client.ts
  editors/code/client/src/test/integration/ast.test.ts
  editors/code/client/src/test/integration/codelens.test.ts
  editors/code/client/tsconfig.json
  editors/code/esbuild.js
  editors/code/package.json
  editors/code/resources/ast-view/main.js
  editors/code/resources/ast-view/style.css
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/ast/AstRequestHandler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/ast/AstRequestHandlerTest.kt
  tests/e2e/resources/scenarios/diagnostics-custom-rules.yaml
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/AstNodeDto.kt
Due: kotlin-lint, extension-lint, yaml-lint

feat(engine): integrate OpenRewrite parser into LSP and Viz
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/EngineFactory.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/RewriteParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/rewrite/OpenRewriteLanguageEngine.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/engine/EngineFactoryTest.kt
  parser/rewrite/build.gradle.kts
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParseUnit.kt
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParserProvider.kt
  parser/rewrite/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParserProviderTest.kt
  settings.gradle.kts
  viz/ast-model/build.gradle.kts
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/AstNodeDto.kt
  viz/ast-model/src/jvmMain/kotlin/com/github/albertocavalcante/gvy/viz/converters/RewriteAstConverter.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
Due: kotlin-lint

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
