Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

feat(rewrite-codenarc): add openrewrite recipes for codenarc auto-fixes (#667)
  refactor/openrewrite/rewrite-codenarc/build.gradle.kts
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToForLoop.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToIfStatement.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToWhileLoop.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/BraceUtils.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceAfterComma.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryGString.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessarySemicolon.kt
  refactor/openrewrite/rewrite-codenarc/src/main/resources/META-INF/rewrite/codenarc.yml
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToForLoopTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToIfStatementTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToWhileLoopTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceAfterCommaTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryGStringTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessarySemicolonTest.kt
  settings.gradle.kts
Due: kotlin-lint, yaml-lint

fix: correct RuleRangeCalculator nullable return types and logic
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculator.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/DiagnosticPositioningBattleTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemBattleTest.kt
Due: kotlin-lint

refactor: introduce findKeywordOrDefault helper to reduce duplication
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculator.kt
Due: kotlin-lint

test: add comprehensive robustness tests for coordinate system
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculatorTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemBattleTest.kt
Due: kotlin-lint

fix: add do-while loop support and clarify defensive validation
  editors/code/client/src/features/testing/GroovyTestController.ts
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculator.kt
Due: kotlin-lint, extension-lint

fix(diagnostics): enhance rule range calculations and test item handling
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculator.kt
Due: kotlin-lint, extension-lint

docs(diagnostics): add TODO for AST-aware positioning refactor
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculator.kt
Due: kotlin-lint

fix(review): address critical bugs from PR review
  editors/code/client/src/features/testing/GroovyTestController.ts
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculator.kt
Due: kotlin-lint, extension-lint

test: add regression test for ctrl.items.replace() bug
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
Due: extension-lint

fix(lsp): test execution for external files and diagnostic positioning (#666)
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculator.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/DiagnosticPositioningBattleTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculatorTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemBattleTest.kt
Due: kotlin-lint, extension-lint

test: disable ConvertIfToElvis tests due to upstream bug
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/convention/ConvertIfToElvisTest.kt
Due: kotlin-lint

fix(openrewrite): address review feedback for wave 5-6 recipes
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/convention/ConvertIfToElvis.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/FixBrokenNullCheck.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryReturnKeyword.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/convention/ConvertIfToElvisTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryReturnKeywordTest.kt
Due: kotlin-lint

fix(openrewrite): address review feedback for wave 5-6 recipes
  refactor/openrewrite/rewrite-codenarc/build.gradle.kts
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitArrayListInstantiation.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitHashSetInstantiation.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryElseStatement.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryPublicModifier.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryToString.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryElseStatementTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryToStringTest.kt
Due: kotlin-lint

fix(openrewrite): polish comments in instantiation recipes
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitArrayListInstantiation.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitHashMapInstantiation.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitHashSetInstantiation.kt
Due: kotlin-lint

fix(openrewrite): restore technical comments for AST maintenance
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitArrayListInstantiation.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitHashMapInstantiation.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitHashSetInstantiation.kt
Due: kotlin-lint

fix(openrewrite): fix KDoc URL typo and formatting
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryDefInMethodDeclaration.kt
Due: kotlin-lint

fix(openrewrite): final documentation polish and deferred work
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/convention/UninvertIfElse.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceAroundOperator.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/MoveClosureAsLastMethodParameter.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitArrayListInstantiation.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitHashMapInstantiation.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyExplicitHashSetInstantiation.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/groovyism/SimplifyTernaryToElvis.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryDotClass.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryReturnKeyword.kt
Due: kotlin-lint

fix(openrewrite): change TODO to Note in ConvertIfToElvis
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/convention/ConvertIfToElvis.kt
Due: kotlin-lint

ci: add refactor/openrewrite/ to path filters
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

chore: remove accidental binary and improve CI workflows
  .github/workflows/mirror-vscode-groovy.yml
  .github/workflows/sanity-check.yml
Due: yaml-lint, workflow-lint

chore: improve CI workflows
  .github/workflows/mirror-vscode-groovy.yml
  .github/workflows/sanity-check.yml
Due: yaml-lint, workflow-lint

ci(workflows): improve copybara safety and add large file check (#677)
  .github/workflows/mirror-vscode-groovy.yml
  .github/workflows/sanity-check.yml
Due: yaml-lint, workflow-lint

chore(tests): remove unused imports in test files
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraphTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/IncrementalCompilerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CrossFileMemberCompletionTest.kt
Due: kotlin-lint

chore(tests): remove unused imports in test files (#678)
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraphTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/IncrementalCompilerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CrossFileMemberCompletionTest.kt
Due: kotlin-lint

feat(gradle): add toolchain provisioning error detection
  AGENTS.md
  editors/code/AGENTS.md
  editors/code/CONTRIBUTING.md
  editors/code/client/src/ui/statusUtils.ts
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzer.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzerTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/services/StatusNotificationTest.kt
Due: kotlin-lint, extension-lint, markdown-lint

fix(gradle): make toolchain suggestions dynamic
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ServerStatus.kt
Due: kotlin-lint
