Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

fix(spock): require Spock markers, don't rely on filename alone
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorTest.kt
Due: kotlin-lint

fix(workflows): address review feedback from pr #823 (#973)
  .agent/workflows/bughunt.md
  .agent/workflows/bugreport.md
  .agent/workflows/qa-pr.md
Due: markdown-lint

feat(spock): detect specs with custom base classes via block labels
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorTest.kt
Due: kotlin-lint

fix(vscode): replace any types with proper type definitions
  editors/code/client/src/features/ai/CommandProvider.ts
  editors/code/client/src/features/ai/types.ts
  editors/code/client/src/test/unit/statusBar.test.ts
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
  editors/code/client/test/unit/features/ai/ToolRegistry.test.ts
  editors/code/client/test/unit/features/formatting/GroovyFormatter.test.ts
  editors/code/client/test/unit/features/gradle/GradleService.test.ts
  editors/code/client/test/unit/features/repl/GroovyReplClient.test.ts
  editors/code/client/test/unit/features/repl/ReplStatusBar.test.ts
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/MavenExecutionService.test.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
  editors/code/client/test/unit/features/testing/TestFeature.test.ts
  editors/code/client/test/unit/features/testing/TestService.test.ts
  editors/code/client/test/unit/features/update/UpdateService.test.ts
  editors/code/client/test/unit/features/update/testUtils.ts
  editors/code/client/test/unit/java/commands.test.ts
  editors/code/client/test/unit/java/finder.test.ts
  editors/code/client/test/unit/mocks/vscode.ts
  editors/code/client/test/unit/services/ServerResolver.test.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
  editors/code/client/test/unit/ui/languageStatus.test.ts
  editors/code/client/test/unit/ui/statusBar.test.ts
Due: extension-lint

refactor(common): extract GroovyCodeCleaner utility for comment/string stripping
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/text/GroovyCodeCleaner.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/text/GroovyCodeCleanerTest.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
Due: kotlin-lint

fix(vscode): add type guards for unknown params
  editors/code/client/src/features/ai/types.ts
  editors/code/client/src/test/unit/statusBar.test.ts
Due: extension-lint

refactor(completion): extract strategies from CompletionProvider (#967)
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/text/GroovyCodeCleaner.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/text/GroovyCodeCleanerTest.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
  groovy-lsp/detekt-baseline.xml
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/GroovyCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/ImportCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/MemberAccessCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/SpockCompletionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/diagnostics/DiagnosticsOrchestratorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/ImportCompletionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/MemberAccessCompletionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/SpockCompletionStrategyTest.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorTest.kt
Due: kotlin-lint

fix(vscode): fix LSPToolService.test.ts type assertion
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
Due: extension-lint

fix(vscode): use proper type interface for LSPToolService mock
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
Due: extension-lint

fix(vscode): add proper types for ToolRegistry.test.ts mocks
  editors/code/client/test/unit/features/ai/ToolRegistry.test.ts
Due: extension-lint

fix(vscode): add proper type interfaces for all test mocks
  editors/code/client/test/unit/features/gradle/GradleService.test.ts
  editors/code/client/test/unit/features/repl/GroovyReplClient.test.ts
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  editors/code/client/test/unit/features/testing/MavenExecutionService.test.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/client/test/unit/features/testing/TestFeature.test.ts
  editors/code/client/test/unit/features/testing/TestService.test.ts
  editors/code/client/test/unit/features/update/UpdateService.test.ts
  editors/code/client/test/unit/ui/errorNotificationHandler.test.ts
  editors/code/client/test/unit/ui/languageStatus.test.ts
  editors/code/client/test/unit/ui/statusBar.test.ts
Due: extension-lint

fix(vscode): add types for GroovyFormatter and ServerResolver tests
  editors/code/client/test/unit/features/formatting/GroovyFormatter.test.ts
  editors/code/client/test/unit/services/ServerResolver.test.ts
Due: extension-lint

fix(parser:native): Add missing visitor coverage for 10 expression types
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitor.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/VisitorExpressionCoverageTest.kt
Due: kotlin-lint

fix(vscode): add proper types for all remaining test mocks
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
  editors/code/client/test/unit/java/commands.test.ts
  editors/code/client/test/unit/java/finder.test.ts
Due: extension-lint

fix(parser:native): Add LambdaExpression visitor and strengthen test
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitor.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/VisitorExpressionCoverageTest.kt
Due: kotlin-lint

docs(workflow): add stale PR review workflow
  .agent/workflows/stale-pr.md
  .claude/commands/stale-pr.md
  .gemini/commands/stale-pr.toml
  AGENTS.md
  CLAUDE.md
Due: markdown-lint

fix: address review feedback
  .agent/workflows/stale-pr.md
Due: markdown-lint

fix: use {{args}} instead of $input for Gemini command consistency
  .gemini/commands/stale-pr.toml
Due: none

fix(vscode): address PR review feedback for type safety
  editors/code/client/test/unit/features/gradle/GradleService.test.ts
  editors/code/client/test/unit/features/repl/GroovyReplClient.test.ts
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
  editors/code/client/test/unit/features/testing/TestService.test.ts
  editors/code/client/test/unit/java/commands.test.ts
Due: extension-lint

docs(workflow): add stale PR review workflow (#991)
  .agent/workflows/stale-pr.md
  .claude/commands/stale-pr.md
  .gemini/commands/stale-pr.toml
  AGENTS.md
  CLAUDE.md
Due: markdown-lint

fix(parser/native): add visitor coverage for missing expression types (#989)
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveAstVisitor.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/VisitorExpressionCoverageTest.kt
Due: kotlin-lint

fix(parser:native): correct expression coverage test failures
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/VisitorExpressionCoverageTest.kt
Due: kotlin-lint

fix: address PR review feedback
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/DeclarationConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/ExpressionConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/GroovyAstConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/LiteralConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/StatementConverter.kt
Due: kotlin-lint

refactor(parser): split GroovyAstConverter into specialized converters
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/DeclarationConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/ExpressionConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/GroovyAstConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/LiteralConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/StatementConverter.kt
Due: kotlin-lint

refactor(semantic-tokens): improve encapsulation in SemanticTokenVisitor
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokenVisitor.kt
Due: kotlin-lint

refactor(semantic-tokens): split GroovySemanticTokenProvider into specialized components
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokenVisitor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/TokenModifierResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/TokenTypeResolver.kt
Due: kotlin-lint

refactor(inlay-hints): split InlayHintsProvider by hint type using strategy pattern
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/HintContext.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/ParameterInlayHintStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/TypeInlayHintStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/ParameterInlayHintStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/TypeInlayHintStrategyTest.kt
Due: kotlin-lint

refactor: extract common hint creation logic in ParameterInlayHintStrategy
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/ParameterInlayHintStrategy.kt
Due: kotlin-lint

fix(vscode): add LanguageClient type assertions for mock clients
  editors/code/client/test/unit/features/repl/GroovyReplClient.test.ts
  editors/code/client/test/unit/features/testing/TestService.test.ts
Due: extension-lint

docs(workflow): add stale PR review workflow
  .agent/workflows/stale-pr.md
  .gemini/commands/stale-pr.toml
Due: markdown-lint

docs(gemini): add syntax reference for custom slash commands
  .gemini/commands/README.md
Due: markdown-lint

fix: address PR review feedback for stale-pr workflow
  .agent/workflows/stale-pr.md
Due: markdown-lint

fix(vscode): add addCoverageToRun to CoverageService interface
  editors/code/client/test/unit/features/testing/CoverageService.test.ts
Due: extension-lint

docs(gemini): add syntax reference for custom slash commands (#992)
  .agent/workflows/stale-pr.md
  .gemini/commands/README.md
Due: markdown-lint

fix: restore threshold to 9 per review feedback
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/VisitorExpressionCoverageTest.kt
Due: kotlin-lint

fix(parser/native): correct expression coverage test failures (#993)
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/VisitorExpressionCoverageTest.kt
Due: kotlin-lint

fix(vscode): fix TypeScript compilation errors in test files
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
Due: extension-lint
