Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

fix(review-659): make cache I/O methods suspend functions
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCache.kt
Due: kotlin-lint

fix(review-659): extract duplicate SHA-256 hashing logic
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCache.kt
Due: kotlin-lint

fix(review-659): fix extractParameterCount to handle generics correctly
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/WorkspaceSymbolIndex.kt
Due: kotlin-lint

fix(review-659): fix parseSignatureToParams to handle generics correctly
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-lint

fix(review-659): connect SemanticDB instances via dependency injection
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceCompiler.kt
Due: kotlin-lint

test(review-659): add comprehensive tests for fixes #1,6,7,8,10,11
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/GroovyCompilationServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCacheTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/IncrementalCompilerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceCompilerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/WorkspaceSymbolIndexTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProviderTest.kt
Due: kotlin-lint

test(review-659): enhance test coverage with quantitative assertions
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCacheTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceCompilerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/WorkspaceSymbolIndexTest.kt
Due: kotlin-lint

refactor(common): extract common utilities to groovy-common module
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/fqn/FqnUtils.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/hash/HashUtils.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/signature/TypeSignatureUtils.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/fqn/FqnUtilsTest.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/hash/HashUtilsTest.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/signature/TypeSignatureUtilsTest.kt
Due: kotlin-lint

refactor(semantics): use FqnUtils from groovy-common
  semantics/native/build.gradle.kts
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/SymbolExtractor.kt
Due: kotlin-lint

fix(lsp): make concurrent threads wait for initial compilation
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceCompiler.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCacheTest.kt
Due: kotlin-lint

refactor(lsp): remove redundant hashString delegate
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCache.kt
Due: kotlin-lint

refactor(lsp): extract parameter processing helper in parseSignatureToParams
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-lint

fix(lsp): add bracket validation to generic parameter parsing
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/WorkspaceSymbolIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-lint

fix(common,lsp): address code review issues from cursor/copilot/coderabbit
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/fqn/FqnUtils.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/signature/TypeSignatureUtils.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCache.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceCompilerTest.kt
Due: kotlin-lint

fix(lsp): address concurrency, caching, and generics parsing issues (#661)
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/fqn/FqnUtils.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/hash/HashUtils.kt
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/signature/TypeSignatureUtils.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/fqn/FqnUtilsTest.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/hash/HashUtilsTest.kt
  groovy-common/src/test/kotlin/com/github/albertocavalcante/groovycommon/signature/TypeSignatureUtilsTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCache.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceCompiler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/WorkspaceSymbolIndex.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/GroovyCompilationServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCacheTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/IncrementalCompilerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceCompilerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/WorkspaceSymbolIndexTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProviderTest.kt
  semantics/native/build.gradle.kts
  semantics/native/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/native/SymbolExtractor.kt
Due: kotlin-lint

fix(lsp): test execution for external files + diagnostics positioning
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  groovy-diagnostics/codenarc/src/main/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculator.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/DiagnosticPositioningBattleTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/RuleRangeCalculatorTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/CoordinateSystemBattleTest.kt
Due: kotlin-lint, extension-lint

feat(rewrite-codenarc): add OpenRewrite recipe module for CodeNarc auto-fixes
  refactor/openrewrite/rewrite-codenarc/build.gradle.kts
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToForLoop.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToIfStatement.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToWhileLoop.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceAfterComma.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryGString.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessarySemicolon.kt
  refactor/openrewrite/rewrite-codenarc/src/main/resources/META-INF/rewrite/codenarc.yml
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToForLoopTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToIfStatementTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToWhileLoopTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceAfterCommaTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryGStringTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessarySemicolonTest.kt
  settings.gradle.kts
Due: kotlin-lint, yaml-lint

refactor(braces): extract shared BraceUtils.wrapInBlock utility
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToForLoop.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToIfStatement.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToWhileLoop.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/BraceUtils.kt
Due: kotlin-lint

fix: add TestRunProfileKind and workspace mocks to fix pipeline failures
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
Due: extension-lint

fix: add suite/test name validation to prevent empty IDs
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
Due: extension-lint

feat(rewrite-codenarc): add openrewrite recipes for codenarc auto-fixes (#667)
  refactor/openrewrite/rewrite-codenarc/build.gradle.kts
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToForLoop.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToIfStatement.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToWhileLoop.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/BraceUtils.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceAfterComma.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryGString.kt
  refactor/openrewrite/rewrite-codenarc/src/main/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessarySemicolon.kt
  refactor/openrewrite/rewrite-codenarc/src/main/resources/META-INF/rewrite/codenarc.yml
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToForLoopTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToIfStatementTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/braces/AddBracesToWhileLoopTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/formatting/AddSpaceAfterCommaTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessaryGStringTest.kt
  refactor/openrewrite/rewrite-codenarc/src/test/kotlin/com/github/albertocavalcante/refactor/codenarc/unnecessary/RemoveUnnecessarySemicolonTest.kt
  settings.gradle.kts
Due: kotlin-lint, yaml-lint
