Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

fix(lsp): remove unnecessary safe call in CompletionProvider
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-lint

fix(semantics): implement cache eviction for ReflectionAccess caches
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccess.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccessTest.kt
Due: kotlin-lint

refactor(imports): convert inline FQNs to explicit imports (#945)
  bsp/maven-bsp/src/main/kotlin/com/github/groovylsp/bsp/maven/deps/MavenDependencyProvider.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerLifecycleTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerNotificationTest.kt
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/server/MavenBuildServerTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverTest.kt
  groovy-diagnostics/codenarc/src/test/kotlin/com/github/albertocavalcante/diagnostics/codenarc/DiagnosticPositioningBattleTest.kt
  groovy-junit/src/test/kotlin/com/github/albertocavalcante/groovyjunit/junit4/JUnit4TestDetectorTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationOrchestrator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraph.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/IncrementalCompiler.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionContextDetector.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/DefinitionResolver.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/CustomRulesProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/ASTCompletionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServerFeatureMatrixTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsBundledCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsVarsCompletionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsVarsDefinitionIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/SymbolExtractionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraphTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codeaction/CodeActionProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/AstCompletionContextDetectorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/types/SimpleTypeTest.kt
  groovy-spock/src/test/kotlin/com/github/albertocavalcante/groovyspock/SpockDetectorTest.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/GroovyAstConverter.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/errors/GroovyParserResult.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/AstPositionQueryTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/SymbolTableBuilderTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/visitor/RecursiveVisitorTraversalTest.kt
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParseUnit.kt
  semantics/native/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/native/GroovySemanticsTest.kt
  semantics/openrewrite/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/openrewrite/RewriteTypeContextTest.kt
Due: kotlin-lint

refactor: use ReentrantLock instead of ReentrantReadWriteLock
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/text/TextIndex.kt
Due: kotlin-lint

feat(schemas): create Wire protobuf module for type sharing (#944)
  schemas/build.gradle.kts
  schemas/src/main/proto/com/github/albertocavalcante/reports/coverage.proto
  schemas/src/main/proto/com/github/albertocavalcante/reports/results.proto
  settings.gradle.kts
Due: none

fix(semantics): address PR review feedback for ReflectionAccess
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccess.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccessTest.kt
Due: kotlin-lint

fix(groovy-common): implement cache eviction for lineBreakCache (#946)
  groovy-common/src/main/kotlin/com/github/albertocavalcante/groovycommon/text/TextIndex.kt
Due: kotlin-lint

refactor(lsp): extract removeFromSetMap helper in DependencyGraph
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraph.kt
Due: kotlin-lint

fix(semantics): implement cache eviction for ReflectionAccess caches (#947)
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccess.kt
  semantics/core/src/test/kotlin/com/github/albertocavalcante/gvy/semantics/calculator/ReflectionAccessTest.kt
Due: kotlin-lint

fix: use computeIfPresent for atomic ConcurrentHashMap updates
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraph.kt
Due: kotlin-lint

refactor(lsp): extract removeFromSetMap helper in DependencyGraph (#948)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraph.kt
Due: kotlin-lint

refactor(groovy-lsp): extract SemanticTokensEncoder from GroovyTextDocumentService
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationEnsurer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/diagnostics/DiagnosticsOrchestrator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokensEncoder.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationEnsurerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/diagnostics/DiagnosticsOrchestratorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokensEncoderTest.kt
Due: kotlin-lint

test: refine test assertions and add lint suppressions
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationEnsurer.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationEnsurerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/diagnostics/DiagnosticsOrchestratorTest.kt
Due: kotlin-lint

fix: address CI test failures in DiagnosticsOrchestrator
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/diagnostics/DiagnosticsOrchestrator.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationEnsurerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/diagnostics/DiagnosticsOrchestratorTest.kt
Due: kotlin-lint

fix: update CodeQL workflow to use JDK 21 toolchain
  .github/workflows/codeql.yml
Due: yaml-lint, workflow-lint

fix: disable Kotlin in CodeQL due to version incompatibility
  .github/workflows/codeql.yml
Due: yaml-lint, workflow-lint

refactor(groovy-lsp): extract god class components from GroovyTextDocumentService (#959)
  .github/workflows/codeql.yml
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationEnsurer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/diagnostics/DiagnosticsOrchestrator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokensEncoder.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationEnsurerTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/diagnostics/DiagnosticsOrchestratorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/SemanticTokensEncoderTest.kt
Due: kotlin-lint, yaml-lint, workflow-lint

fix(vscode): address code review issues and improve resilience
  editors/code/client/pnpm-lock.yaml
  editors/code/client/src/constants.ts
  editors/code/client/src/extension.ts
  editors/code/client/src/features/ai/CommandProvider.ts
  editors/code/client/src/features/ai/LSPToolService.ts
  editors/code/client/src/features/ai/ToolRegistry.ts
  editors/code/client/src/features/ast/AstProvider.ts
  editors/code/client/src/features/dependencies/DependencyTreeProvider.ts
  editors/code/client/src/features/testing/TestFeature.ts
  editors/code/client/src/ui/languageStatus.ts
  editors/code/client/src/ui/statusBar.ts
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
  editors/code/client/test/unit/features/ai/ToolRegistry.test.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/MavenExecutionService.test.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
  editors/code/client/test/unit/features/testing/TestFeature.test.ts
  editors/code/client/test/unit/features/update/GitHubReleaseProvider.test.ts
  editors/code/client/test/unit/java/commands.test.ts
  editors/code/client/test/unit/java/finder.test.ts
  editors/code/eslint.config.mjs
  editors/code/package.json
  editors/code/pnpm-lock.yaml
Due: extension-lint, yaml-lint

fix: address review feedback
  editors/code/client/src/features/testing/TestFeature.ts
  editors/code/client/test/unit/features/testing/TestFeature.test.ts
  editors/code/client/test/unit/features/update/GitHubReleaseProvider.test.ts
Due: extension-lint

fix(vscode): address code review issues and improve resilience (#960)
  editors/code/client/pnpm-lock.yaml
  editors/code/client/src/constants.ts
  editors/code/client/src/extension.ts
  editors/code/client/src/features/ai/CommandProvider.ts
  editors/code/client/src/features/ai/LSPToolService.ts
  editors/code/client/src/features/ai/ToolRegistry.ts
  editors/code/client/src/features/ast/AstProvider.ts
  editors/code/client/src/features/dependencies/DependencyTreeProvider.ts
  editors/code/client/src/features/testing/TestFeature.ts
  editors/code/client/src/ui/languageStatus.ts
  editors/code/client/src/ui/statusBar.ts
  editors/code/client/test/unit/features/ai/LSPToolService.test.ts
  editors/code/client/test/unit/features/ai/ToolRegistry.test.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/MavenExecutionService.test.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
  editors/code/client/test/unit/features/testing/TestFeature.test.ts
  editors/code/client/test/unit/features/update/GitHubReleaseProvider.test.ts
  editors/code/client/test/unit/java/commands.test.ts
  editors/code/client/test/unit/java/finder.test.ts
  editors/code/eslint.config.mjs
  editors/code/package.json
  editors/code/pnpm-lock.yaml
Due: extension-lint, yaml-lint

feat(agent): exclude lock files from AI diff analysis
  .agent/scripts/pr.py
Due: python-lint

chore: add MODULE.bazel.lock to exclusions
  .agent/scripts/pr.py
Due: python-lint

fix: address review feedback on pr.py
  .agent/scripts/pr.py
Due: python-lint

feat(agent): exclude lock files from AI diff analysis (#966)
  .agent/scripts/pr.py
Due: python-lint

refactor(completion): extract strategies from CompletionProvider
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/ImportCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/MemberAccessCompletionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/SpockCompletionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/ImportCompletionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/MemberAccessCompletionStrategyTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/SpockCompletionStrategyTest.kt
Due: kotlin-lint

fix(semantics): handle generic types with/without spaces in method declarations
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint

fix(vscode): use actual class line for test suite gutter icon position
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/features/testing/TestService.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  editors/code/client/test/unit/features/testing/TestService.test.ts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
Due: kotlin-lint, extension-lint

Update groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
Due: kotlin-lint

fix(vscode): use actual class line for test suite gutter icon position (#970)
  editors/code/client/src/features/testing/GroovyTestController.ts
  editors/code/client/src/features/testing/TestService.ts
  editors/code/client/test/unit/features/testing/GroovyTestController.test.ts
  editors/code/client/test/unit/features/testing/TestService.test.ts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
Due: kotlin-lint, extension-lint

refactor(semantics): extract source-based offset calculation to reduce complexity
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
Due: kotlin-lint

fix(test): add missing WorkspaceManager import in TestDiscoveryProviderTest
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
Due: kotlin-lint

fix(test): add missing workspacemanager import in testdiscoveryprovidertest (#971)
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/testing/TestDiscoveryProviderTest.kt
Due: kotlin-lint

fix: resolve CI failures in PR #967
  groovy-lsp/detekt-baseline.xml
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/strategy/GroovyCompletionStrategy.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/diagnostics/DiagnosticsOrchestratorTest.kt
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
Due: kotlin-lint

fix(semantics): handle generic types with/without spaces in method declarations (#968)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint

fix(semantics): start method name search from declaration column
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint

fix(workflows): address PR #823 review feedback
  .agent/workflows/bughunt.md
  .agent/workflows/bugreport.md
  .agent/workflows/qa-pr.md
Due: markdown-lint

fix(semantics): start method name search from declaration column (#972)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProviderTest.kt
Due: kotlin-lint

fix(spock): detect *Spec.groovy files by filename alone
  groovy-spock/src/main/kotlin/com/github/albertocavalcante/groovyspock/SpockDetector.kt
Due: kotlin-lint

fix(workflows): address PR #973 review feedback
  .agent/workflows/bughunt.md
  .agent/workflows/qa-pr.md
Due: markdown-lint
