Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

fix(review): address feedback on thread safety, ranges, and robustness
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/RewriteParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/rewrite/OpenRewriteLanguageEngine.kt
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParseUnit.kt
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParserProvider.kt
  viz/ast-model/src/jvmMain/kotlin/com/github/albertocavalcante/gvy/viz/converters/RewriteAstConverter.kt
  viz/desktop/build.gradle.kts
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
Due: kotlin-lint

fix(review): ensure non-negative LSP positions in RewriteParserAdapter
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/RewriteParserAdapter.kt
Due: kotlin-lint

fix(review): improve robustness (URI handling, AST ranges) and cleanup FQNs
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/rewrite/OpenRewriteLanguageEngine.kt
  viz/ast-model/src/jvmMain/kotlin/com/github/albertocavalcante/gvy/viz/converters/RewriteAstConverter.kt
Due: kotlin-lint

fix(review): final refinements (cleanup imports, robustness fixes)
  editors/code/resources/ast-view/main.js
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParseUnit.kt
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParserProvider.kt
  viz/ast-model/src/jvmMain/kotlin/com/github/albertocavalcante/gvy/viz/converters/RewriteAstConverter.kt
Due: kotlin-lint

feat(engine): integrate OpenRewrite parser into LSP and Viz (#626)
  editors/code/resources/ast-view/main.js
  groovy-lsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/EngineFactory.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/adapters/RewriteParserAdapter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/engine/impl/rewrite/OpenRewriteLanguageEngine.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/engine/EngineFactoryTest.kt
  parser/rewrite/build.gradle.kts
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParseUnit.kt
  parser/rewrite/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParserProvider.kt
  parser/rewrite/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/RewriteParserProviderTest.kt
  settings.gradle.kts
  viz/ast-model/build.gradle.kts
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/AstNodeDto.kt
  viz/ast-model/src/jvmMain/kotlin/com/github/albertocavalcante/gvy/viz/converters/RewriteAstConverter.kt
  viz/desktop/build.gradle.kts
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
Due: kotlin-lint

feat(viz): desktop UI and UX overhaul
  kb/git-recovery.md
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/AstTreeView.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/CodePanel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/NodeDetailsPanel.kt
Due: kotlin-lint, markdown-lint

feat(viz): enhance UI with path input and better error display
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
Due: kotlin-lint

feat(viz): redesign UI with IDE-like panel layout
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/AstTreeView.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/CodePanel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/NodeDetailsPanel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/layout/DesktopPanel.kt
Due: kotlin-lint

fix(viz): reverse typing bug in editor
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/CodePanel.kt
Due: kotlin-lint

feat(viz): refine UI and fix editor typing bug
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/AstTreeView.kt
Due: kotlin-lint

feat(viz): use native file picker on macOS and support Jenkinsfile
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
Due: kotlin-lint

fix: address PR review feedback - error display, column data, and UX improvements
  kb/git-recovery.md
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/CodePanel.kt
Due: kotlin-lint, markdown-lint

ci: add viz folder to CI path filters
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

perf: parallelize CI jobs for 40-50% speedup
  .github/workflows/ci.yml
  tests/build.gradle.kts
Due: yaml-lint, workflow-lint

ci: change default runner to ubuntu-24.04
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

fix(viz): use correct ParserPosition property name
  tests/build.gradle.kts
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
Due: kotlin-lint

fix(viz): guard CI validation and AST lookup
  .github/workflows/ci.yml
  tests/build.gradle.kts
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
Due: kotlin-lint, yaml-lint, workflow-lint

fix(ci): prefer ubuntu runners
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

fix(ui): stabilize code panel selection
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/CodePanel.kt
Due: kotlin-lint

fix(ci): include nested coverage artifacts
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

fix(ci): include e2e report artifacts
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

chore: force rich gradle console
  gradle.properties
Due: none

fix(ui): stabilize gutter line math
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/CodePanel.kt
Due: kotlin-lint

feat(viz): desktop UI and UX overhaul (#627)
  .github/workflows/ci.yml
  gradle.properties
  kb/git-recovery.md
  tests/build.gradle.kts
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/AstTreeView.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/CodePanel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/NodeDetailsPanel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/layout/DesktopPanel.kt
Due: kotlin-lint, yaml-lint, workflow-lint, markdown-lint

test(compilation): add unit tests for extracted services
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationCacheServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/ParseResultAccessorTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/SymbolIndexingServiceTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceScannerTest.kt
Due: kotlin-lint

feat(compilation): extract 4 focused services from GroovyCompilationService
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/CompilationCacheService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/ParseResultAccessor.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/SymbolIndexingService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceScanner.kt
Due: kotlin-lint

refactor(compilation): delegate to extracted services in GroovyCompilationService
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
Due: kotlin-lint

fix(compilation): add delegation methods and fix API mismatches in GroovyCompilationService
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/GroovyCompilationService.kt
Due: kotlin-lint

refactor(lsp): update consumers to use extracted compilation services
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyWorkspaceService.kt
Due: kotlin-lint
