Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

feat(gradle): implement robust JDK compatibility and failure handling
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleCompatibilityService.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolver.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzer.kt
  groovy-build-tool/src/main/resources/gradle-compatibility.json
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleCompatibilityServiceTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverRetryTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzerTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
Due: kotlin-lint

docs(workflow): add deterministic shipping protocol
  .agent/workflows/ship.md
Due: markdown-lint

docs(workflow): refine PR body creation instructions
  .agent/workflows/ship.md
Due: markdown-lint

fix(lsp): unused imports and missing references
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/SynchronizingTestLanguageClient.kt
Due: kotlin-lint

ci(copilot): install lefthook 2.0.13 to match local env
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, workflow-lint

ci(copilot): install lefthook 2.0.13 (#591)
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, workflow-lint

fix(gradle): address PR review comments
  .agent/workflows/ship.md
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolver.kt
  groovy-build-tool/src/main/resources/gradle-compatibility.json
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleCompatibilityServiceTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverTest.kt
Due: kotlin-lint, markdown-lint

feat(gradle): implement robust JDK compatibility and ship workflow (#590)
  .agent/workflows/ship.md
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleCompatibilityService.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolver.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzer.kt
  groovy-build-tool/src/main/resources/gradle-compatibility.json
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleCompatibilityServiceTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverRetryTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleDependencyResolverTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleFailureAnalyzerTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/SynchronizingTestLanguageClient.kt
Due: kotlin-lint, markdown-lint

fix(diagnostics): propagate cancellations and guard spock paths
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/ParserDiagnosticProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRule.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/ParserDiagnosticProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRuleTest.kt
  tests/e2e/resources/scenarios/diagnostics-jenkins-custom-rules.yaml
Due: kotlin-lint, yaml-lint

ci(copilot): add gradle caching step
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, workflow-lint

ci(copilot): add gradle caching (#594)
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, workflow-lint

feat(jenkins): expand pipeline metadata with credentials, kubernetes, and workflow steps (#595)
  groovy-jenkins/BUNDLED_STUBS_TODO.md
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/StableStepDefinitions.kt
  groovy-jenkins/src/main/resources/jenkins-stubs-metadata.json
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/StableStepDefinitionsTest.kt
Due: kotlin-lint, markdown-lint

fix(diagnostics): propagate cancellations and guard spock paths (#593)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/ParserDiagnosticProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRule.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/ParserDiagnosticProviderTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRuleTest.kt
  tests/e2e/resources/scenarios/diagnostics-jenkins-custom-rules.yaml
Due: kotlin-lint, yaml-lint

ci(copilot): optimize environment with lint tools, Go 1.25.5 and Gradle caching
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, workflow-lint

chore: optimize review workflow with uv and pinned tool versions
  .agent/workflows/review.md
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, workflow-lint, markdown-lint

chore: optimize review workflow with uv and pinned tools (#598)
  .agent/workflows/review.md
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, workflow-lint, markdown-lint

feat(viz): add Compose Desktop AST visualizer
  settings.gradle.kts
  viz/desktop/build.gradle.kts
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/Main.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/AstTreeView.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/CodePanel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/NodeDetailsPanel.kt
Due: kotlin-lint

fix(viz): resolve build and runtime issues in desktop visualizer
  build.gradle.kts
  settings.gradle.kts
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
Due: kotlin-lint

feat(jenkins): implement context-aware declarative pipeline completions
  .agent/workflows/review.md
  .github/workflows/copilot-setup-steps.yml
  AGENTS.md
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/declarative/DeclarativePipelineSchema.kt
  groovy-jenkins/src/main/resources/schemas/declarative-pipeline-schema.json
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetectorTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/declarative/DeclarativePipelineSchemaTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SnippetBuilder.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsDeclarativeCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProviderTest.kt
  kb/DECLARATIVE_SCHEMA_AUTOMATION_PLAN.md
Due: kotlin-lint, yaml-lint, workflow-lint, markdown-lint

chore: remove copilot-setup-steps.yml from tracking in this branch
  .github/workflows/copilot-setup-steps.yml
Due: yaml-lint, workflow-lint

feat(viz): Groovy AST Visualizer - Phase 1 (Compose Desktop) (#602)
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  viz/ast-model/build.gradle.kts
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/AstNodeDto.kt
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/RangeDto.kt
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/SymbolInfoDto.kt
  viz/ast-model/src/commonMain/kotlin/com/github/albertocavalcante/gvy/viz/model/TypeInfoDto.kt
  viz/ast-model/src/commonTest/kotlin/com/github/albertocavalcante/gvy/viz/model/AstNodeDtoSerializationTest.kt
  viz/ast-model/src/jvmMain/kotlin/com/github/albertocavalcante/gvy/viz/converters/CoreAstConverter.kt
  viz/ast-model/src/jvmMain/kotlin/com/github/albertocavalcante/gvy/viz/converters/NativeAstConverter.kt
  viz/ast-model/src/jvmTest/kotlin/com/github/albertocavalcante/gvy/viz/converters/CoreAstConverterTest.kt
  viz/ast-model/src/jvmTest/kotlin/com/github/albertocavalcante/gvy/viz/converters/NativeAstConverterTest.kt
  viz/desktop/build.gradle.kts
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/Main.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/state/AstViewModel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/AstVisualizerApp.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/AstTreeView.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/CodePanel.kt
  viz/desktop/src/main/kotlin/com/github/albertocavalcante/gvy/viz/desktop/ui/components/NodeDetailsPanel.kt
Due: kotlin-lint

fix(jenkins): address PR review comments and improve context detection
  AGENTS.md
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/declarative/DeclarativePipelineSchema.kt
  groovy-jenkins/src/main/resources/schemas/declarative-pipeline-schema.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsBundledCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsDeclarativeCompletionTest.kt
  kb/DECLARATIVE_SCHEMA_AUTOMATION_PLAN.md
Due: kotlin-lint, markdown-lint

fix(parser-core): unblock lintFix by addressing detekt violations (#600)
  indexer/core/src/main/kotlin/com/github/albertocavalcante/groovylsp/indexing/UnifiedIndexer.kt
  indexer/core/src/test/kotlin/com/github/albertocavalcante/groovylsp/indexing/UnifiedIndexerTest.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/SourcePositionCommentParser.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/declarations/ResolvedTypeDeclaration.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/model/SymbolReference.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/reflectionmodel/ReflectionEnumConstantDeclaration.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/reflectionmodel/ReflectionEnumDeclaration.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/typeinference/LeastUpperBoundLogic.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/types/ResolvedPrimitiveType.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/utils/StringEscapeUtils.kt
Due: kotlin-lint

fix(jenkins): add missing post condition sections and improve block detection robustness
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
  groovy-jenkins/src/main/resources/schemas/declarative-pipeline-schema.json
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionContextIntegrationTest.kt
Due: kotlin-lint

feat(jenkins): improve declarative context detection and script block support
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
  groovy-jenkins/src/main/resources/schemas/declarative-pipeline-schema.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionContextIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsDeclarativeCompletionTest.kt
Due: kotlin-lint

feat(jenkins): implement context-aware declarative pipeline completions (#603)
  .github/workflows/copilot-setup-steps.yml
  AGENTS.md
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetector.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/declarative/DeclarativePipelineSchema.kt
  groovy-jenkins/src/main/resources/schemas/declarative-pipeline-schema.json
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/completion/JenkinsContextDetectorTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/metadata/declarative/DeclarativePipelineSchemaTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/SnippetBuilder.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/JenkinsBundledCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionContextIntegrationTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsDeclarativeCompletionTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/JenkinsStepCompletionProviderTest.kt
  kb/DECLARATIVE_SCHEMA_AUTOMATION_PLAN.md
Due: kotlin-lint, yaml-lint, workflow-lint, markdown-lint

fix(deps): replace deprecated Aether ServiceLocator
  gradle/libs.versions.toml
  groovy-build-tool/build.gradle.kts
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/AetherSessionFactory.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/BuiltinRulesTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRuleTest.kt
Due: kotlin-lint

fix(deps): replace deprecated Aether ServiceLocator (#606)
  gradle/libs.versions.toml
  groovy-build-tool/build.gradle.kts
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/AetherSessionFactory.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/BuiltinRulesTest.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/builtin/SpockTestStructureRuleTest.kt
Due: kotlin-lint

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
