Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

feat(parser): add parser/api module with common interfaces
  parser/api/build.gradle.kts
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParseUnit.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParserCapabilities.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParserProvider.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/Diagnostic.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/NodeInfo.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/Position.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/SymbolInfo.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/TypeInfo.kt
  parser/api/src/test/kotlin/com/github/albertocavalcante/groovyparser/api/ParserApiTest.kt
  settings.gradle.kts
Due: kotlin-lint

fix: address review feedback
  parser/api/build.gradle.kts
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParserCapabilities.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParserProvider.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/Position.kt
Due: kotlin-lint

feat(parser): add parser/api module with common interfaces (#558)
  parser/api/build.gradle.kts
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParseUnit.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParserCapabilities.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/ParserProvider.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/Diagnostic.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/NodeInfo.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/Position.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/SymbolInfo.kt
  parser/api/src/main/kotlin/com/github/albertocavalcante/groovyparser/api/model/TypeInfo.kt
  parser/api/src/test/kotlin/com/github/albertocavalcante/groovyparser/api/ParserApiTest.kt
  settings.gradle.kts
Due: kotlin-lint

feat(parser): implement ParserProvider in native and core modules
  parser/core/build.gradle.kts
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/GroovyAstConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParseUnit.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParserProvider.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/StaticGroovyResolver.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/cache/Cache.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/contexts/ClassContext.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/typeinference/TypeExtractor.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/FileBasedParsingTest.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeClonerTest.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/expr/GroovySpecificExpressionTest.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParserProviderTest.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/utils/NodeUtilsTest.kt
  parser/native/build.gradle.kts
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParseUnit.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProvider.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProviderTest.kt
Due: kotlin-lint

fix(ci): trigger build for parser module changes
  .github/workflows/ci.yml
Due: yaml-lint, workflow-lint

feat(workflow): add Claude auto-fix workflow for TDD-driven bug fixes
  .github/workflows/claude-auto-fix.yml
Due: yaml-lint, workflow-lint

fix: address PR review comments
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParserProviderTest.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParseUnit.kt
Due: kotlin-lint

fix: refactor symbols implementation and inconsistent URI handling
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParseUnit.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParseUnit.kt
Due: kotlin-lint

style: apply spotless formatting
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParseUnit.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProviderTest.kt
Due: kotlin-lint

fix: clean up FQNs and handle invalid 1-based positions in NativeParseUnit
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParseUnit.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProviderTest.kt
Due: kotlin-lint

test: enhance unit test coverage for ParserProvider #559
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParserProviderTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProviderTest.kt
Due: kotlin-lint

style: apply spotless formatting
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParseUnit.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParserProviderTest.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProviderTest.kt
Due: kotlin-lint

fix: address automated review feedback (ranges, package names, comments)
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParseUnit.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProviderTest.kt
Due: kotlin-lint

feat(parser): implement ParserProvider in native and core modules (#559)
  .github/workflows/ci.yml
  parser/core/build.gradle.kts
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/internal/GroovyAstConverter.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParseUnit.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParserProvider.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/StaticGroovyResolver.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/cache/Cache.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/contexts/ClassContext.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/resolution/typeinference/TypeExtractor.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/FileBasedParsingTest.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/NodeClonerTest.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/ast/expr/GroovySpecificExpressionTest.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParserProviderTest.kt
  parser/core/src/test/kotlin/com/github/albertocavalcante/groovyparser/utils/NodeUtilsTest.kt
  parser/native/build.gradle.kts
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParseUnit.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProvider.kt
  parser/native/src/test/kotlin/com/github/albertocavalcante/groovyparser/provider/NativeParserProviderTest.kt
Due: kotlin-lint, yaml-lint, workflow-lint

refactor(jenkins): migrate PluginDownloader to Ktor
  .agent/workflows/solve.md
  commit_output.txt
  gradle/libs.versions.toml
  groovy-jenkins/build.gradle.kts
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/extraction/PluginDownloader.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/extraction/PluginDownloaderTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/jenkins/ExtractCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/JenkinsMetadataService.kt
Due: kotlin-lint, markdown-lint

docs: reorganize docs and kb
  .agent/rules/git-workflow.md
  AGENTS.md
  README.md
  docs/README.md
  docs/lsp/feature-support.md
  docs/lsp/usage.md
  docs/overview.md
  docs/roadmap.md
  docs/roadmap/README.md
  docs/roadmap/specs/GDSL_EXECUTION_ENGINE.md
  docs/roadmap/specs/INDEX.md
  docs/roadmap/specs/USER_OVERRIDES.md
  docs/roadmap/specs/VERSIONED_METADATA.md
  docs/specs/INDEX.md
  kb/ARCHITECTURE.md
  kb/BSP_CLIENT_IMPLEMENTATION.md
  kb/CODENARC.md
  kb/GRADLE_BUILD_SERVER_INTEGRATION.md
  kb/GRADLE_TOOLING_JDK_COMPAT_PLAN.md
  kb/JENKINS_EXTRACTOR_STANDALONE_MIGRATION.md
  kb/JENKINS_INTELLISENSE_ARCHITECTURE.md
  kb/OPTIMIZATION_PLAN.md
  kb/PHASE_2_GROOVY_OPERATORS_PLAN.md
  kb/PHASE_3_PERFORMANCE_PLAN.md
  kb/README.md
  kb/RECURSIVE_VISITOR_PARITY.md
  kb/SPOCK_AST_SUPPORT.md
  kb/SPOCK_SUPPORT.md
  kb/extension/COPILOT.md
  kb/extension/RELEASES.md
  kb/extension/TESTING.md
  kb/roadmap/README.md
  kb/specs/GDSL_EXECUTION_ENGINE.md
  kb/specs/INDEX.md
  kb/specs/USER_OVERRIDES.md
  kb/specs/VERSIONED_METADATA.md
  kb/testing/e2e-harness.md
Due: markdown-lint

chore: remove accidental commit_output.txt
  commit_output.txt
Due: none

docs: restore markdown links in README
  README.md
Due: none

docs: reorganize docs and kb (#563)
  .agent/rules/git-workflow.md
  AGENTS.md
  README.md
  docs/README.md
  docs/lsp/feature-support.md
  docs/lsp/usage.md
  docs/overview.md
  docs/roadmap.md
  docs/roadmap/README.md
  docs/roadmap/specs/GDSL_EXECUTION_ENGINE.md
  docs/roadmap/specs/INDEX.md
  docs/roadmap/specs/USER_OVERRIDES.md
  docs/roadmap/specs/VERSIONED_METADATA.md
  docs/specs/INDEX.md
  kb/ARCHITECTURE.md
  kb/BSP_CLIENT_IMPLEMENTATION.md
  kb/CODENARC.md
  kb/GRADLE_BUILD_SERVER_INTEGRATION.md
  kb/GRADLE_TOOLING_JDK_COMPAT_PLAN.md
  kb/JENKINS_EXTRACTOR_STANDALONE_MIGRATION.md
  kb/JENKINS_INTELLISENSE_ARCHITECTURE.md
  kb/OPTIMIZATION_PLAN.md
  kb/PHASE_2_GROOVY_OPERATORS_PLAN.md
  kb/PHASE_3_PERFORMANCE_PLAN.md
  kb/README.md
  kb/RECURSIVE_VISITOR_PARITY.md
  kb/SPOCK_AST_SUPPORT.md
  kb/SPOCK_SUPPORT.md
  kb/extension/COPILOT.md
  kb/extension/RELEASES.md
  kb/extension/TESTING.md
  kb/roadmap/README.md
  kb/specs/GDSL_EXECUTION_ENGINE.md
  kb/specs/INDEX.md
  kb/specs/USER_OVERRIDES.md
  kb/specs/VERSIONED_METADATA.md
  kb/testing/e2e-harness.md
Due: markdown-lint

test: use @TempDir and ensure HttpClient closure
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/extraction/PluginDownloaderTest.kt
Due: kotlin-lint

fix(e2e): wrap suspend PluginDownloader.download call in runBlocking
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-lint

refactor(e2e): use imports instead of FQNs in StepExecutors
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-lint

refactor(jenkins): migrate PluginDownloader to Ktor (#562)
  .agent/workflows/solve.md
  gradle/libs.versions.toml
  groovy-jenkins/build.gradle.kts
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/extraction/PluginDownloader.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/extraction/PluginDownloaderTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/jenkins/ExtractCommand.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/JenkinsMetadataService.kt
  tests/e2e/kotlin/com/github/albertocavalcante/groovylsp/e2e/StepExecutors.kt
Due: kotlin-lint, markdown-lint

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
