Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

kotlin-lint:
  run: ./gradlew spotlessCheck

extension-lint:
  run: cd editors/code && pnpm run check-types && pnpm run lint

yaml-lint:
  run: yq '.' {staged_files} > /dev/null

python-lint:
  run: ruff format --check {staged_files} && ruff check {staged_files}

shell-lint:
  run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}

workflow-lint:
  run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}

markdown-lint:
  run: dprint check --config dprint.json {staged_files}

refactor(e2e): extract BazelRunfiles utility for path resolution
  MODULE.bazel
  tests/e2e/kotlin/com/github/albertocavalcante/gvy/gls/e2e/BazelRunfiles.kt
  tests/e2e/kotlin/com/github/albertocavalcante/gvy/gls/e2e/LanguageServerSessionFactory.kt
  tests/e2e/kotlin/com/github/albertocavalcante/gvy/gls/e2e/StepExecutors.kt
Due: kotlin-lint

fix(build-tool): correct package name and module path in TestResources
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/TestResources.kt
Due: kotlin-lint

fix(build-tool): update TestResources import to new package
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/gradle/GradleBuildToolTest.kt
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/maven/MavenBuildToolTest.kt
Due: kotlin-lint

fix(bazel): skip Gradle/Maven integration tests in Bazel sandbox
  build-tool/BUILD.bazel
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/TestEnvironment.kt
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/gradle/GradleBuildToolTest.kt
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/maven/MavenBuildToolTest.kt
  tests/e2e/kotlin/com/github/albertocavalcante/gvy/gls/e2e/BazelRunfiles.kt
  tests/e2e/kotlin/com/github/albertocavalcante/gvy/gls/e2e/ScenarioRunnerTest.kt
Due: kotlin-lint

ci(bazel): add test output and artifact upload on failure
  .github/workflows/ci-bazel.yml
Due: yaml-lint, workflow-lint

test(bazel): add debug logging to TestEnvironment for Bazel detection
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/TestEnvironment.kt
Due: kotlin-lint

fix(bazel): use resources for test fixtures in build-tool
  build-tool/BUILD.bazel
Due: none

fix(bazel): add RUNFILES_DIR support for test resources
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/TestResources.kt
Due: kotlin-lint

chore(bazel): add logging to test resource lookup
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/TestResources.kt
Due: kotlin-lint

chore(bazel): list runfiles directory contents
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/TestResources.kt
Due: kotlin-lint

fix(bazel): split resources and data for test files
  build-tool/BUILD.bazel
  build-tool/src/test/kotlin/com/github/albertocavalcante/gvy/build/TestResources.kt
Due: kotlin-lint

fix(bazel): allow E2E tests to access Gradle via no-sandbox
  tests/BUILD.bazel
Due: none

fix(bazel): add groovy-xml dependency for CodeNarc XML parsing
  MODULE.bazel
  gls/BUILD.bazel
Due: none

fix(bazel): exclude Groovy 3.x transitive from rewrite-groovy
  MODULE.bazel
  MODULE.bazel.lock
Due: none

fix(bazel): add explicit Groovy dep to parser/rewrite
  parser/rewrite/BUILD.bazel
Due: none

fix(bazel): add explicit Groovy dep to all rewrite-groovy consumers
  fmt/BUILD.bazel
  refactor/openrewrite/rewrite-codenarc/BUILD.bazel
  semantics/openrewrite/BUILD.bazel
Due: none

fix(vscode): prevent postinstall infinite recursion
  editors/code/package.json
Due: none

fix(scripts): add OOM resilience and smart diff compression to pr.py
  .agent/scripts/pr.py
Due: python-lint

fix(scripts): address review feedback
  .agent/scripts/pr.py
Due: python-lint

fix: address review feedback for pr.py OOM resilience
  .agent/scripts/pr.py
Due: python-lint

fix(scripts): add OOM resilience and smart diff compression to pr.py (#1032)
  .agent/scripts/pr.py
Due: python-lint

chore(bazel): clean up dependencies based on JdepsMerge analysis
  bsp/maven-bsp/BUILD.bazel
  build-tool/BUILD.bazel
  common/BUILD.bazel
  dsl/dsld/BUILD.bazel
  ext/junit/BUILD.bazel
  ext/spock/BUILD.bazel
  ext/testing/BUILD.bazel
  fmt/BUILD.bazel
  gls/BUILD.bazel
  jenkins/BUILD.bazel
  parser/rewrite/BUILD.bazel
  refactor/openrewrite/rewrite-codenarc/BUILD.bazel
  semantics/openrewrite/BUILD.bazel
  test-utils/BUILD.bazel
  viz/ast-model/BUILD.bazel
Due: none

chore(bazel): clean up dependencies based on JdepsMerge analysis (#1033)
  bsp/maven-bsp/BUILD.bazel
  build-tool/BUILD.bazel
  common/BUILD.bazel
  dsl/dsld/BUILD.bazel
  ext/junit/BUILD.bazel
  ext/spock/BUILD.bazel
  ext/testing/BUILD.bazel
  fmt/BUILD.bazel
  gls/BUILD.bazel
  jenkins/BUILD.bazel
  parser/rewrite/BUILD.bazel
  refactor/openrewrite/rewrite-codenarc/BUILD.bazel
  semantics/openrewrite/BUILD.bazel
  test-utils/BUILD.bazel
  viz/ast-model/BUILD.bazel
Due: none

fix(definition): resolve static method calls on class names (#813)
  .github/workflows/ci.yml
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/definition/resolution/ResolutionNodeUtils.kt
  gls/src/test/kotlin/com/github/albertocavalcante/gvy/gls/providers/definition/resolution/ResolutionNodeUtilsTest.kt
Due: kotlin-lint, yaml-lint, workflow-lint

fix(tests): use assertTrue instead of assert for reliable assertions
  gls/src/test/kotlin/com/github/albertocavalcante/gvy/gls/providers/definition/resolution/ResolutionNodeUtilsTest.kt
Due: kotlin-lint

fix(definition): resolve static method calls on class names (#1034)
  .github/workflows/ci.yml
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/definition/resolution/ResolutionNodeUtils.kt
  gls/src/test/kotlin/com/github/albertocavalcante/gvy/gls/providers/definition/resolution/ResolutionNodeUtilsTest.kt
Due: kotlin-lint, yaml-lint, workflow-lint

feat(completion): add CompletionPriority for consistent sorting
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/completion/CompletionPriority.kt
  gls/src/test/kotlin/com/github/albertocavalcante/gvy/gls/providers/completion/CompletionPriorityTest.kt
Due: kotlin-lint

fix(completion): add priority validation and edge case tests
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/completion/CompletionPriority.kt
  gls/src/test/kotlin/com/github/albertocavalcante/gvy/gls/providers/completion/CompletionPriorityTest.kt
Due: kotlin-lint

feat(completion): add CompletionPriority for consistent sorting (#1035)
  gls/src/main/kotlin/com/github/albertocavalcante/gvy/gls/providers/completion/CompletionPriority.kt
  gls/src/test/kotlin/com/github/albertocavalcante/gvy/gls/providers/completion/CompletionPriorityTest.kt
Due: kotlin-lint

feat(build): add Buck2 as third build system for comparison
  .buckconfig
  .buckroot
  .buckversion
  .github/workflows/ci-buck2.yml
  .gitignore
  BUCK
  examples/hello/BUCK
  examples/hello/README.md
  examples/hello/greet.sh
  platforms/BUCK
  third_party/buck2/BUCK
  toolchains/BUCK
Due: yaml-lint, shell-lint, workflow-lint, markdown-lint

fix: address review feedback for Buck2 scaffolding
  .buckversion
  .github/workflows/ci-buck2.yml
  examples/hello/README.md
Due: yaml-lint, workflow-lint, markdown-lint

fix: address security and consistency review feedback
  .github/workflows/ci-buck2.yml
  toolchains/BUCK
Due: yaml-lint, workflow-lint

fix: update macOS runner to macos-15 for consistency
  .github/workflows/ci-buck2.yml
Due: yaml-lint, workflow-lint

feat(ci): add prelude caching and TODO for setup action
  .github/workflows/ci-buck2.yml
Due: yaml-lint, workflow-lint

feat(build): add Buck2 as third build system for comparison (#1036)
  .buckconfig
  .buckroot
  .buckversion
  .github/workflows/ci-buck2.yml
  .gitignore
  BUCK
  examples/hello/BUCK
  examples/hello/README.md
  examples/hello/greet.sh
  platforms/BUCK
  third_party/buck2/BUCK
  toolchains/BUCK
Due: yaml-lint, shell-lint, workflow-lint, markdown-lint

wip: add Kotlin 2.3.0 toolchain for Buck2
  .buckconfig
  BUCK
  examples/hello/BUCK
  examples/hello/README.md
  examples/hello/greet.sh
  examples/kotlin/BUCK
  examples/kotlin/Hello.kt
  third_party/BUCK
  third_party/kotlin/BUCK
  third_party/kotlin/defs.bzl
  toolchains/BUCK
  toolchains/kotlin.bzl
Due: kotlin-lint, shell-lint, markdown-lint

fix(build): make Kotlin toolchain CI-ready
  .buckconfig
  .github/workflows/ci-buck2.yml
Due: yaml-lint, workflow-lint

fix(build): address CI failures and review comments
  .github/workflows/ci-buck2.yml
  third_party/kotlin/BUCK
  third_party/kotlin/defs.bzl
  toolchains/BUCK
Due: yaml-lint, workflow-lint

fix(build): revert to '== None' as Starlark does not support 'is'
  third_party/kotlin/defs.bzl
Due: none

Path conditions:
  kotlin-lint: any of: **/*.kt
  extension-lint: any of: editors/code/**/*.ts
  yaml-lint: any of: **/*.{yml,yaml}
  python-lint: any of: **/*.py
  shell-lint: any of: **/*.sh
  workflow-lint: any of: .github/workflows/*.{yml,yaml}
  markdown-lint: any of: **/*.md
