Repository albertocavalcante/gvy: changes, and which lefthook commands are due for each by the changed paths.
All: kotlin-lint, extension-lint, yaml-lint, python-lint, shell-lint, workflow-lint, markdown-lint

lefthook.yml:

pre-commit:
  commands:
    branch-check:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [ "$branch" = "main" ]; then
          echo "Direct commits to main branch are forbidden!"
          exit 1
        fi
    kotlin-lint:
      glob: '**/*.kt'
      run: ./gradlew spotlessCheck
    extension-lint:
      glob: 'editors/code/**/*.ts'
      run: cd editors/code && pnpm run check-types && pnpm run lint
    yaml-lint:
      glob: '**/*.{yml,yaml}'
      run: yq '.' {staged_files} > /dev/null # Requires mikefarah/yq v4+
    python-lint:
      glob: '**/*.py'
      run: ruff format --check {staged_files} && ruff check {staged_files}
    shell-lint:
      glob: '**/*.sh'
      run: shellcheck --rcfile tools/lint/shellcheckrc {staged_files}
    workflow-lint:
      glob: '.github/workflows/*.{yml,yaml}'
      run: ghalint -c tools/lint/ghalint.yaml run && actionlint {staged_files}
    markdown-lint:
      glob: '**/*.md'
      run: dprint check --config dprint.json {staged_files}

commit-msg:
  commands:
    "conventional-commit":
      run: |
        commit_msg=$(head -n1 {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\([^)]+\))?!?: .+$"; then
          echo "Error: Commit message does not follow conventional commits format."
          echo "Example: feat(api): add new endpoint"
          exit 1
        fi

refactor: extract helper methods to reduce cyclomatic complexity
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraph.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/AbstractDiagnosticRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
Due: kotlin-lint

fix(providers): correct star import handling and type name display
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraph.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
Due: kotlin-lint

refactor(inlay-hints): group parameters into ReceiverResolutionContext
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
Due: kotlin-lint

refactor(inlayhints): rename receiverContext to resolutionContext
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
Due: kotlin-lint

refactor: address lint/detekt findings phase 1
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParserTest.kt
Due: kotlin-lint

refactor(hover): extract renderers to reduce HoverContentGenerator function count
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/DeclarationNodeRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/ExpressionNodeRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverContentGenerator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MetadataNodeRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallDisplayFormatter.kt
Due: kotlin-lint

refactor: address code review feedback on hover refactoring
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/ExpressionNodeRenderer.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParserTest.kt
Due: kotlin-lint

refactor(hover): split HoverContentGenerator into specialized renderers (#897)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/DeclarationNodeRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/ExpressionNodeRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/HoverContentGenerator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MetadataNodeRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/hover/MethodCallDisplayFormatter.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParserTest.kt
Due: kotlin-lint

refactor(startup): extract JdkValidator and WorkspaceIndexer
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/CoroutineUtils.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/JdkValidator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/WorkspaceIndexer.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/coverage/parsers/JacocoXmlParserTest.kt
Due: kotlin-lint

fix: address PR review feedback
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/JdkValidator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/WorkspaceIndexer.kt
Due: kotlin-lint

feat(deps): add dependency tree view for VS Code (#899)
  editors/code/client/src/extension.ts
  editors/code/client/src/features/dependencies/DependencyService.ts
  editors/code/client/src/features/dependencies/DependencyTreeProvider.ts
  editors/code/client/src/features/dependencies/index.ts
  editors/code/package.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/GroovyLanguageServer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyDtos.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyRequestHandler.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyRequestHandlerTest.kt
Due: kotlin-lint, extension-lint

refactor(inlayhints): group parameters with ReceiverResolutionContext (#896)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/inlayhints/InlayHintsProvider.kt
Due: kotlin-lint

refactor(providers): extract helper methods to reduce complexity (#895)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/DependencyGraph.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/InlineTagRenderer.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/completion/CompletionProvider.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/definition/resolution/LocalSymbolResolutionStrategy.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/diagnostics/rules/AbstractDiagnosticRule.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/semantictokens/GroovySemanticTokenProvider.kt
Due: kotlin-lint

refactor(startup): extract JdkValidator and WorkspaceIndexer (#898)
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/documentation/DocFormatter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/CoroutineUtils.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/JdkValidator.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/ProjectStartupManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/WorkspaceIndexer.kt
Due: kotlin-lint

refactor(deps): move dependency metadata extraction to BuildTool layer
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DependencyMetadata.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DependencyMetadataTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyRequestHandler.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyRequestHandlerTest.kt
Due: kotlin-lint

refactor(deps): extract parseJarFileName to shared DependencyMetadata companion
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DependencyMetadata.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
Due: kotlin-lint

test(deps): add comprehensive tests for dependency metadata extraction
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DependencyMetadataTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildToolTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildToolTest.kt
Due: kotlin-lint

refactor(deps): move dependency metadata extraction to BuildTool layer (#907)
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/BuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DependencyMetadata.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildTool.kt
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/DependencyMetadataTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildToolTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildToolTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyRequestHandler.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/dependencies/DependencyRequestHandlerTest.kt
Due: kotlin-lint

feat(testing): improve test runner with LSP CodeLens and result matching
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/TestCodeLensProvider.ts
  editors/code/client/src/features/testing/TestEventConsumer.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
  editors/code/package.json
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProviderTest.kt
Due: kotlin-lint, extension-lint

fix(testing): improve findItemByName with parent ID for better matching
  editors/code/client/src/features/testing/TestEventConsumer.ts
Due: extension-lint

fix(testing): enhance JAVA_HOME validation for security
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
Due: extension-lint

fix(testing): make error message more specific about test item
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
Due: extension-lint

test(lsp): use JUnit assertions consistently
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProviderTest.kt
Due: kotlin-lint

fix(testing): add cycle detection to collectAllTestItems
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
Due: extension-lint

fix(testing): improve normalizeTestId to avoid consecutive underscores
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
Due: extension-lint

fix(testing): add warnings for result map collisions
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
Due: extension-lint

docs(testing): document nested parentheses limitation in @Test regex
  editors/code/client/src/features/testing/TestCodeLensProvider.ts
Due: extension-lint

docs: improve user-facing descriptions and add scope comment
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/package.json
Due: extension-lint

fix: correct repository coordinates from GroovyLanguageServer to gvy
  bsp/bsp-core/build.gradle.kts
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifWriter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/CheckCommand.kt
Due: kotlin-lint

fix(meta): correct repository coordinates to albertocavalcante/gvy (#911)
  bsp/bsp-core/build.gradle.kts
  groovy-diagnostics/sarif/src/main/kotlin/com/github/albertocavalcante/diagnostics/sarif/SarifWriter.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/CheckCommand.kt
Due: kotlin-lint

test(testing): add adversarial tests for security and edge cases
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
Due: extension-lint

refactor: DRY repository URLs in publishing configs
  bsp/bsp-core/build.gradle.kts
  bsp/maven-bsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/CheckCommand.kt
  parser/core/build.gradle.kts
Due: kotlin-lint

refactor(build): DRY repository URLs in publishing configs (#912)
  bsp/bsp-core/build.gradle.kts
  bsp/maven-bsp/build.gradle.kts
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/CheckCommand.kt
  parser/core/build.gradle.kts
Due: kotlin-lint

refactor(tests): remove debug println statements
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/integration/MavenBspIntegrationTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildToolTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/RealProjectIntegrationTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildToolTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginMetadataExtractorIntegrationTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProviderTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/gdsl/GdslParserTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/stubs/JenkinsStubGeneratorTest.kt
Due: kotlin-lint

refactor: add detekt rule to forbid println and remove from test
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProviderTest.kt
  tools/lint/detekt.yml
Due: kotlin-lint, yaml-lint

feat(testing): improve test runner with LSP CodeLens and result matching (#908)
  bsp/maven-bsp/src/test/kotlin/com/github/groovylsp/bsp/maven/integration/MavenBspIntegrationTest.kt
  editors/code/client/src/features/testing/LSPTestExecutionService.ts
  editors/code/client/src/features/testing/TestCodeLensProvider.ts
  editors/code/client/src/features/testing/TestEventConsumer.ts
  editors/code/client/test/unit/features/testing/LSPTestExecutionService.test.ts
  editors/code/client/test/unit/features/testing/TestCodeLensProvider.test.ts
  editors/code/client/test/unit/features/testing/TestEventConsumer.test.ts
  editors/code/package.json
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleBuildToolTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/jdk/RealProjectIntegrationTest.kt
  groovy-build-tool/src/test/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildToolTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginMetadataExtractorIntegrationTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/VarsGlobalVariableProviderTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/gdsl/GdslParserTest.kt
  groovy-jenkins/src/test/kotlin/com/github/albertocavalcante/groovyjenkins/stubs/JenkinsStubGeneratorTest.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProvider.kt
  groovy-lsp/src/test/kotlin/com/github/albertocavalcante/groovylsp/providers/codelens/TestCodeLensProviderTest.kt
  tools/lint/detekt.yml
Due: kotlin-lint, extension-lint, yaml-lint

fix(thread-safety): prevent race conditions in semantic DB and caches
  bsp/bsp-core/src/main/kotlin/com/github/groovylsp/bsp/model/BuildTargetCache.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/services/GroovyTextDocumentService.kt
  semantics/core/src/main/kotlin/com/github/albertocavalcante/gvy/semantics/db/GroovySemanticDB.kt
Due: kotlin-lint

perf(data-structures): optimize caches, add determinism, reduce allocations
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/gradle/GradleConnectionPool.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cache/SemanticCache.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/SymbolIndexingService.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/compilation/WorkspaceManager.kt
  parser/core/src/main/kotlin/com/github/albertocavalcante/groovyparser/provider/CoreParseUnit.kt
  parser/native/src/main/kotlin/com/github/albertocavalcante/groovyparser/ast/AstCache.kt
Due: kotlin-lint

fix(resources): prevent resource leaks in processes, streams, and caches
  groovy-build-tool/src/main/kotlin/com/github/albertocavalcante/groovylsp/buildtool/maven/MavenBuildTool.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsContext.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/JenkinsPluginManager.kt
  groovy-jenkins/src/main/kotlin/com/github/albertocavalcante/groovyjenkins/LibrarySourceLoader.kt
  groovy-lsp/src/main/kotlin/com/github/albertocavalcante/groovylsp/cli/LspCommand.kt
Due: kotlin-lint
